#news_edit_container {
  display: block;
  float: left;
  width: 500px;
}

#news_edit_container h3 {
  float: right;
  text-align: right;
  font-size: 16px;
  margin: 10px 0 0 0;
}

#news_edit_container #news_full {
  width: 500px;
  height: 120px;
}

#news_edit_container #news_title {
  width: 500px;
  height: 20px;
  display: block;
  position: relative;
  border: 1px solid #cccccc;
  z-index: 1;
  resize: none;
}

#news_edit_container #news_short {
  width: 500px;
  height: 0px;
  display: block;
  position: relative;
  margin-bottom: 20px;
  border: 1px solid #cccccc;
  z-index: 1;
  resize: none;
}

#news_edit_container .buttons {
  display: block;
  float: right;
  padding-top: 10px;
}

#news_edit_container .buttons #news_submit {
  width: 100px;
  height: 30px;
}

#news {
  text-align: center;
  width: 700px;
  color: black;
}

#news a {
  color: inherit;
}

