<div id="search-header">
  <% form_tag "", :id => "header-search-form" do %>
    <%= link_to "Insira nossa busca no Firefox", "", :id => "firefox-addon" %>

    <%= text_field_tag :q, "", :title => "O que está procurando...?", :class => "clear-on-focus" %>
    <%= submit_tag "Buscar", :id => "search-button" %>
  <% end %>
</div>

<% if params[:q].blank? %>
  <h3>Sua busca não pode ser vazia</h3>
<% elsif @files.empty? %>
  <h3>Nenhum arquivo foi encontrado para sua busca</h3>
<% else %>
  <div id="search-results">
    <%= render :partial => "result", :collection => @files %>
  </div>
<% end %>