<div class="box top_left square">
  <ol>
    <li class="mini active">a</li>
    <li class="mini">b</li>
    <li class="mini">c</li>
  </ol>

  <span class="dimensions">300x250</span>

  <div class="preview a"> <img src="/images/advertising/banner300x250.jpg"></img> </div>
  <div class="preview b"> <img src="/images/advertising/banner300x250.jpg"></img> </div>
  <div class="preview c"> <img src="/images/advertising/banner300x250.jpg"></img> </div>

  <div class="url-container">
    <div class="icon"></div>
    <span class="text-field">
      <span class="left"></span><%= text_field_tag :url %><span class="right"></span>
    </span>
  </div>
</div>

<div class="box top_right square">
  <ol>
    <li class="mini active">a</li>
    <li class="mini">b</li>
    <li class="mini">c</li>
  </ol>

  <span class="dimensions">250x250</span>

  <div class="preview a"> <img src="/images/advertising/banner250x250.jpg"></img> </div>
  <div class="preview b"> <img src="/images/advertising/banner250x250.jpg"></img> </div>
  <div class="preview c"> <img src="/images/advertising/banner250x250.jpg"></img> </div>

  <div class="url-container">
    <div class="icon"></div>
    <span class="text-field">
      <span class="left"></span><%= text_field_tag :url %><span class="right"></span>
    </span>
  </div>
</div>

<div class="box bottom_left square">
  <ol>
    <li class="mini active">a</li>
    <li class="mini">b</li>
    <li class="mini">c</li>
  </ol>

  <span class="dimensions">336x280</span>

  <div class="preview a"> <img src="/images/advertising/banner336x280.jpg"></img> </div>
  <div class="preview b"> <img src="/images/advertising/banner336x280.jpg"></img> </div>
  <div class="preview c"> <img src="/images/advertising/banner336x280.jpg"></img> </div>

  <div class="url-container">
    <div class="icon"></div>
    <span class="text-field">
      <span class="left"></span><%= text_field_tag :url %><span class="right"></span>
    </span>
  </div>
</div>

<div class="box bottom_right square">
  <ol>
    <li class="mini active">a</li>
    <li class="mini">b</li>
    <li class="mini">c</li>
  </ol>

  <span class="dimensions">180x150</span>

  <div class="preview a"> <img src="/images/advertising/banner180x150.jpg"></img> </div>
  <div class="preview b"> <img src="/images/advertising/banner180x150.jpg"></img> </div>
  <div class="preview c"> <img src="/images/advertising/banner180x150.jpg"></img> </div>

  <div class="url-container">
    <div class="icon"></div>
    <span class="text-field">
      <span class="left"></span><%= text_field_tag :url %><span class="right"></span>
    </span>
  </div>
</div>
