<%= link_to "Nova", new_admin_news_path %><br/><br/>

<% @news.each do |n| %>
  <span class="actions">
    <%= link_to "Deletar", {:action => 'destroy', :id => n.id}, :method => :delete %>
    <%= link_to "Editar", {:action => 'edit', :id => n.id} %>
  </span>
  <%= link_to n.short, admin_news_path(n) %><br/>
<% end %>
