<ul class="tabs tabs-menu">
  <% if @tab_menu_active == :web %>
    <li class="tab-menu active">
  <% else %>
    <li class="tab-menu">
  <% end %>
    <%= link_to "Via Web", new_user_file_path %>
  </li>
  
  <% if @tab_menu_active == :ftp %>
    <li class="tab-menu active">
  <% else %>
    <li class="tab-menu">
  <% end %>
    <%= link_to "Via FTP" %>
  </li>
  
  <% if @tab_menu_active == :remote %>
    <li class="tab-menu active">
  <% else %>
    <li class="tab-menu">
  <% end %>
    <%= link_to "Upload remoto", remote_upload_user_files_path %>
  </li>
</ul>
