<ul class="tabs tabs-menu">
  <li class="tab-menu <%= yield(:send_tab) == "web" ? "active" : "" %>">
    <%= link_to "Via Web", new_user_file_path %>
  </li>

  <li class="tab-menu <%= yield(:send_tab) == "remote" ? "active" : "" %>">
    <%= link_to "Upload remoto", new_remote_upload_path %>
  </li>
</ul>
