<%# Transform into rails form, and should be done. %>
<form>
  <input name="user_file[filename]" id="user_file_filename">
  <input name="user_file[filetype]" id="user_file_filetype">
  <input name="user_file[filesize]" id="user_file_filesize">
  <input name="user_file[filepath]" id="user_file_filepath">
  <input name="user_file[public]" id="user_file_public" value="1">
  <input name="user_file[description]" id="user_file_description">
</form>
