<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <%= javascript_include_tag "jquery", "download_box" %>
    <meta http-equiv="X-UA-Compatible" content="IE=8">
    <script type="text/javascript" charset="utf-8">
      if (!twttr) {
        var twttr = {}
      }

      // Benchmarking load time.
      // twttr.timeTillReadyUnique = '1282516485-57835-42000';
      // twttr.timeTillReadyStart = new Date().getTime();
    </script>

        <script type="text/javascript">
//<![CDATA[
var page={};var onCondition=function(D,C,A,B){D=D;A=A?Math.min(A,5):5;B=B||100;if(D()){C()}else{if(A>1){setTimeout(function(){onCondition(D,C,A-1,B)},B)}}};
//]]>
</script>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<meta content="en-us" http-equiv="Content-Language" />
<meta content="CS Student at UFPR-Brasil, Podcaster and sometimes Blogger" name="description" />
<meta content="no" http-equiv="imagetoolbar" />
<meta content="width = 780" name="viewport" />
<meta content="4FTTxY4uvo0RZTMQqIyhh18HsepyJOctQ+XTOu1zsfE=" name="verify-v1" />
<meta content="1" name="page" />
<meta content="NOODP" name="robots" />
<meta content="n" name="session-loggedin" />
<meta content="rafaelgaspar" name="page-user-screen_name" />
    <title id="page_title">Rafael Gaspar (rafaelgaspar) on Twitter</title>
    <link href="http://a1.twimg.com/a/1282328015/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<link href="http://a1.twimg.com/a/1282328015/images/twitter_57.png" rel="apple-touch-icon" />
<link href="http://twitter.com/oexchange.xrd" rel="http://oexchange.org/spec/0.8/rel/related-target" type="application/xrd+xml" />
    <link rel="alternate" href="http://twitter.com/statuses/user_timeline/6628242.rss" title="rafaelgaspar's Tweets" type="application/rss+xml" />
    <link rel="alternate" href="http://twitter.com/favorites/6628242.rss" title="rafaelgaspar's Favorites" type="application/rss+xml" />
  
    
    <link href="http://a1.twimg.com/a/1282328015/stylesheets/twitter.css?1282343608" media="screen" rel="stylesheet" type="text/css" />
<link href="http://a1.twimg.com/a/1282328015/stylesheets/geo.css?1282343608" media="screen" rel="stylesheet" type="text/css" />
<link href="http://a2.twimg.com/a/1282328015/stylesheets/buttons_new.css?1282343608" media="screen" rel="stylesheet" type="text/css" />
        <style type="text/css">
      
        body {
  background: #642D8B url('http://a2.twimg.com/a/1282328015/images/themes/theme10/bg.gif') fixed repeat;

}

body#show #content .meta a.screen-name,
#content .shared-content .screen-name,
#content .meta .byline a {
  color: #FF0000;
}

/* Link Color */
a,
#content tr.hentry:hover a,
body#profile #content div.hentry:hover a,
#side .stats a:hover span.stats_count,
#side div.user_icon a:hover,
li.verified-profile a:hover,
#side .promotion .definition strong,
p.list-numbers a:hover,
#side div.user_icon a:hover span,
#content .tabMenu li a,
.translator-profile a:hover,
#local_trend_locations li a,
.modal-content .list-slug,
.tweet-label a:hover,
ol.statuses li.garuda-tweet:hover .actions-hover li span a,
ol.statuses li.garuda-tweet .actions-hover li span a:hover {
  color: #FF0000;
}

body,
ul#tabMenu li a, #side .section h1,
#side .stat a,
#side .stats a span.stats_count,
#side div.section-header h1,
#side div.user_icon a,
#side div.user_icon a:hover,
#side div.section-header h3.faq-header,
ul.sidebar-menu li.active a,
li.verified-profile a,
#side .promotion a,
body #content .list-header h2,
p.list-numbers a,
.bar h3 label,
body.timeline #content h1,
.list-header h2 a span,
#content .tabMenu li.active a,
body#direct_messages #content .tabMenu #inbox_tab a,
body#inbox #content .tabMenu #inbox_tab a,
body#sent #content .tabMenu #sent_tab a,
body#direct_messages #content .tabMenu #inbox_tab a,
body#retweets_by_others #content .tabMenu #retweets_by_others_tab a,
body#retweets #content .tabMenu #retweets_tab a,
body#retweeted_by_others #content .tabMenu #retweeted_by_others_tab a,
body#retweeted_of_mine #content .tabMenu #retweeted_of_mine_tab a,
.translator-profile a,
#owners_lists h2 a {
  color: #3D1957;
}

.unconfirmed-email-banner {
  border-bottom: solid 1px #65B0DA;
}
#side_base {
  border-left:1px solid #65B0DA;
  background-color: #7AC3EE;
}

ul.sidebar-menu li.active a,
ul.sidebar-menu li a:hover,
#side div#custom_search.active,
#side .promotion,
.notify div {
  background-color: #8ED7FF;
}

.list-header,
.list-controls,
ul.sidebar-list li.active a,
ul.sidebar-list li a:hover,
.list-header-inner {
  background-color: #7AC3EE !important;
}

#side .actions,
#side .promo,
#design .side-section {
  border: 1px solid #65B0DA;
}

#side div.section-header h3 {
  border-bottom: 1px solid #65B0DA;
}

#side p.sidebar-location {
  border-bottom: 1px dotted #65B0DA;
}

#side hr {
  background: #65B0DA;
  color: #65B0DA;
}

ul.sidebar-menu li.loading a {
  background: #8ED7FF url('http://a1.twimg.com/a/1282328015/images/spinner.gif') no-repeat 171px 0.5em !important;
}

#side .collapsible h2.sidebar-title {
  background: transparent url('http://a2.twimg.com/a/1282328015/images/toggle_up_dark.png') no-repeat center right !important;
}

#side .collapsible.collapsed h2.sidebar-title {
  background: transparent url('http://a1.twimg.com/a/1282328015/images/toggle_down_dark.png') no-repeat center right !important;
}

#side ul.lists-links li a em {
  background: url('http://a3.twimg.com/a/1282328015/images/arrow_right_dark.png') no-repeat left top;
}

#side span.pipe {
  border-left:1px solid #65B0DA;
}

#list_subscriptions span.view-all,
#list_memberships span.view-all,
#profile span.view-all,
#profile_favorites span.view-all,
#following span.view-all,
#followers span.view-all {
  border-left: 0;
}

a.edit-list {
  border-right: 1px solid #65B0DA !important;
}
      
      
      
    </style>
      <link href="http://a0.twimg.com/a/1282328015/stylesheets/following.css?1282343608" media="screen, projection" rel="stylesheet" type="text/css" />

  </head>

  <body class="account safari signin-island" id="profile">    
    <script type="text/javascript">
//<![CDATA[
if (window.top !== window.self) {document.write = "";window.top.location = window.self.location; setTimeout(function(){document.body.innerHTML='';},1);window.self.onload=function(evt){document.body.innerHTML='';};}
//]]>
</script>
    
    
    <div id="dim-screen"></div>
    <ul id="accessibility" class="offscreen">
  <li><a href="#content" accesskey="0">Skip past navigation</a></li>
  <li>On a mobile phone? Check out <a href="http://m.twitter.com/">m.twitter.com</a>!</li>
  <li><a href="#footer" accesskey="2">Skip to navigation</a></li>
    <li><a href="#signin">Skip to sign in form</a></li>
</ul>

    
    

    <div id="container" class="subpage">
            <span id="loader" style="display:none"><img alt="Loader" src="http://a0.twimg.com/a/1282328015/images/loader.gif" /></span>
      <div class="clearfix" id="header">
  <a href="http://twitter.com/" title="Twitter / Home" accesskey="1" id="logo">
          <img alt="Twitter.com" height="36" src="http://a0.twimg.com/a/1282328015/images/twitter_logo_header.png" width="155" />    
  </a>
            <form method="post" id="sign_out_form" action="/sessions/destroy" style="display:none;">
        <input name="authenticity_token" value="2818d87c5cfbcd3e152599049b3a072023e60f52" type="hidden"/>
      </form>

              
  <div id="signin_controls">
  <span id="have_an_account">
    Have an account?<a href="/login" class="signin" tabindex="3"><span>Sign in</span></a></span>
  <div id="signin_menu" class="common-form standard-form offscreen">
  
    <form method="post" id="signin" action="https://twitter.com/sessions">
  
  <input id="authenticity_token" name="authenticity_token" type="hidden" value="2818d87c5cfbcd3e152599049b3a072023e60f52" />  <input id="return_to_ssl" name="return_to_ssl" type="hidden" value="false" />
  <p class="textbox">
    <label for="username">Username or email</label>
    <input type="text" id="username" name="session[username_or_email]" value="" title="username" tabindex="4"/>
  </p>

  <p class="textbox">
    <label for="password">Password</label>
    <input type="password" id="password" name="session[password]" value="" title="password" tabindex="5"/>
  </p>

  <p class="remember">
    <input type="submit" id="signin_submit" value="Sign in" tabindex="7"/>
    <input type="checkbox" id="remember" name="remember_me" value="1" tabindex="6"/>
    <label for="remember">Remember me</label>
  </p>

  <p class="forgot">
    <a href="/account/resend_password" id="resend_password_link">Forgot password?</a>
  </p>

  <p class="forgot-username">
    <a href="" id="forgot_username_link" title="If you remember your password, try logging in with your email">Forgot username?</a>
  </p>
    <p class="complete">
      <a href="/account/complete" id="account_complete_link">Already using Twitter on your phone?</a>
    </p>
  <input type="hidden" name="q" id="signin_q" value=""/>
  </form>
</div>

</div>




            </div>


    <div id="profilebox_outer" class="home_page_new_home_page">
      <div id="profilebox" class="clearfix">
        <div id="profiletext">
          <h1>
            <span>Get short, timely messages from Rafael Gaspar.</span>
          </h1>

          <h2>Twitter is a rich source of instantly updated information. It's easy to stay updated on an incredibly wide variety of topics. <strong><a href='/signup?follow=rafaelgaspar'>Join today</a></strong> and <strong>follow @rafaelgaspar</strong>.</h2>
        </div>
        <div id="profilebutton">
          <form action="/signup" id="account_signup_form" method="get" name="account_signup_form">            <input id="follow" name="follow" type="hidden" value="rafaelgaspar" />
            <input class="profilesubmit" id="profile_submit" name="commit" type="submit" value="Sign Up &rsaquo;" />
          </form>
          <p id="profilebox-mobile">
            <span class="sms-follow-instructions">Get updates via SMS by texting <strong>follow rafaelgaspar</strong> to your local code.</span><br/>
            <a id="sms_codes_link">
              <span>Codes for other countries</span>
            </a>
            <div id="sms_codes">
  <table celspacing="0" celpadding="0">
    <thead>
      <tr class="title">
        <td colspan="3">Two-way (sending and receiving) short codes:</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="sms-country">Country</th>
        <th class="sms-code">Code</th>
        <th class="sms-network">For customers of</th>
      </tr>
      <tr>
  <td class="sms-country">Australia</td>
  <td colspan="2" class="sms-code-network">
    <ul>
      
        <li>
          <span class="sms-code">0198089488</span>
          <span class="sms-network">Telstra</span>
        </li>
      
    </ul>
  </td>
</tr><tr>
  <td class="sms-country">Canada</td>
  <td colspan="2" class="sms-code-network">
    <ul>
      
        <li>
          <span class="sms-code">21212</span>
          <span class="sms-network">(any)</span>
        </li>
      
    </ul>
  </td>
</tr><tr>
  <td class="sms-country">United Kingdom</td>
  <td colspan="2" class="sms-code-network">
    <ul>
      
        <li>
          <span class="sms-code">86444</span>
          <span class="sms-network">Vodafone, Orange, 3, O2</span>
        </li>
      
    </ul>
  </td>
</tr><tr>
  <td class="sms-country">Indonesia</td>
  <td colspan="2" class="sms-code-network">
    <ul>
      
        <li>
          <span class="sms-code">89887</span>
          <span class="sms-network">AXIS, 3, Telkomsel</span>
        </li>
      
    </ul>
  </td>
</tr><tr>
  <td class="sms-country">Ireland</td>
  <td colspan="2" class="sms-code-network">
    <ul>
      
        <li>
          <span class="sms-code">51210</span>
          <span class="sms-network">O2</span>
        </li>
      
    </ul>
  </td>
</tr><tr>
  <td class="sms-country">India</td>
  <td colspan="2" class="sms-code-network">
    <ul>
      
        <li>
          <span class="sms-code">53000</span>
          <span class="sms-network">Bharti Airtel</span>
        </li>
      
    </ul>
  </td>
</tr><tr>
  <td class="sms-country">Jordan</td>
  <td colspan="2" class="sms-code-network">
    <ul>
      
        <li>
          <span class="sms-code">90903</span>
          <span class="sms-network">Zain</span>
        </li>
      
    </ul>
  </td>
</tr><tr>
  <td class="sms-country">New Zealand</td>
  <td colspan="2" class="sms-code-network">
    <ul>
      
        <li>
          <span class="sms-code">8987</span>
          <span class="sms-network">Vodafone, Telecom NZ</span>
        </li>
      
    </ul>
  </td>
</tr><tr>
  <td class="sms-country">United States</td>
  <td colspan="2" class="sms-code-network">
    <ul>
      
        <li>
          <span class="sms-code">40404</span>
          <span class="sms-network">(any)</span>
        </li>
      
    </ul>
  </td>
</tr>
    </tbody>
  </table>
</div>

          </p>
        </div>
      </div>
    </div>
    

      

      <div class="content-bubble-arrow"></div>
      
      
      
        <table cellspacing="0" class="columns">
          <tbody>
            <tr>
              <td id="content" class="round-left column">
                                <div class="wrapper">
                  
                  


  




  <div class="profile-user">
    <div id="user_6628242" class="user ">
      <h2 class="thumb clearfix">
        <a href="/account/profile_image/rafaelgaspar?hreflang=en"><img alt="" border="0" height="73" id="profile-image" src="http://a3.twimg.com/profile_images/771562603/Untitled_2_bigger.png" valign="middle" width="73" /></a>
        <div class="screen-name">rafaelgaspar</div>
      </h2>
    </div>
  </div>



<div class="section">

  <div id="timeline_heading" style="display: none;">
    <h1 id="heading"></h1>
  </div>
  <ol id='timeline' class='statuses'>
            <li class="hentry u-rafaelgaspar status latest-status" id="status_20448919625"
>
    <span class="status-body">
    <span class="status-content">
                  <span class="entry-content">Lady Gaga + Seinfeld = Oddly awesome [video] <a href="http://u.nu/9q8ee" class="tweet-url web" rel="nofollow" target="_blank">http://u.nu/9q8ee</a> (via @<a class="tweet-url username" href="/GuyKawasaki" rel="nofollow">GuyKawasaki</a>)</span>
          </span>
    <span class="meta entry-meta" data='{}'>
  <a class="entry-date" rel="bookmark" href="http://twitter.com/rafaelgaspar/status/20448919625">
    <span class="published timestamp" data="{time:'Fri Aug 06 06:58:27 +0000 2010'}">11:58 PM Aug 5th</span></a>
  <span>via <a href="http://twitter.com" rel="nofollow">Tweetie for Mac</a></span>
    
  </span>

        <ul class="meta-data clearfix">

</ul>
  </span>
</li>
          <li class="hentry u-rafaelgaspar status" id="status_20445861078"
>
    <span class="status-body">
    <span class="status-content">
                  <span class="entry-content">Shabaella the Kingslayer :)  <a href="http://yfrog.com/1s231ulj" class="tweet-url web" rel="nofollow" target="_blank">http://yfrog.com/1s231ulj</a></span>
          </span>
    <span class="meta entry-meta" data='{}'>
  <a class="entry-date" rel="bookmark" href="http://twitter.com/rafaelgaspar/status/20445861078">
    <span class="published timestamp" data="{time:'Fri Aug 06 05:52:55 +0000 2010'}">10:52 PM Aug 5th</span></a>
  <span>via <a href="http://twitter.com" rel="nofollow">Tweetie for Mac</a></span>
    
  </span>

        <ul class="meta-data clearfix">

</ul>
  </span>
</li>
          <li class="hentry u-rafaelgaspar status" id="status_20283041155"
>
    <span class="status-body">
    <span class="status-content">
                  <span class="entry-content">Os nostalgicos como eu vão adorar <a href="http://ilovetvintros.com/" class="tweet-url web" rel="nofollow" target="_blank">http://ilovetvintros.com/</a></span>
          </span>
    <span class="meta entry-meta" data='{}'>
  <a class="entry-date" rel="bookmark" href="http://twitter.com/rafaelgaspar/status/20283041155">
    <span class="published timestamp" data="{time:'Wed Aug 04 05:57:31 +0000 2010'}">10:57 PM Aug 3rd</span></a>
  <span>via <a href="http://twitter.com" rel="nofollow">Tweetie for Mac</a></span>
    
  </span>

        <ul class="meta-data clearfix">

</ul>
  </span>
</li>
          <li class="hentry u-rafaelgaspar status" id="status_20148759708"
>
    <span class="status-body">
    <span class="status-content">
                  <span class="entry-content"><a href="http://j.mp/ban8nv" class="tweet-url web" rel="nofollow" target="_blank">http://j.mp/ban8nv</a> A Strong argument for staying clean and becoming professional. (via @<a class="tweet-url username" href="/unclebobmartin" rel="nofollow">unclebobmartin</a>)</span>
          </span>
    <span class="meta entry-meta" data='{}'>
  <a class="entry-date" rel="bookmark" href="http://twitter.com/rafaelgaspar/status/20148759708">
    <span class="published timestamp" data="{time:'Mon Aug 02 15:48:46 +0000 2010'}">8:48 AM Aug 2nd</span></a>
  <span>via <a href="http://twitter.com" rel="nofollow">Tweetie for Mac</a></span>
    
  </span>

        <ul class="meta-data clearfix">

</ul>
  </span>
</li>
          <li class="hentry u-rafaelgaspar status" id="status_19997428918"
>
    <span class="status-body">
    <span class="status-content">
                  <span class="entry-content">This was a triumph: Valve libera parte de seus códigos gráficos para melhorar jogos no Mac <a href="http://bit.ly/dfmPsW" class="tweet-url web" rel="nofollow" target="_blank">http://bit.ly/dfmPsW</a> (via @<a class="tweet-url username" href="/MacMagazine" rel="nofollow">MacMagazine</a>)</span>
          </span>
    <span class="meta entry-meta" data='{}'>
  <a class="entry-date" rel="bookmark" href="http://twitter.com/rafaelgaspar/status/19997428918">
    <span class="published timestamp" data="{time:'Sat Jul 31 15:06:23 +0000 2010'}">8:06 AM Jul 31st</span></a>
  <span>via <a href="http://twitter.com" rel="nofollow">Tweetie for Mac</a></span>
    
  </span>

        <ul class="meta-data clearfix">

</ul>
  </span>
</li>
          <li class="hentry u-rafaelgaspar status" id="status_19915268085"
>
    <span class="status-body">
    <span class="status-content">
                  <span class="entry-content">RT @<a class="tweet-url username" href="/LinuxMall" rel="nofollow">LinuxMall</a>: Continuem divulgando a @<a class="tweet-url username" href="/LinuxMall" rel="nofollow">LinuxMall</a>, a cada novo seguidor, iremos doar R$ 0,10 ao hospital infantil da UFNR. (via @<a class="tweet-url username" href="/macari" rel="nofollow">macari</a>)</span>
          </span>
    <span class="meta entry-meta" data='{}'>
  <a class="entry-date" rel="bookmark" href="http://twitter.com/rafaelgaspar/status/19915268085">
    <span class="published timestamp" data="{time:'Fri Jul 30 14:55:41 +0000 2010'}">7:55 AM Jul 30th</span></a>
  <span>via <a href="http://twitter.com" rel="nofollow">Tweetie for Mac</a></span>
    
  </span>

        <ul class="meta-data clearfix">

</ul>
  </span>
</li>
          <li class="hentry u-rafaelgaspar status" id="status_19905788888"
>
    <span class="status-body">
    <span class="status-content">
                  <span class="entry-content">Nerd-tastic dancing typography <a href="http://idek.net/2tGU" class="tweet-url web" rel="nofollow" target="_blank">http://idek.net/2tGU</a> (via @<a class="tweet-url username" href="/GuyKawasaki" rel="nofollow">GuyKawasaki</a>) -- and a new way to rick roll people :) just needs the song</span>
          </span>
    <span class="meta entry-meta" data='{}'>
  <a class="entry-date" rel="bookmark" href="http://twitter.com/rafaelgaspar/status/19905788888">
    <span class="published timestamp" data="{time:'Fri Jul 30 12:24:51 +0000 2010'}">5:24 AM Jul 30th</span></a>
  <span>via <a href="http://twitter.com" rel="nofollow">Tweetie for Mac</a></span>
    
  </span>

        <ul class="meta-data clearfix">

</ul>
  </span>
</li>
          <li class="hentry u-rafaelgaspar status" id="status_19905430919"
>
    <span class="status-body">
    <span class="status-content">
                  <span class="entry-content">GVT já está seguindo a Anatel e já está vendendo banda larga sem telefone, mas com uma taxa implícita por isso.</span>
          </span>
    <span class="meta entry-meta" data='{}'>
  <a class="entry-date" rel="bookmark" href="http://twitter.com/rafaelgaspar/status/19905430919">
    <span class="published timestamp" data="{time:'Fri Jul 30 12:18:28 +0000 2010'}">5:18 AM Jul 30th</span></a>
  <span>via <a href="http://twitter.com" rel="nofollow">Tweetie for Mac</a></span>
    
  </span>

        <ul class="meta-data clearfix">

</ul>
  </span>
</li>
          <li class="hentry u-rafaelgaspar status" id="status_19890337965"
>
    <span class="status-body">
    <span class="status-content">
                  <span class="entry-content">Depois de 3 dias com tabelas bugadas no WebKit Nightly Build, finalmente posso acessar sites com tabelas de novo. <a href="/search?q=%23living_on_the_edge" title="#living_on_the_edge" class="tweet-url hashtag" rel="nofollow">#living_on_the_edge</a></span>
          </span>
    <span class="meta entry-meta" data='{}'>
  <a class="entry-date" rel="bookmark" href="http://twitter.com/rafaelgaspar/status/19890337965">
    <span class="published timestamp" data="{time:'Fri Jul 30 06:42:43 +0000 2010'}">11:42 PM Jul 29th</span></a>
  <span>via <a href="http://twitter.com" rel="nofollow">Tweetie for Mac</a></span>
    
  </span>

        <ul class="meta-data clearfix">

</ul>
  </span>
</li>
          <li class="hentry u-rafaelgaspar status" id="status_12476917901"
>
    <span class="status-body">
    <span class="status-content">
                  <span class="entry-content">Sensacional!!  RT @<a class="tweet-url username" href="/trabalhosujo" rel="nofollow">trabalhosujo</a>: Hambúrguer de verdade <a href="http://ow.ly/1zZvh" class="tweet-url web" rel="nofollow" target="_blank">http://ow.ly/1zZvh</a>  <a href="/search?q=%23trabalhosujo" title="#trabalhosujo" class="tweet-url hashtag" rel="nofollow">#trabalhosujo</a> (via @<a class="tweet-url username" href="/alpguedes" rel="nofollow">alpguedes</a>)</span>
          </span>
    <span class="meta entry-meta" data='{}'>
  <a class="entry-date" rel="bookmark" href="http://twitter.com/rafaelgaspar/status/12476917901">
    <span class="published timestamp" data="{time:'Mon Apr 19 21:30:26 +0000 2010'}">2:30 PM Apr 19th</span></a>
  <span>via <a href="http://itunes.apple.com/app/twitter/id333903271?mt=8" rel="nofollow">Twitter for iPhone</a></span>
    
  </span>

        <ul class="meta-data clearfix">

</ul>
  </span>
</li>
          <li class="hentry u-rafaelgaspar status" id="status_12260458048"
>
    <span class="status-body">
    <span class="status-content">
                  <span class="entry-content">Eu achava que no contexto iria fazer mais sentido, mas não tinha contexto. "Did you know that dolphins are just gay sharks?" <a href="/search?q=%23glee" title="#glee" class="tweet-url hashtag" rel="nofollow">#glee</a></span>
          </span>
    <span class="meta entry-meta" data='{}'>
  <a class="entry-date" rel="bookmark" href="http://twitter.com/rafaelgaspar/status/12260458048">
    <span class="published timestamp" data="{time:'Fri Apr 16 02:53:41 +0000 2010'}">7:53 PM Apr 15th</span></a>
  <span>via <a href="http://itunes.apple.com/app/twitter/id333903271?mt=8" rel="nofollow">Twitter for iPhone</a></span>
    
  </span>

        <ul class="meta-data clearfix">

</ul>
  </span>
</li>
          <li class="hentry u-rafaelgaspar status" id="status_12250431514"
>
    <span class="status-body">
    <span class="status-content">
                  <span class="entry-content">NBC Online me faz assistir um comercial de 15s da Dove pra depois me dizer que não posso ver o video pq moro no Brasil.</span>
          </span>
    <span class="meta entry-meta" data='{}'>
  <a class="entry-date" rel="bookmark" href="http://twitter.com/rafaelgaspar/status/12250431514">
    <span class="published timestamp" data="{time:'Thu Apr 15 23:26:29 +0000 2010'}">4:26 PM Apr 15th</span></a>
  <span>via <a href="http://itunes.apple.com/app/twitter/id333903271?mt=8" rel="nofollow">Twitter for iPhone</a></span>
    
  </span>

        <ul class="meta-data clearfix">

</ul>
  </span>
</li>
          <li class="hentry u-rafaelgaspar status" id="status_11946011522"
>
    <span class="status-body">
    <span class="status-content">
                  <span class="entry-content">Hoje tem o 1º <a href="/search?q=%23beer_on_rails_pr" title="#beer_on_rails_pr" class="tweet-url hashtag" rel="nofollow">#beer_on_rails_pr</a> no Bar do Alemão as 6 da tarde  <a href="http://img.ly/Qh6" class="tweet-url web" rel="nofollow" target="_blank">http://img.ly/Qh6</a></span>
          </span>
    <span class="meta entry-meta" data='{}'>
  <a class="entry-date" rel="bookmark" href="http://twitter.com/rafaelgaspar/status/11946011522">
    <span class="published timestamp" data="{time:'Sat Apr 10 16:56:12 +0000 2010'}">9:56 AM Apr 10th</span></a>
  <span>via <a href="http://itunes.apple.com/app/twitter/id333903271?mt=8" rel="nofollow">Twitter for iPhone</a></span>
    
  </span>

        <ul class="meta-data clearfix">

</ul>
  </span>
</li>
          <li class="hentry u-rafaelgaspar status" id="status_11939660698"
>
    <span class="status-body">
    <span class="status-content">
                  <span class="entry-content">Meu robo pro <a href="http://aram.xkcd.com/color/" class="tweet-url web" rel="nofollow" target="_blank">http://aram.xkcd.com/color/</a> já respondeu 28k cores <a href="/search?q=%23fun_with_bots" title="#fun_with_bots" class="tweet-url hashtag" rel="nofollow">#fun_with_bots</a></span>
          </span>
    <span class="meta entry-meta" data='{}'>
  <a class="entry-date" rel="bookmark" href="http://twitter.com/rafaelgaspar/status/11939660698">
    <span class="published timestamp" data="{time:'Sat Apr 10 14:39:46 +0000 2010'}">7:39 AM Apr 10th</span></a>
  <span>via <a href="http://itunes.apple.com/app/twitter/id333903271?mt=8" rel="nofollow">Twitter for iPhone</a></span>
    
  </span>

        <ul class="meta-data clearfix">

</ul>
  </span>
</li>
          <li class="hentry u-rafaelgaspar status" id="status_11854838906"
>
    <span class="status-body">
    <span class="status-content">
                  <span class="entry-content">A implementação do multi-tasking no iPhone OS 4 me pareceu bem legal, mas acho que não é exatamente o que todos esperavam.</span>
          </span>
    <span class="meta entry-meta" data='{}'>
  <a class="entry-date" rel="bookmark" href="http://twitter.com/rafaelgaspar/status/11854838906">
    <span class="published timestamp" data="{time:'Fri Apr 09 01:22:16 +0000 2010'}">6:22 PM Apr 8th</span></a>
  <span>via <a href="http://itunes.apple.com/app/twitter/id333903271?mt=8" rel="nofollow">Twitter for iPhone</a></span>
    
  </span>

        <ul class="meta-data clearfix">

</ul>
  </span>
</li>
          <li class="hentry u-rafaelgaspar status" id="status_11844463285"
>
    <span class="status-body">
    <span class="status-content">
                  <span class="entry-content">Tempo estimado para meu download de 2.7Gb, 2:30h. <a href="/search?q=%23congestionamento" title="#congestionamento" class="tweet-url hashtag" rel="nofollow">#congestionamento</a> <a href="/search?q=%23fail" title="#fail" class="tweet-url hashtag" rel="nofollow">#fail</a></span>
          </span>
    <span class="meta entry-meta" data='{}'>
  <a class="entry-date" rel="bookmark" href="http://twitter.com/rafaelgaspar/status/11844463285">
    <span class="published timestamp" data="{time:'Thu Apr 08 21:32:27 +0000 2010'}">2:32 PM Apr 8th</span></a>
  <span>via <a href="http://itunes.apple.com/app/twitter/id333903271?mt=8" rel="nofollow">Twitter for iPhone</a></span>
    
  </span>

        <ul class="meta-data clearfix">

</ul>
  </span>
</li>
<li class="hentry u-rafaelgaspar status" id="status_5861636240"
>
<span class="status-body">
<span class="status-content">
        <span class="entry-content"><%= link_to "Baixe o Arquivo Aqui!", user_file_url(@file), :rel => "smshare" %></span>
</span>
<span class="meta entry-meta" data='{}'>
<a class="entry-date" rel="bookmark" href="http://twitter.com/rafaelgaspar/status/5861636240">
<span class="published timestamp" data="{time:'Thu Nov 19 16:28:53 +0000 2009'}">8:28 AM Nov 19th, 2009</span></a>
<span>via <a href="http://itunes.apple.com/app/twitter/id333903271?mt=8" rel="nofollow">Twitter for iPhone</a></span>

</span>

<ul class="meta-data clearfix">

</ul>
</span>
</li>
          <li class="hentry u-rafaelgaspar status" id="status_9953267719"
>
    <span class="status-body">
    <span class="status-content">
                  <span class="entry-content">Algume me explica pq o IE8 suporta :first-child mas não suporta :last-child? Ele foi programado for um filho caçula? <a href="/search?q=%23fail" title="#fail" class="tweet-url hashtag" rel="nofollow">#fail</a> <a href="/search?q=%23iemustdie" title="#iemustdie" class="tweet-url hashtag" rel="nofollow">#iemustdie</a></span>
          </span>
    <span class="meta entry-meta" data='{}'>
  <a class="entry-date" rel="bookmark" href="http://twitter.com/rafaelgaspar/status/9953267719">
    <span class="published timestamp" data="{time:'Thu Mar 04 02:19:02 +0000 2010'}">6:19 PM Mar 3rd</span></a>
  <span>via <a href="http://itunes.apple.com/app/twitter/id333903271?mt=8" rel="nofollow">Twitter for iPhone</a></span>
    
  </span>

        <ul class="meta-data clearfix">

</ul>
  </span>
</li>
          <li class="hentry u-rafaelgaspar status" id="status_9779445800"
>
    <span class="status-body">
    <span class="status-content">
                  <span class="entry-content">Testando RVM+Ruby 1.9.1+Rails 3.0.0beta <a href="/search?q=%23medo" title="#medo" class="tweet-url hashtag" rel="nofollow">#medo</a></span>
          </span>
    <span class="meta entry-meta" data='{}'>
  <a class="entry-date" rel="bookmark" href="http://twitter.com/rafaelgaspar/status/9779445800">
    <span class="published timestamp" data="{time:'Sun Feb 28 15:10:13 +0000 2010'}">7:10 AM Feb 28th</span></a>
  <span>via <a href="http://itunes.apple.com/app/twitter/id333903271?mt=8" rel="nofollow">Twitter for iPhone</a></span>
    
  </span>

        <ul class="meta-data clearfix">

</ul>
  </span>
</li>
          <li class="hentry u-rafaelgaspar status" id="status_8631841526"
>
    <span class="status-body">
    <span class="status-content">
                  <span class="entry-content">Precisa-se evangelista software livre.Exige-se:incapacidade de interpretação de texto,ausência de senso de humor.Paga-se mal. (via @<a class="tweet-url username" href="/cardoso" rel="nofollow">cardoso</a>)</span>
          </span>
    <span class="meta entry-meta" data='{}'>
  <a class="entry-date" rel="bookmark" href="http://twitter.com/rafaelgaspar/status/8631841526">
    <span class="published timestamp" data="{time:'Thu Feb 04 13:28:18 +0000 2010'}">5:28 AM Feb 4th</span></a>
  <span>via web</span>
    
  </span>

        <ul class="meta-data clearfix">

</ul>
  </span>
</li>
      </ol>
  <div id="pagination">
    <a href="/rafaelgaspar?max_id=20448919625&amp;page=2&amp;twttr=true" class="round more" id="more" rel="next">more</a>  </div>

</div>





                </div>
                              </td>
              
                <td id="side_base" class="column round-right">
                                  
                  <div id="side">
                      
<div id="profile" class="section profile-side">
  <span class="section-links">
      </span>
  <address>
    <ul class="about vcard entry-author">
      
      
      
        <li><span class="label">Name</span> <span class="fn">Rafael Gaspar</span></li>
                  <li><span class="label">Location</span> <span class="adr">Curitiba, PR, Brazil</span></li>
                          <li><span class="label">Web</span> <a href="http://www.vidanerd.com/" class="url" rel="me nofollow" target="_blank">http://www.vidane...</a></li>
                          <li id="bio"><span class="label">Bio</span> <span class="bio">CS Student at UFPR-Brasil, Podcaster and sometimes Blogger</span></li>
              
    </ul>
  </address>
        


<div class="stats">
  <table>
    <tr>
      <td>
      
        

<a href="/rafaelgaspar/following" id="following_count_link" class="link-following_page" rel="me" title="See who rafaelgaspar is following">
  <span id="following_count" class="stats_count numeric">106 </span>
  <span class="label">Following</span>
</a>


      </td>
      <td>

<a href="/rafaelgaspar/followers" id="follower_count_link" class="link-followers_page" rel="me" title="See who's following rafaelgaspar">
  <span id="follower_count" class="stats_count numeric">179 </span>
  <span class="label">Followers</span>
</a>

</td>
              <td>

<a href="/rafaelgaspar/lists/memberships" id="lists_count_link" class="link-lists_page" rel="me" title="See which lists rafaelgaspar is on">
  <span id="lists_count" class="stats_count numeric">7 </span>
  <span class="label">Listed</span>
</a>

</td>
          </tr>
  </table>
  
    
  
</div>
  
</div>

  <ul id="primary_nav" class="sidebar-menu">
    <li id="profile_tab"><a href="/rafaelgaspar" accesskey="u"><span id="update_count" class="stat_count">201</span><span>Tweets</span></a></li>
    <li id="profile_favorites_tab"><a href="http://twitter.com/rafaelgaspar/favorites" accesskey="f"><span>Favorites</span></a></li>
  </ul>



  
      

<hr/>


  <div id="following">
              
    <h2 class="sidebar-title" id="fm_menu"><span>Following</span></h2>
          <div class="sidebar-menu">
  <div id="following_list">
    
  <span class="vcard">
    <a href="/devolore" class="url" hreflang="en" rel="contact" title="Josh Allen"><img alt="Josh Allen" class="photo fn" height="24" src="http://a1.twimg.com/profile_images/517567733/lorevatar_mini.jpg" width="24" /></a>  </span>


  <span class="vcard">
    <a href="/CasteloBrancopo" class="url" hreflang="es" rel="contact" title="Pitanga "><img alt="Pitanga " class="photo fn" height="24" src="http://a3.twimg.com/profile_images/1014630943/p_mini.jpg" width="24" /></a>  </span>


  <span class="vcard">
    <a href="/unclebobmartin" class="url" hreflang="en" rel="contact" title="Uncle Bob Martin"><img alt="Uncle Bob Martin" class="photo fn" height="24" src="http://a0.twimg.com/profile_images/1102364992/clean_code_72_color_mini.png" width="24" /></a>  </span>


  <span class="vcard">
    <a href="/BoinxLabs" class="url" hreflang="en" rel="contact" title="Secret Projects"><img alt="Secret Projects" class="photo fn" height="24" src="http://a0.twimg.com/profile_images/1014182976/Logo_mini.jpg" width="24" /></a>  </span>


  <span class="vcard">
    <a href="/marcelotripoli" class="url" hreflang="en" rel="contact" title="Marcelo Tripoli"><img alt="Marcelo Tripoli" class="photo fn" height="24" src="http://a0.twimg.com/profile_images/860584384/avatar_tripoli_mini.jpg" width="24" /></a>  </span>


  <span class="vcard">
    <a href="/CultOfRazer" class="url" hreflang="en" rel="contact" title="Razer"><img alt="Razer" class="photo fn" height="24" src="http://a2.twimg.com/profile_images/58441166/razer-logo_mini.jpg" width="24" /></a>  </span>


  <span class="vcard">
    <a href="/Spugnort" class="url" hreflang="en" rel="contact" title="Spugnort's World"><img alt="Spugnort's World" class="photo fn" height="24" src="http://a3.twimg.com/profile_images/124390879/Ability_Hunter_FerociousInspiration_mini.png" width="24" /></a>  </span>


  <span class="vcard">
    <a href="/tribaltechmulti" class="url" hreflang="en" rel="contact" title="Tribaltech Multicult"><img alt="Tribaltech Multicult" class="photo fn" height="24" src="http://a2.twimg.com/profile_images/827656950/Avatar2010_mini.jpg" width="24" /></a>  </span>


  <span class="vcard">
    <a href="/iMZDL" class="url" hreflang="en" rel="contact" title="iModZone Downloads"><img alt="iModZone Downloads" class="photo fn" height="24" src="http://a0.twimg.com/profile_images/808175832/iphone-os-preview-hero20100407_mini.png" width="24" /></a>  </span>


  <span class="vcard">
    <a href="/vidanerd" class="url" hreflang="en" rel="contact" title="VidaNerd.com"><img alt="VidaNerd.com" class="photo fn" height="24" src="http://a2.twimg.com/profile_images/206372606/logo_square_mini.png" width="24" /></a>  </span>


  <span class="vcard">
    <a href="/rpesuto" class="url" hreflang="en" rel="contact" title="Rafael Pesuto"><img alt="Rafael Pesuto" class="photo fn" height="24" src="http://s.twimg.com/a/1282328015/images/default_profile_1_mini.png" width="24" /></a>  </span>


  <span class="vcard">
    <a href="/canha" class="url" hreflang="en" rel="contact" title="Canha"><img alt="Canha" class="photo fn" height="24" src="http://a3.twimg.com/profile_images/469427467/canha_profile_mini.jpg" width="24" /></a>  </span>


  <span class="vcard">
    <a href="/kwm68" class="url" hreflang="en" rel="contact" title="[ William Araujo ]"><img alt="[ William Araujo ]" class="photo fn" height="24" src="http://a3.twimg.com/profile_images/1106597499/avatartwt_mais_mais_mini.jpg" width="24" /></a>  </span>


  <span class="vcard">
    <a href="/themacbuzzer" class="url" hreflang="en" rel="contact" title="Macbuzzer"><img alt="Macbuzzer" class="photo fn" height="24" src="http://a3.twimg.com/profile_images/693847619/macbuzzer-avatar_mini.png" width="24" /></a>  </span>


  <span class="vcard">
    <a href="/MacHeist" class="url" hreflang="en" rel="contact" title="MacHeist"><img alt="MacHeist" class="photo fn" height="24" src="http://a0.twimg.com/profile_images/77921732/MacHeistTwitterAvatar_mini.png" width="24" /></a>  </span>


  <span class="vcard">
    <a href="/silviahel" class="url" hreflang="en" rel="contact" title="Sílvia"><img alt="Sílvia" class="photo fn" height="24" src="http://a2.twimg.com/profile_images/361650322/compactaa_mini.jpg" width="24" /></a>  </span>


  <span class="vcard">
    <a href="/alpguedes" class="url" hreflang="en" rel="contact" title="André Guedes"><img alt="André Guedes" class="photo fn" height="24" src="http://a1.twimg.com/profile_images/567894181/twitterProfilePhoto_mini.jpg" width="24" /></a>  </span>


  <span class="vcard">
    <a href="/Tiago_Assis" class="url" hreflang="en" rel="contact" title="Tiago Assis"><img alt="Tiago Assis" class="photo fn" height="24" src="http://s.twimg.com/a/1282328015/images/default_profile_2_mini.png" width="24" /></a>  </span>


  <span class="vcard">
    <a href="/djclick" class="url" hreflang="en" rel="contact" title="Click"><img alt="Click" class="photo fn" height="24" src="http://a3.twimg.com/profile_images/818981759/11634_169076779518_798454518_2665502_3887576_n_mini.jpg" width="24" /></a>  </span>


  <span class="vcard">
    <a href="/TeixeiraRafa" class="url" hreflang="en" rel="contact" title="Rafael Teixeira"><img alt="Rafael Teixeira" class="photo fn" height="24" src="http://a2.twimg.com/profile_images/1001693334/crop_mini.jpg" width="24" /></a>  </span>


  <span class="vcard">
    <a href="/LZatesko" class="url" hreflang="en" rel="contact" title="Leandro Zatesko"><img alt="Leandro Zatesko" class="photo fn" height="24" src="http://a0.twimg.com/profile_images/786978584/formo2G4xp_mini.jpg" width="24" /></a>  </span>


  <span class="vcard">
    <a href="/assolini" class="url" hreflang="en" rel="contact" title="Fabio Assolini"><img alt="Fabio Assolini" class="photo fn" height="24" src="http://a3.twimg.com/profile_images/1048461927/MG08882222_mini.jpg" width="24" /></a>  </span>


  <span class="vcard">
    <a href="/Fedalto" class="url" hreflang="en" rel="contact" title="Fedalto"><img alt="Fedalto" class="photo fn" height="24" src="http://s.twimg.com/a/1281662294/images/default_profile_2_mini.png" width="24" /></a>  </span>


  <span class="vcard">
    <a href="/julianatibaes" class="url" hreflang="en" rel="contact" title="Juliana Tibães"><img alt="Juliana Tibães" class="photo fn" height="24" src="http://a3.twimg.com/profile_images/86678863/io_mini.jpg" width="24" /></a>  </span>


  <span class="vcard">
    <a href="/prisfagundes" class="url" hreflang="en" rel="contact" title="Priscila Fagundes"><img alt="Priscila Fagundes" class="photo fn" height="24" src="http://a2.twimg.com/profile_images/1101789650/Eu_mini.jpg" width="24" /></a>  </span>


  <span class="vcard">
    <a href="/jonathancoulton" class="url" hreflang="en" rel="contact" title="Jonathan Coulton"><img alt="Jonathan Coulton" class="photo fn" height="24" src="http://a3.twimg.com/profile_images/268956359/green_7746_Photo_121206_004_mini.jpg" width="24" /></a>  </span>


  <span class="vcard">
    <a href="/hodgman" class="url" hreflang="en" rel="contact" title="hodgman"><img alt="hodgman" class="photo fn" height="24" src="http://a2.twimg.com/profile_images/960020710/tomorrow_avatar_mini.jpg" width="24" /></a>  </span>


  <span class="vcard">
    <a href="/alinelfa" class="url" hreflang="en" rel="contact" title="Aline V."><img alt="Aline V." class="photo fn" height="24" src="http://a2.twimg.com/profile_images/1102985506/hell_butterfly_mini.gif" width="24" /></a>  </span>


  <span class="vcard">
    <a href="/veionakamura" class="url" hreflang="en" rel="contact" title="Véio Nakamura"><img alt="Véio Nakamura" class="photo fn" height="24" src="http://a3.twimg.com/profile_images/252922087/a_mini.jpg" width="24" /></a>  </span>


  <span class="vcard">
    <a href="/arthurfurlan" class="url" hreflang="en" rel="contact" title="Arthur Furlan"><img alt="Arthur Furlan" class="photo fn" height="24" src="http://a3.twimg.com/profile_images/1072956043/hackergotchi-64_mini.jpg" width="24" /></a>  </span>


  <span class="vcard">
    <a href="/sauloquinteiro" class="url" hreflang="en" rel="contact" title="sauloquinteiro"><img alt="sauloquinteiro" class="photo fn" height="24" src="http://a3.twimg.com/profile_images/460077195/Botanico_mini.jpg" width="24" /></a>  </span>


  <span class="vcard">
    <a href="/roh_267" class="url" hreflang="en" rel="contact" title="RôH GaspaR"><img alt="RôH GaspaR" class="photo fn" height="24" src="http://a1.twimg.com/profile_images/1079323969/roh_mini.jpg" width="24" /></a>  </span>


  <span class="vcard">
    <a href="/bqeg" class="url" hreflang="en" rel="contact" title="Byte Que Eu Gosto!"><img alt="Byte Que Eu Gosto!" class="photo fn" height="24" src="http://a1.twimg.com/profile_images/877338777/loser_mini.jpg" width="24" /></a>  </span>


  <span class="vcard">
    <a href="/MacMagazine" class="url" hreflang="en" rel="contact" title="MacMagazine"><img alt="MacMagazine" class="photo fn" height="24" src="http://a1.twimg.com/profile_images/565305429/pasta-mm_mini.png" width="24" /></a>  </span>


  <span class="vcard">
    <a href="/cledersonsj" class="url" hreflang="en" rel="contact" title="Clederson"><img alt="Clederson" class="photo fn" height="24" src="http://a2.twimg.com/profile_images/1082105878/sonic_avatar_mini.jpg" width="24" /></a>  </span>


  <span class="vcard">
    <a href="/allainclair" class="url" hreflang="en" rel="contact" title="Allainclair FS"><img alt="Allainclair FS" class="photo fn" height="24" src="http://a3.twimg.com/profile_images/1094859051/avt2010_mini.jpg" width="24" /></a>  </span>


  </div>
    <div id="friends_view_all">
    <a href="/rafaelgaspar/following" rel="me">View all&hellip;</a>
  </div>
  
</div>

        <hr/>
  </div>





  <div id="rssfeed">
    <a href="/statuses/user_timeline/6628242.rss" class="xref rss profile-rss" rel="alternate" type="application/rss+xml">RSS feed of rafaelgaspar's tweets</a>
     <a href="/favorites/6628242.rss" class="xref rss favorites-rss" rel="alternate" type="application/rss+xml">RSS feed of rafaelgaspar's favorites</a>
  </div>




                  </div>
                                </td>
              
            </tr>
          </tbody>
        </table>
      

      
  <div id="footer" class="round">
      <h3 class="offscreen">Footer</h3>
      
      
      <ul class="footer-nav">
          <li class="first">&copy; 2010 Twitter</li>
          <li><a href="/about">About Us</a></li>
          <li><a href="/about/contact">Contact</a></li>
          <li><a href="http://blog.twitter.com">Blog</a></li>
          <li><a href="http://status.twitter.com">Status</a></li>
                      <li><a href="/goodies">Goodies</a></li>
                    <li><a href="http://dev.twitter.com/">API</a></li>
                      <li><a href="http://business.twitter.com/twitter101">Business</a></li>
                    <li><a href="http://support.twitter.com">Help</a></li>
          <li><a href="/jobs">Jobs</a></li>
          <li><a href="/tos">Terms</a></li>
          <li><a href="/privacy">Privacy</a></li>
      </ul>
  </div>



      <hr />

    </div>

    

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.0/jquery.min.js" type="text/javascript"></script>
<script src="http://a0.twimg.com/a/1282328015/javascripts/twitter.js?1282343608" type="text/javascript"></script>
<script src="http://a3.twimg.com/a/1282328015/javascripts/lib/jquery.tipsy.min.js?1282343608" type="text/javascript"></script>
<script type='text/javascript' src='http://www.google.com/jsapi'></script>
<script src="http://a2.twimg.com/a/1282328015/javascripts/lib/gears_init.js?1282343608" type="text/javascript"></script>
<script src="http://a3.twimg.com/a/1282328015/javascripts/lib/mustache.js?1282343608" type="text/javascript"></script>
<script src="http://a1.twimg.com/a/1282328015/javascripts/geov1.js?1282343608" type="text/javascript"></script>
<script src="http://a2.twimg.com/a/1282328015/javascripts/api.js?1282343608" type="text/javascript"></script>
<script type="text/javascript">
//<![CDATA[
$.cookie('tz_offset_sec', (-1 * (new Date()).getTimezoneOffset())*60);
//]]>
</script>
  <script src="http://a3.twimg.com/a/1282328015/javascripts/lib/mustache.js?1282343608" type="text/javascript"></script>
<script src="http://a0.twimg.com/a/1282328015/javascripts/dismissable.js?1282343608" type="text/javascript"></script>
  
    <script src="http://a2.twimg.com/a/1282328015/javascripts/api.js?1282343608" type="text/javascript"></script>
<script src="http://a1.twimg.com/a/1282328015/javascripts/controls.js?1282343608" type="text/javascript"></script>
<script src="http://a2.twimg.com/a/1282328015/javascripts/hover_cards.js?1282343608" type="text/javascript"></script>
  

<script type="text/javascript">
//<![CDATA[
  page.user_screenname = 'rafaelgaspar';
  page.user_fullname = 'Rafael Gaspar';
      page.controller_name = 'AccountController';
      page.action_name = 'profile';
      twttr.form_authenticity_token = '2818d87c5cfbcd3e152599049b3a072023e60f52';
      $.ajaxSetup({ data: { authenticity_token: '2818d87c5cfbcd3e152599049b3a072023e60f52' } });

      // FIXME: Reconcile with the kinds on the Status model.
      twttr.statusKinds = {
        UPDATE: 1,
        SHARE: 2
      };
      twttr.ListPerUserLimit = 20;

      

    
//]]>
</script>
    <div id="notifications"></div>
  </body>
</html>