<% send_tab "web" %>
<% page "send_files" %>
<h2>Enviar arquivos</h2>

<%= render :partial => "user_files/tabs" %>

<ul class="tabs tabs-contents">
  <div class="upload">
    <li class="tab-content">
      <%= render :partial => '/user_files/upload_form' %>
    </li>
  </div>
</ul>
