table {
  border-collapse: collapse;
}


table img {
  width: 20px;
  height: 20px;
}

table th, table td {
  width: 105px;
  height: 50px;
  text-align: center;
}

table .cost {
  width: 136px;
}

table th.odd {
  background-color: #bcdae4;
  color: #4a95ae;
  text-shadow: 1px 1px white;
}

table th.even {
  background-color: #a7cfdc;
  color: white;
  text-shadow: 1px 1px #7bbacf;
}

table td {
  color: #4a95ae;
  text-shadow: 1px 1px #f2f9fa;
  font-size: 12px;
  font-weight: bold;
}

table td em {
  display: block;
  font-style: normal;
  font-size: 11px;
}

table td.white {
  background-color: #e3f1f6;
  background-image: url(/images/advantages/bg-white.png);
  text-align: left;
  padding-left: 5px;
  font-weight: normal;
}

table td.white img {
  position: relative;
  margin-right: 5px;
  top: 5px;
}

table td.shiny {
  color: #f37f00;
}

table .top-title {
  line-height: 13px;
  font-size:11px;
}

table td.odd {
  background-color: #cde6ed;
  background-image: url(/images/advantages/bg-light.png);
}

table td.even {
  background-color: #bcdce8;
  background-image: url(/images/advantages/bg-dark.png);
}

table .top-left {
  border-radius: 6px 0 0 0;
  -moz-border-radius: 6px 0 0 0;
  line-height: 13px;
  font-size:11px;
}

table .top-right {
  border-radius: 0 6px 0 0;
  -moz-border-radius: 0 6px 0 0;
  line-height: 13px;
  font-size:11px;
}

table .bottom-right {
  border-radius: 0 0 6px 0;
  -moz-border-radius: 0 0 6px 0;
}

table .bottom-left {
  border-radius: 0 0 0 6px;
  -moz-border-radius: 0 0 0 6px;
}
