#user_panel-container iframe {
  width: 100%;
  height: auto;
}

#main-container {
  width: 1040px;
  margin-left: 100px;
  margin-right: 0;
}

#user_panel-container {
  width: 790px !important;
  margin-right: 0;
}

#user_panel-container p {
  margin: 0;
  text-indent: 15px;
}

#user_panel-container h3 {
  font-size: 20px;
  color: #423b35;
}

#user_panel-container table {
  margin: 10px 0 0 0;
}

#user_panel-container table tr {
  height: 25px;
  line-height: 25px;
}

#user_panel-container table tr.reference_line {
  cursor: pointer;
}

#user_panel-container table tr.reference_line.selected td div {
  background-color: #f7f7f7;
}

#user_panel-container table td {
  border-spacing: 0;
  padding: 0 1px 0 0;
  text-align: center;
}

#user_panel-container table tbody td div {
  background-color: white;
  height: 25px;
}

#user_panel-container table {
  width: 100%;
  height: 100%;
  border-radius: 7px;
  -moz-border-radius: 7px;
  border-spacing: 0;
  color: #423b35;
  background-color: #d9ecf2;
  padding: 0 0 0 1px;
}

#user_panel-container table td div {
  width: 100%;
  height: 25px;
  background-color: white;
}

#user_panel-container table thead td div {
  border-radius: 7px 7px 0 0;
  -moz-border-radius: 7px 7px 0 0;
}

#user_panel-container table tfoot td div {
  border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
}

#user_panel-container table .reference {
  width: 10%;
  text-align: left;
}

#user_panel-container table .reference div,
#user_panel-container table th.reference {
  width: 185px;
  padding-left: 15px;
}

#user_panel-container table .clicks,
#user_panel-container table .signups,
#user_panel-container table .comission {
  width: 150px;
}

#user_panel-container table .comission {
  font-weight: bold;
}

#user_panel-container .buttons {
  width: 100%;
  text-align: center;
}

#user_panel-container .button {
  display: inline-block;
  width: 19.7%;
  height: 30px;
  line-height: 30px;
  margin: 10px 0;
  padding: 0;
  border-radius: 7px;
  -moz-border-radius: 7px;
  color: white;
  background-color: #bddce7;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

#user_panel-container .button.active {
  background-color: #f37f00;
}

#user_panel-container #buttons {
  width: 800px;
}

#user_panel-container .box {
  border: 1px solid #bddce7;
  border-radius: 7px;
  -moz-border-radius: 7px;
  padding: 7px;
  background-color: #ecf5f8;
}

#user_panel-container .box ol li {
  list-style: none;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  font-size: 18px;
  margin: 5px;
  border-radius: 7px;
  -moz-border-radius: 7px;
  background-color: #7bbacf;
  cursor: pointer;
  color: white;
}

#user_panel-container .box ol li.active {
  background-color: #f37f00;
}

#user_panel-container .box .preview {
  display: block;
  float: left;
  margin-left: 10px;
  background-color: white;
  box-shadow: 0 0 1px 1px rgba(50,50,50,0.2);
}

#user_panel-container .box .url-container {
  display: block;
  float: left;
  position: relative;
  height: 26px;
  line-height: 26px;
  margin: 0;
}

#user_panel-container .links .url-container {
  display: block;
  height: 26px;
  line-height: 26px;
  margin-left: 5px;
  padding: 4px;
  width: 660px;
}

#user_panel-container .url-container .icon {
  display: inline-block;
  float: left;
  width: 26px;
  height: 26px;
  background: url(/images/user_panel/gera-link.png) no-repeat center;
}

#user_panel-container .url-container input[type=text] {
  position: relative;
  height: 26px;
  padding: 0;
  border: 1px solid #7bbacf;
}

#user_panel-container .box img {
  border: none;
}

#user_panel-container .box .dimensions {
  display: inline-block;
  float: right;
  width: 90px;
  font-weight: bold;
  font-size: 26px;
  height: 26px;
  line-height: 26px;
  color: #c4dde5;
}

#user_panel-container .box.button ol,
#user_panel-container .box.vertical ol,
#user_panel-container .box.horizontal ol {
  float: left;
  width: 45px;
  height: 110px;
  padding: 0;
  margin: 0;
}

#user_panel-container .box.horizontal {
  width: 790px;
  height: 131px;
  margin: 0 0 15px 0;
}

#user_panel-container .box.horizontal .preview-container {
  height: 100px;
}

#user_panel-container .box.horizontal.big .preview {
  width: 728px;
  height: 90px;
}

#user_panel-container .box.horizontal.medium .preview {
  width: 468px;
  height: 60px;
}

#user_panel-container .box.horizontal.small .preview {
  width: 234px;
  height: 60px;
}

#user_panel-container .box.horizontal .url-container input[type=text] {
  width: 448px;
}

#user_panel-container .box.vertical.left {
  float: left;
  width: 206px;
  height: 646px;
  margin: 0 10px 15px 0;
}

#user_panel-container .box.vertical.middle {
  float: left;
  width: 166px;
  height: 646px;
  margin: 0 10px 15px 0;
}

#user_panel-container .box.vertical.right_top {
  float: left;
  width: 166px;
  height: 282px;
  margin: 0 0 5px 0;
}

#user_panel-container .box.vertical.right_bottom {
  float: left;
  width: 166px;
  height: 342px;
  margin: 0;
}

#user_panel-container .box.vertical .preview {
  float: left;
  margin: 0;
}

#user_panel-container .box.vertical.left .preview {
  width: 158px;
  height: 600px;
}

#user_panel-container .box.vertical.middle .preview {
  width: 118px;
  height: 600px;
}

#user_panel-container .box.vertical.right_top .preview {
  width: 118px;
  height: 240px;
}

#user_panel-container .box.vertical.right_bottom .preview {
  width: 118px;
  height: 300px;
}

#user_panel-container .box.vertical .url-container {
  margin: 10px 0 0 0;
}

#user_panel-container .box.vertical.left .url-container input[type=text] {
  width: 168px;
}

#user_panel-container .box.vertical.middle .url-container input[type=text],
#user_panel-container .box.vertical.right_top .url-container input[type=text],
#user_panel-container .box.vertical.right_bottom .url-container input[type=text] {
  width: 128px;
}

#user_panel-container .box.vertical .dimensions {
  float: left;
  position: relative;
  top: -100px;
  left: 32px;
  height: 80px;
  width: 26px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

#user_panel-container .box.square .dimensions {
  margin-right: 15px;
}

#user_panel-container .box.square ol {
  display: inline-block;
  width: 115px;
  height: 32px;
  margin: 0 0 10px 0;
  padding: 0;
}

#user_panel-container .box.square ol li {
  display: inline-block;
  margin: 0;
}

#user_panel-container .box.square {
  display: inline-block;
  margin: 0 5px 10px 0;
}

#user_panel-container .box.square.top_left {
  width: 306px;
  height: 334px;
}

#user_panel-container .box.square.top_right {
  width: 294px;
  height: 334px;
}

#user_panel-container .box.square.bottom_left {
  width: 340px;
  height: 364px;
}

#user_panel-container .box.square.bottom_right {
  width: 258px;
  height: 232px;
}

#user_panel-container .box.square .preview {
  margin: 0;
}

#user_panel-container .box.square.top_left .preview {
  width: 300px;
  height: 250px;
}

#user_panel-container .box.square.top_right .preview {
  width: 250px;
  height: 250px;
}

#user_panel-container .box.square.bottom_left .preview {
  width: 336px;
  height: 280px;
}

#user_panel-container .box.square.bottom_right .preview {
  width: 180px;
  height: 150px;
}

#user_panel-container .box.square .url-container {
  margin: 10px 0 0 0;
}

#user_panel-container .box.square.top_left .url-container input[type=text] {
  width: 268px;
}

#user_panel-container .box.square.top_right .url-container input[type=text] {
  width: 256px;
}

#user_panel-container .box.square.bottom_left .url-container input[type=text] {
  width: 302px;
}

#user_panel-container .box.square.bottom_right .url-container input[type=text] {
  width: 220px;
}

#user_panel-container .box.button {
  display: inline-block;
  margin: 0 10px 10px 0;
  width: 296px;
  height: 174px;
}

#user_panel-container .box.button .preview-container {
  width: 220px;
  height: 120px;
}

#user_panel-container .box.button ol {
  width: 32px;
}

#user_panel-container .box.button ol li {
  margin: 0 0 5px 0;
}

#user_panel-container .box.button .dimensions {
  float: right;
  position: relative;
  right: -35px;
  top: -80px;
  width: 100px;
  height: 26px;
  padding: 0;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

#user_panel-container .box.button .url-container input[type=text] {
  width: 248px;
}

#user_panel-container .box.button.top_left .preview {
  width: 125px;
  height: 125px;
}

#user_panel-container .box.button.top_right .preview {
  width: 120px;
  height: 90px;
}

#user_panel-container .box.button.bottom_left .preview {
  width: 120px;
  height: 60px;
}

#user_panel-container .box.button.bottom_right .preview {
  width: 88px;
  height: 31px;
}

#user_panel-container .links-box .url-container {
  width: 650px;
  height: 26px;
}

#user_panel-container .links-box .url-container input[type=text] {
  width: 487px;
}

#user_panel-container .links-box .url-container .name {
  display: inline-block;
  width: 113px;
  float: left;
  overflow: hidden;
}

#user_panel-container .links-box .links {
  background-color: #ecf5f8;
  padding: 6px;
  border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
}

#user_panel-container .links-box form {
  background-color: #d9ecf2;
  border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  height: 40px;
  line-height: 40px;
}

#user_panel-container .links-box form label {
  margin-right: 10px;
}

#user_panel-container .links-box form input[type=text] {
  width: 175px;
  position: relative;
}


#user_panel-container .submit_blue {
  height: 28px;
  line-height: 28px;
}

#user_panel-container .links-box form .form-fields {
  float: right;
  margin-right: 7px;
}

#user_panel-container .submit_blue input[type=submit] {
  border: none;
  display: inline-block;
  position: relative;
  color: white;
  font-size: 11px;
  top: 1px;
  height: 28px;
  margin: 0;
  background: url(/images/user_panel/blue_button_middle.png) repeat-x;
}

#user_panel-container .submit_blue .left {
  display: inline-block;
  position: relative;
  top: 9px;
  height: 26px;
  width: 8px;
  margin: 0;
  background: url(/images/user_panel/blue_button_left.png) no-repeat;
}

#user_panel-container .submit_blue .right {
  display: inline-block;
  position: relative;
  top: 9px;
  height: 26px;
  width: 8px;
  margin: 0;
  background: url(/images/user_panel/blue_button_right.png) no-repeat;
}

#user_panel-container .text-field {
  display: inline-block;
  position: relative;
  margin-top: -8px;
  height: 26px;
  line-height: 26px;
}

#user_panel-container .text-field input[type=text] {
  border: none;
  height: 26px;
  position: relative;
  margin: 0;
  background: url(/images/user_panel/field_middle_26.png) repeat-x;
}

#user_panel-container .text-field .left {
  display: inline-block;
  position: relative;
  height: 26px;
  width: 4px;
  top: 9px;
  margin: 0;
  padding: 0;
  background: url(/images/user_panel/field_left_26.png) no-repeat;
}

#user_panel-container .text-field .right {
  display: inline-block;
  position: relative;
  height: 26px;
  width: 8px;
  top: 9px;
  margin: 0;
  padding: 0;
  background: url(/images/user_panel/field_right_26.png) no-repeat;
}
