/* @group Defaults */

a, a:visited, a:active {
  color:#34378A;
  text-decoration: none;
}

a:hover {
  color:#A5784B;
  text-decoration:none;
}

input:focus {
  outline: 0 none;
}

img {
  border: 0;
}

body {
  margin: 0;
  background: url(/images/layouts/fundo.jpg) repeat-x;
  background-position-x: 50%;
  font-family: 'Trebuchet MS', Arial;
  font-size: 13px;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.special-s {
  text-decoration: underline;
}

.special-s span {
  text-decoration: overline;
}

/* @end */

/* @group Header */

#header {
  height: 111px;
}

#header img {
  float: left;
  position: relative;
  top: 24px;
  left: 44px;
  z-index: 1;
}

#dove {
  background: url(/images/layouts/pomba.png);
  width: 157px;
  height: 179px;
  position: relative;
  top: 8px;
  left: 222px;
}

/* @group Header Login */

#header #header-login {
  float: right;
  height: 23px;
  margin: 22px 45px 0 0;
}

#header #header-login li {
  display: inline;
  padding-left: 22px;
  font-size: 14px;
}

#header #header-login a {
  color: #34378A;
  text-decoration: none;
  border-bottom: 1px dotted #34378A;
  line-height: 23px;
}

#header #header-login a:hover {
  color: #A5784B;
}

#header #header-login #login-link {
  background: url(/images/layouts/login.png) no-repeat 0 0;
  padding-right: 8px;
  border-right: 1px solid #b7dee3;
}

#header #header-login #signup-link {
  background: url(/images/layouts/registrar.png) no-repeat;
  margin-left: 3px;
}

#header #header-login #profile-link {
  padding-right: 4px;
  border-right: 1px solid #b7dee3;
  color: #645C54;
}

#header #header-login #profile-link a {
  font-weight: bold;
}

#header #header-login #logout-link {
  background: url(/images/layouts/logout.png) no-repeat;
  margin-left: 8px;
}

/* @group Login Form */

#header #header-login #login-form {
  display: none;
  margin-left: 5px;
}

#header #header-login #login-form label {
  display: none;
}

#header #header-login #login-form input {
  background: url(/images/layouts/login/campo.png);
  color: #8E8E8E;
  font-size: 12px;
  border: 0 solid transparent;
  width: 99px;
  height: 13px;
  padding: 5px;
}

#header #header-login #login-form #user_submit {
  background: url(/images/layouts/login/botao-off.png);
  color: white;
  width: 53px;
  height: 23px;
  padding: 0;
}

#header #header-login #login-form #user_submit:hover {
  background: url(/images/layouts/login/botao-on.png);
}

/* @end */

/* @end */

/* @group Header Menu */

#header #header-menu {
  clear: right;
  float: right;
  margin: 28px 66px 0 0;
  padding: 0;
}

#header #header-menu a {
  color: inherit;
  text-decoration: none;
}

#header #header-menu .title {
  display: inline-block;
  color: #f27f00;
  width: 115px;
  height: 44px;
  margin-left: 1px;
  cursor: pointer;
}

#header #header-menu .title.active, #header #header-menu .title.active:hover {
  color: white;
}

#header #header-menu .title:hover {
  color: white;
}

#header #header-menu .title > a, #header #header-menu .title > span {
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  padding: 13px 0 7px 7px;
}

/* @group No Dropdown */

#header #header-menu .title.no-dropdown {
  background: url(/images/layouts/menu/nodropdown.png) no-repeat;
}

#header #header-menu .title.no-dropdown.active, #header #header-menu .title.no-dropdown.active:hover {
  background: url(/images/layouts/menu/nodropdown-active.png) no-repeat;
}

#header #header-menu .title.no-dropdown:hover {
  background: url(/images/layouts/menu/nodropdown-over.png) no-repeat;
}

/* @end */

/* @group Dropdown */

#header #header-menu .title.dropdown {
  background: url(/images/layouts/menu/dropdown.png) no-repeat;
}

#header #header-menu .title.dropdown.active, #header #header-menu .title.dropdown.active:hover {
  background: url(/images/layouts/menu/dropdown-active.png) no-repeat;
}

#header #header-menu .title.dropdown:hover {
  background: url(/images/layouts/menu/dropdown-over.png) no-repeat;
}

#header #header-menu .dropdown ul {
  display: none;
  position: absolute;
  z-index: 999;
  padding: 2px;
  background-color: white;
}

#header #header-menu .dropdown a {
  width: 100%;
}

#header #header-menu .dropdown li {
  color: #34378A;
  padding: 2px 8px 2px 6px;
  list-style-image: url(/images/layouts/menu/bullet-normal.png);
  list-style-position: inside;
}

#header #header-menu .dropdown li:hover {
  background-color: #f27f00;
  color: white;
  padding: 2px 6px;
  list-style-image: url(/images/layouts/menu/bullet-mouseover.png);
}

/* @end */

/* @end */

/* @end */

/* @group Main Container */

#main-container {
  min-height: 249px;
}

/* @end */

/* @group Search */

#search {
  clear: both;
  height: 75px;
}

#search #search-ad {
  float: left;
  margin: 17px 0 0 60px;
  width: 376px;
}

#search #search-ad #ad-line1 {
  margin: 0;
  text-align: left;
  color: #F37F00;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: -1px;
}

#search #search-ad #ad-line2 {
  margin: 0;
  text-align: right;
  color: #7cb9ce;
  font-size: 23px;
  letter-spacing: -1px;
}

#search #firefox-addon {
  float: right;
  padding: 0 0 0 10px;
  margin: 9px 10px 0 0;
  font-size: 11px;
  color: #8E8E8E;
  background: url(/images/layouts/plus-sign.png) no-repeat 0 50%;
  text-decoration: none;
}

#search #search-form {
  float: right;
  margin: 14px 50px 0 0;
  width: 426px;
  height: 61px;
  background: url(/images/layouts/fundo-busca.png);
}

#search #search-form #q {
  width: 228px;
  border: 0 solid transparent;
  background-color: transparent;
  color: #8E8E8E;
  height: 23px;
  margin: 8px 0 0 73px;
}

#search #search-form #search-button {
  color: white;
  font-size: 12px;
  border: 0 solid transparent;
  width: 114px;
  height: 23px;
  background: url(/images/layouts/botao-off.png);
}

/* @end */

/* @group Footer */

#footer {
  clear: both;
  height: 238px;
  margin-top: 16px;
  width: 100%;
  background: url(/images/layouts/rodape.png) repeat-x;
  background-position-x: 50%;
  color: #9c938a;
}

#footer a {
  color: inherit;
  text-decoration: none;
}

/* @group Footer Menu */

#footer #footer-menu {
  height: 112px;
  padding: 24px 47px;
}

#footer #footer-menu .section {
  padding-left: 29px;
  float: left;
}

#footer #footer-menu #smshare-menu {
  padding-left: 25px;
  padding-right: 5px;
}

#footer #footer-menu #institutional-menu {
  padding-left: 35px;
}

#footer #footer-menu .section .title {
  color: #a5784b;
  font-weight: bold;
  font-size: 15px;
  margin: 1px 0 4px 0;
}

#footer #footer-menu .section ul {
  margin: 6px 0 0 0;
  padding-left: 0px;
}

#footer #footer-menu .section li {
  list-style-type: none;
  font-size: 13px;
  line-height: 18px;
}

#footer #footer-menu .section li.active, #footer #footer-menu .section li:hover {
  color: #a5784b;
  list-style-image: url(/images/layouts/menu_bullet.gif);
}

/* @end */

/* @group Footer Logos */

#footer #logos {
  padding: 0 50px 0 45px;
}

#footer #logos #talk {
  margin-top: 22px;
  float: left;
}

#footer #logos #alianca {
  margin: 19px 0 0 36px;
  float: left;
}

#footer #logos #rss {
    margin: 11px 23px 0 0;
  float: right;
}

#footer #logos #twitter {
  margin: 11px 27px 0 0;
  float: right;
}

#footer #logos #certisign {
  margin-top: 9px;
  float: right;
}

#footer #copyright {
  margin: 21px 0 0 302px;
  text-align: center;
  font-size: 12px;
}

#footer #copyright #policy, #footer #copyright #terms-of-use {
  line-height: 18px;
  font-weight: bold;
}

/* @end */

/* @end */

/* @group Notice */

p.notifications {
  display: none;
  width: 100%;
  text-align: center;
  background: url(/images/layouts/fundo-alertas.png);
  position: absolute;
  padding: 10px 0;
  font-size: 18px;
  left: 0;
  top: 0;
  margin: 0;
  z-index: 9999;
}

p.notice {
  color: green;
}

p.alert {
  color: red;
}

/* @end */

/* @group Pagination */

.pagination a, .pagination span {
  display: inline-block;
  background: white;
  padding: 3px 5px;
  border-radius: 3px;
}

.pagination em, .pagination a:hover {
  font-style: normal;
  color: white;
  background: #82bace;
  padding: 3px 5px;
  border-radius: 3px;
}

.pagination .previous_page {
  margin-right: 15px;
}

.pagination .next_page {
  margin-left: 15px;
}

/* @end */

/* @group Input Styling */

.field-container {
  margin: 0 0 5px 0;
}

.field-container .file-field {
  display: inline-block;
  position: relative;
  border: 0 transparent;
  background: url(/images/user_panel/field_middle.png) repeat-x;
  width: 471px;
  top: -6px;
  color: #8e8e8e;
  height: 19px;
  margin: 0;
  padding: 7px 0;
}

.field-container .left {
  display: inline-block;
  width: 4px;
  height: 32px;
  padding: 0;
  background: url(/images/user_panel/field_left.png) no-repeat;
}

.field-container .right {
  display: inline-block;
  width: 5px;
  padding: 0;
  height: 32px;
  background: url(/images/user_panel/field_right.png) no-repeat;
}

.field-container .file-field .file-button {
  display: inline-block;
  position: relative;
  float: right;
  width: 122px;
  height: 23px;
  top: -2px;
  color: white;
  text-align: center;
  line-height: 23px;
  background: url(/images/user_files/botao-rename-off.png) no-repeat;
}

.field-container .file-field .file-name {
  display: inline-block;
  height: 19px;
  overflow: hidden;
}

.checkbox {
  width: 20px;
  height: 25px;
  padding: 0 5px 0 0;
  background: url(/images/layouts/checkbox.png) no-repeat;
  display: block;
  clear: left;
  float: left;
}

/* @end */
