/*body { 
  margin: 0;
  background: #ccff33;
  margin: 8px 5px;
}*/

/* @group Reset */

.download_box img, .download_box p, .download_box a, .download_box a:hover, .download_box a:visited { 
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	line-height: normal;
	background: transparent !important;
}
/* @end */

.download_box { 
  background:  url(/images/download_box/fundo.png);
  width: 342px !important;
  height: 165px !important;
  padding: 3px 6px 7px 4px !important;
  font-family: 'Trebuchet MS', Arial !important;
  font-size: 13px !important;
}

.download_box .filename { 
  float: left;
  margin: 0;
  color: white !important;
  font-size: 12px !important;
  padding: 6px 3px 6px 14px !important;
  max-width: 243px;
  height: 14px;
}

.download_box .filename a{ 
  color: white !important;
  text-decoration: none;
}

.download_box .filename em {
  font-weight: bold;
  font-style: normal;
}

.download_box .filesize { 
  float: right;
  margin: 0;
  color: white;
  font-size: 12px !important;
  font-weight: bold !important;
  padding: 6px 9px 6px 3px !important;
  max-width: 70px;
  height: 14px;
  overflow: hidden;
}

.download_box .call-to-action { 
  clear: both;
  color: #1d4e5d !important;
  text-align: center;
  margin: 0;
  padding: 9px 0 1px 0 !important;
}

.download_box .sms { 
  color: #676568;
  font-size: 20px !important;
  text-align: center;
  margin: 0;
  padding: 1px 0 !important;
}

.download_box .sms em {
  font-weight: bold;
  font-style: normal;
  color: #5596aa;
}

.download_box .sms .star { 
  font-weight: normal;
}

.download_box .price { 
  color: #9c9e9d !important;
  font-size: 10px !important;
  text-align: right;
  margin: 0;
  padding: 2px 14px !important;
}

.download_box form { 
  background: url(/images/download_box/input.png);
  width: 310px;
  height: 24px;
  margin: 4px 12px !important;
  padding: 5px 4px 4px 6px !important;
}

.download_box form .code_field { 
  float: left;
  border: 0;
  outline: 0;
  background: transparent !important;
  width: 194px;
  font-size: 12px !important;
  height: 23px;
  color: #8e8e8e !important;
}

.download_box form .submit { 
  float: right;
  color: white !important;
  font-size: 12px !important;
  border: 0;
  width: 112px;
  height: 23px;
  background: url(/images/download_box/botao-off.png);
}

.download_box form label { 
  display: none;
}

.download_box .logo { 
  float: left;
  padding: 3px 12px !important;
}

.download_box .have_one {
  float: right;
  margin: 0;
  color: #5596aa !important;
  text-decoration: none !important;
  padding: 7px 15px 0 0 !important;
  
}

.download_box .have_one span { 
  margin-left: 16px !important;
  font-size: 14px !important;
  height: 13px;
}