/*body { 
  margin: 0;
  background: #ccff33;
  margin: 8px 5px;
}*/

/* @group Reset */

.download_box img, .download_box p, .download_box a, .download_box a:hover, .download_box a:visited {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	line-height: normal;
	background: transparent !important;
}
/* @end */

.download_box { 
  position: absolute;
  z-index: 9999;
  width: 342px !important;
  height: 165px !important;
  padding: 3px 6px 7px 4px !important;
  font-family: 'Trebuchet MS', Arial !important;
  font-size: 13px !important;
  border-radius: 7px;
  -moz-border-radius: 7px;
}

.download_box .box-header {
  display: block;
  width: 352px;
  height: 28px;
  margin-left: -4px;
  margin-top: -3px;
  line-height: 28px;
  border-bottom: 1px solid rgba(29,29,29,0.5);
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
}

.download_box .box-header .header-glass {
  display: block;
  width: 352px;
  height: 15px;
  margin-bottom: -15px;
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  background-color: rgba(255,255,255,0.1);
}

.download_box .filename { 
  float: left;
  margin: 0 !important;
  font-size: 12px !important;
  padding: 6px 3px 6px 14px !important;
  max-width: 243px;
  height: 14px;
  margin-top: -5px !important;
}

.download_box .filename a{ 
  text-decoration: none;
}

.download_box .filename em {
  font-weight: bold;
  font-style: normal;
}

.download_box .filesize { 
  float: right;
  margin: 0 !important;
  font-size: 12px !important;
  font-weight: bold !important;
  padding: 6px 9px 6px 3px !important;
  max-width: 70px;
  height: 14px;
  margin-top: -5px !important;
  overflow: hidden;
}

.download_box .filesize em {
  font-style: normal;
}

.download_box .call-to-action { 
  clear: both;
  text-align: center;
  margin: 0 !important;
  padding: 9px 0 1px 0 !important;
}

.download_box .sms {
  font-size: 20px !important;
  text-align: center;
  margin: 0 !important;
  padding: 1px 0 !important;
}

.download_box .sms em {
  font-weight: bold;
  font-style: normal;
}

.download_box .sms .star { 
  font-weight: normal;
}

.download_box .price { 
  font-size: 10px !important;
  text-align: right;
  margin: 0 !important;
  padding: 2px 14px !important;
}

.download_box form { 
  width: 310px;
  height: 24px;
  margin: 4px 12px !important;
  padding: 5px 4px 4px 6px !important;
  border-radius: 7px;
  -moz-border-radius: 7px;
}

.download_box form .code_field { 
  float: left;
  border: 0 !important;
  outline: 0 !important;
  background: transparent !important;
  width: 194px;
  font-size: 12px !important;
  height: 23px;
}

.download_box form .submit { 
  float: right;
  font-size: 12px !important;
  border: 0 !important;
  width: 112px;
  height: 23px;
  background: url(/images/download_box/botao-brilho.png) no-repeat;
  background-position: 1px 1px;
  border-radius: 5px;
  -moz-border-radius: 5px;
}

.download_box form label { 
  display: none;
}

.download_box .logo { 
  float: left;
  padding: 3px 12px !important;
}

.download_box .have_one {
  float: right;
  margin: 0 !important;
  text-decoration: none !important;
  padding: 7px 15px 0 0 !important;
}

.download_box .have_one span { 
  margin-left: 16px !important;
  font-size: 14px !important;
  height: 13px;
}

#style-data {
  display: none;
}


