#faq-all-tabs {
  background-color: rgba(255,255,255,0.5);
  border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  height:60px;
  position:relative;
  width:809px;
  padding: 0px 0 0px auto;
  margin: 0 auto -9px auto;
  line-height: normal;
}

ul#faq-tab-bar {
  list-style: none;
  text-align: center;
  padding: 0px;
  margin:0px 0px 0px 0px;
  position: relative;
  top: 22px;
}

ul#faq-tab-bar li {
  display: inline;
  list-style: none;
  background-color: #ffffff;
  border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  padding: 15px 24px 15px 24px;
  margin: 0 3px 0 3px;
  color: #cccccc;
  font-size: 18px;
  font-weight: bold;
}

ul#faq-tab-bar li:hover {
  color: #7bbacf;
}

ul#faq-tab-bar .tab.active {
  position: relative;
  top: -4px;
  background-color: #7bbacf;
  padding: 20px 20px 20px 20px;
  color: #ffffff;
}

#questions {
  width: 806px;
  margin: 0px auto 40px auto;
  list-style: none;
  padding:0px;
}

p.question {
  width: 100%;
  height: 28px;
  line-height: 28px;
  background-size: 100%;
  color: #ffffff;
  font-size: 13px;
  padding-left: 5px;
  vertical-align: middle;
  margin-bottom: -11px;
}

p.question:hover {
  cursor: pointer;
}

p.answer {
  position: relative;
  vertical-align: middle;
  line-height: 19px;
  margin: 20px 10px 5px 10px;
}
