/* Página do arquivo */


#file-container.edit {
  margin-left: 0;
}

#file-container {
  clear: right;
  width: 608px;
  margin-left: 224px;
  padding: 0 4px;
}

#file-container .filetype  {
  float: left;
  width: 90px;
  height: 68px;
  line-height: 68px;
  vertical-align: center;
  margin: 5px 9px 5px 0;
  background-color: white;
  box-shadow: 1px 1px 1px 1px rgba(50,50,50,0.05);
}

#file-container .filetype span {
  display: block;
  position: relative;
  float: right;
  color: gray;
  font-size: 11px;
  right: 3px;
  top: -23px;
}

#file-container .filetype div {
  display: block;
  position: relative;
  height: 50px;
  width: 50px;
  top: 9px;
  text-align: center;
  line-height: 50px;
  margin: 0 auto;
}

#file-container .general-info .description textarea {
  width: 480px;
  height: 60px;
  margin: 1px;
  margin-left: 5px;
  padding: 2px;
  resize: none;
  border: 1px solid #7bbacf;
  background-color: white;
  color: gray;
  border-radius: 7px;
  -moz-border-radius: 7px;
}

#file-container .go-back {
  display: block;
  position: relative;
  width: 608px;
  height: 20px;
  border-bottom: 1px dotted black;
  top: -8px;
  padding: 0 0 8px 0;
}

#file-container .go-back a {
  line-height: 20px;
  color: #4f4439;
}

#file-container .go-back span {
  height: 15px;
  padding: 0 15px 0 3px;
  margin-right: 7px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  background: url(/images/search/voltar.png) no-repeat;
  background-position: center;
  background-color: white;
}

#file-container .general-info {
  margin-top: -10px;
  color: #4f4439;
  min-height: 80px;
  border-bottom: 1px dotted black;
}

#file-container .images {
  display: block;
  border-bottom: 1px dotted black;
  height: 130px;
  width: 608px;
  margin: 0;
}

#file-container .images img.filled {
  width: 140px;
  height: 105px;
  background-color: white;
}

#file-container .images img {
  display: inline;
  margin: 12px 2px 15px 7px;
  width: 140px;
  height: 105px;
  box-shadow: 1px 1px 1px 1px rgba(50,50,50,0.075);
}

#file-container h5 {
  width: 310px;
  height: 16px;
  font-size: 16px;
  line-height: 16px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 15px;
  overflow: hidden;
  color: #4f4439;
}


#file-container h5.title {
  color: #383289;
  margin-left: 0;
}



#file-container .file-info {
  display: block;
  color: #4f4439;
  height: 100px;
  font-size: 11px;
  line-height: 20px;
  width: 608px;
  border-bottom: 1px dotted black;
}

#file-container .file-info img {
  width: 15px;
  height: 15px;
}

#file-container .file-info .left {
  float: left;
  width: 185px;
  margin-top: 10px;
  margin-left: 5px;
  padding 5px;
}

#file-container .file-info .right {
  float: left;
  width: 155px;
  margin-top: 10px;
  margin-left: 30px;
  padding 5px;
}

#file-container .file-info a.download-button {
  background: url(/images/search/fundo-download.png) no-repeat;
  display: block;
  float: left;
  height: 80px;
  width: 230px;
  margin-top: 10px;
}

#file-container .file-info a.download-button .download-title {
  color: white;
  font-size: 20px;
  margin-left: 60px;
  line-height: 60px;
}

#file-container .file-info a.download-button span.virus {
  display: block;
  color: white;
  margin-top: -23px;
  margin-left: 60px;
}

#file-container .file-info .antivirus {
  position: relative;
  font-size: 12px;
  color: gray;
  top: -15px;
  margin-left: 15px;
}

#file-container .share {
  color: #4f4439;
  display: block;
  padding-bottom: 15px;  
  border-bottom: 1px dotted black;
}

#file-container .share .labels {
  float: left;
  display: block;
  width: 50px;
  line-height: 29px;
  text-align: right;
}

#file-container .share .share-icons {
  display: block;
  float: right;
  width: 268px;
  margin-top: -90px;
  margin-right: -7px;
}

#file-container .share .share-icons img {
  margin: -2px -1px -2px -2px;
  width: 32px;
  height: 32px;
}

#file-container .share input[type=text] {
  width: 276px;
  height: 23px;
  margin: 1px;
  margin-left: 5px;
  padding: 2px;
  border: 1px solid #7bbacf;
  background-color: white;
  color: gray;
  border-radius: 7px;
  -moz-border-radius: 7px;
}

#file-container .comments {
  padding-bottom: 10px;
}

#file-container .comments h5 span {
  color: black;
}

#file-container .comments #new-comment-form {
  display: block;
  color: gray;
  font-size: 12px;
  margin-top: 10px;
}

#file-container .comments #new-comment-form textarea {
  width: 600px;
  height: 80px;
  border: none;
  resize: none;
  border-radius: 7px;
  border: 1px solid #7bbacf;
  -moz-border-radius: 7px;
}

#file-container .comments #new-comment-form .characters {
  line-height: 24px;
  height: 24px;
}

#file-container .comments #new-comment-form .characters .character-counter {
  color: black;
}

#file-container .comments #new-comment-form input[type=submit] {
  display: block;
  float: right;
  height: 26px;
  width: 122px;
  margin-right: 5px;
  background: url(/images/search/botao-enviar-off.png) no-repeat;
  color: white;
  font-size: 11.5px;
  border: none;
  border-radius: 5px;
  -moz-border-radius: 5px;
}

#file-container .comments #new-comment-form .rate-file {
  display: block;
  float: right;
  line-height: 24px;
  height: 24px;
  margin-right: 15px;
}

#file-container .comments #new-comment-form .rate-file input[type=radio] {
  display: none;
}

#file-container .comments #new-comment-form .rate-file .star {
  padding: 5px;
  background: url(/images/search/icone-nota-off.png) no-repeat;
  margin: 0 -1px;
}

#file-container .comments .comment {
  padding: 10px;
  font-size: 12px;
}

#file-container .comments .comment .rate-stars {
  float: right;
  margin-top: -22px;
}

#file-container .comments .comment .rate-stars img {
  margin: 0 1px;
}

#file-container .comments .comment p {
  display: block;
  margin-top: 5px;
  color: #4f4439;
  word-wrap: break-word;
}

#file-container .comments .comment.odd {
  background-color: #cce5ed;
}

#file-container .comments .comment.even {
  background-color: #e2f0f5;
}

#file-container .comments .pagination {
  display: block;
  margin: 20px 0;
  text-align: center;
}

#file-container .comments .no-comments img {
  margin-left: 15px;
}

#file-container .comments .no-comments p {
  display: inline;
  position: relative;
  padding: 0;
  margin: 0 10px;
  top: -25px;
}

