#news-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(180,217,230,0.48);
  border-radius: 10px;
  padding: 15px;
  width: 93%;
}

#news-banner {
  display: block;
  width: 180px;
  height: 80px;
  font-family: "Trebuchet MS";
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: #7bbacf;
  background-color: #ffffff;
}

#news-banner-sub {
  display: block;
  position: relative;
  bottom: -1px;
  width: 180px;
  height: 30px;
  font-size: 18px;
  line-height: 30px;
  vertical-align: center;
  background-color: #7bbacf;
  color: #ffffff;
}

.date {
  display: block;
  float: left;
  width: 45px;
  height: 55px;
  font-family: "Trebuchet MS";
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-right: 10px;
  color: #7bbacf;
  background-color: #ffffff;
  box-shadow: 1px 4px 2px 2px rgba(50,50,50,0.05);
}

.month {
  display: block;
  position: relative;
  bottom: -1px;
  width: 45px;
  height: 20px;
  font-size: 16px;
  line-height: 20px;
  vertical-align: center;
  background-color: #7bbacf;
  color: #ffffff;
}

.news-item {
  height: 80px;
  margin-top: -12px;
}

.title {
  display: block;
  color: #4e4338;
  font-size: 20px;
  font-weight: bold;
}

.news-text {
  display: block;
  position: relative;
  width: 97%;
  height: 30px;
  font-size: 12px;
  line-height: 18px;
  text-align: justify;
  margin-top: -8px;
  left: 15px;
}

.full-text{
  display: block;
  position: relative;
  width: 85%;
  margin-left: 60px;
  font-size: 12px;
  line-height: 18px;
  text-align: justify;
  margin-top: -8px;
  left: 15px;
}

#news-container a {
  font-weight: bold;
  border-bottom: 1px dotted #34378A;
}

#news-items {
  display: block;
  position: relative;
  width: 62%;
  left: 330px;
  top: -70px;
  margin-bottom: -80px;
}

#news-full {
  display: block;
  position: relative;
  width: 62%;
  left: 330px;
  top: -82px;
  margin-bottom: -80px;
}

#news-container .navigation,
#news-container .pagination {
  color: #000088;
  position: relative;
  left: 330px;
}

#news-container .pagination .disabled {
  display: none;
}

#news-container .pagination a,
#news-container .pagination span {
  background: none;
  margin: 0;
  border-radius: 0;
  -moz-border-radius: 0;
}

#news-container .pagination span.separator {
  color: black;
}


