#user_new { 
  background: url(/images/registrations/fundo.png);
  width: 831px;
  height: 336px;
  margin: 0 39px;
  padding: 11px 14px;
}

#user_new .inline-hints { 
  display: none;
}

#user_new .title { 
  float: left;
}

#user_new .title p { 
  font-weight: bold;
  text-align: center;
}

#user_new .title .line1 { 

  width: 188px;
  height: 52px;
  background: white;
  color: #7bbacf;
  line-height: 52px;
  font-size: 40px;
}

#user_new .title .line2 { 
  width: 188px;
  height: 28px;
  background: #7bbacf;
  color: white;
  line-height: 28px;
  font-size: 18px;
}

#user_new .title img { 
  margin: 71px 0 0 67px;
}

#user_new .call-to-action { 
  width: 525px;
  padding: 9px 11px 0 0;
  float: right;
  text-indent: 35px;
  line-height: 18px;
}

#user_new #user_fields { 
  margin: 89px 0 12px 293px;
  width: 520px;
}

#user_new #user_fields ol li { 
  margin-bottom: 6px;
}

#user_new #user_fields label { 
  text-align: right;
  padding-right: 5px;
  line-height: 21px;
  width: 120px;
}

#user_new #user_fields input {
  background: url(/images/registrations/input.png);
  border: 0;
  width: 232px;
  max-width: 232px;
  height: 27px;
  padding: 0 7px;
}

#user_new #terms_field label,  { 
  padding-left: 0;
  margin: 0 0 0 228px;
}

#user_new .buttons { 
  padding-left: 0;
  margin: 0 0 0 418px;
}

#user_new #terms_field ol li { 
  margin-bottom: 12px;
  overflow: hidden;
}

#user_new .buttons input { 
  color: white;
  font-size: 12px;
  border: 0;
  width: 114px;
  height: 23px;
  background: url(/images/layouts/botao-off.png);
}



