#search-container {
  width: 840px;
  margin: 0 39px;
  padding: 8px 9px;
  background: rgba(180, 217, 230, 0.5);
  border-radius: 10px;
  -moz-border-radius: 10px;
}

#search-header {
  float: right;
  height: 141px;
  width: 616px;
  z-index: 2;
}

#search-header #firefox-addon { 
  float: right;
  padding: 0 0 0 10px;
  margin: 45px 18px 0 0;
  font-size: 11px;
  color: #8E8E8E;
  background: url(/images/layouts/plus-sign.png) no-repeat 0 50%;
  text-decoration: none;
}

#search-header #header-search-form {
  height: 127px;
  background: url(/images/search/fundo-formulario.png);
}

#search-header #header-search-form #q {
  width: 352px;
  border: 0 solid transparent;
  background-color: transparent;
  color: #8E8E8E;
  height: 23px;
  margin: 7px 0 0 125px;
}

#search-header #header-search-form #search-button {
  color: white;
  font-size: 12px;
  border: 0 solid transparent;
  width: 114px;
  height: 23px;
  background: url(/images/layouts/botao-off.png);
}

#search-order {
  float: left;
  width: 222px;
}

#search-order ul {
  list-style-type: none;
  padding-left: 5px;
  margin: 9px 0;
}

#search-order ul li {
  padding: 5px 5px 5px 28px;
  margin: 3px 0;
  width: 184px;
  height: 15px;
  background: white;
  color: #EC7D14;
  border-radius: 7px 0 0 7px;
  -moz-border-radius: 7px 0 0 7px;
}

#search-order a.order-by{
  text-decoration: none;
  color: #f37f00;
}

#search-order ul li.order-by-date {
  background: white url(/images/search/icone-data.png) no-repeat 5px 3px;
}

#search-order ul li.order-by-downloads {
  background: white url(/images/search/icone-downloads.png) no-repeat 5px 3px;
}

#search-order ul li.order-by-comments {
  background: white url(/images/search/icone-comentarios.png) no-repeat 5px 3px;
}

#search-order ul li.order-by-rate {
  background: white url(/images/search/icone-nota.png) no-repeat 5px 3px;
}

#search-results {
  clear: right;
  width: 608px;
  min-height: 200px;
  margin-left: 224px;
  padding: 4px;
}

#search-results .search-info {
  text-align: right;
  margin-top: 0;
}

#search-results .search-result {
  padding-top: 5px;
  height: 90px;
  border-bottom: 1px dotted black;
}

#search-results .search-result .filetype,
#file-container .filetype  {
  float: left;
  width: 90px;
  height: 68px;
  line-height: 68px;
  vertical-align: center;
  margin: 5px 9px 5px 0;
  background-color: white;
  box-shadow: 1px 1px 1px 1px rgba(50,50,50,0.05);
}

#search-results .search-result .filetype span,
#file-container .filetype span {
  display: block;
  position: relative;
  float: right;
  color: gray;
  font-size: 11px;
  right: 3px;
  top: -23px;
}

#search-results .search-result .filetype div,
#file-container .filetype div {
  display: block;
  position: relative;
  height: 50px;
  width: 50px;
  top: 9px;
  text-align: center;
  line-height: 50px;
  margin: 0 auto;
}

#search-results .search-result h5 {
  float: left;
  width: 310px;
  height: 16px;
  font-size: 16px;
  line-height: 16px;
  margin: 0;
  overflow: hidden;  
  color: #383289;  
}

#search-results .search-result .description {
  float: left;
  width: 310px;
  height: 32px;
  font-size: 12px;
  line-height: 16px;
  margin: 5px 0;
  overflow: hidden;  
}

#search-results .search-result .download {
  float: left;
  width: 310px;
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  background: url(/images/search/icone-download.png) no-repeat;
}

#search-results .search-result .download a {
  margin-left: 20px;
  border-bottom: 1px dotted #34378A;
}

#search-results .search-result .download .download-link {
  float: left;
}

#search-results .search-result .download .filesize {
  float: right;
}

#search-results .search-result .owner, #search-results .search-result .comments,
#search-results .search-result .rate, #search-results .search-result .statistics {
  float: right;
  width: 165px;
  height: 17px;
  padding: 3px 0 0 25px;
  margin: 0;
  font-size: 12px;
  overflow: hidden;
}

#search-results .search-result .owner {
  padding-top: 1px;
  background: url(/images/search/icone-data.png) no-repeat;
}

#search-results .search-result .comments {
  clear: right;
  background: url(/images/search/icone-comentarios.png) no-repeat;
}

#search-results .search-result .rate {
  clear: right;
  background: url(/images/search/icone-nota.png) no-repeat;
}

#search-results .search-result .statistics {
  clear: right;
  background: url(/images/search/icone-downloads.png) no-repeat;
}

#search-results .pagination {
  margin: 15px 0 5px 0;
  text-align: center;
}



/* Página do arquivo */

#file-container {
  clear: right;
  width: 608px;
  margin-left: 224px;
  padding: 0 4px;
}

#file-container .go-back {
  display: block;
  position: relative;
  width: 608px;
  height: 20px;
  border-bottom: 1px dotted black;
  top: -8px;
  padding: 0 0 8px 0;
}

#file-container .go-back a {
  line-height: 20px;
  color: #4f4439;
}

#file-container .go-back span {
  height: 15px;
  padding: 0 15px 0 3px;
  margin-right: 7px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  background: url(/images/search/voltar.png) no-repeat;
  background-position: center;
  background-color: white;
}

#file-container .general-info {
  margin-top: -10px;
  color: #4f4439;
  min-height: 80px;
  border-bottom: 1px dotted black;
}

#file-container .images {
  display: block;
  border-bottom: 1px dotted black;
  height: 130px;
  width: 608px;
  margin: 0;
}

#file-container .images img {
  display: inline;
  margin: 12px 2px 15px 7px;
  width: 140px;
  height: 105px;
}

#file-container h5 {
  width: 310px;
  height: 16px;
  font-size: 16px;
  line-height: 16px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 15px;
  overflow: hidden;
  color: #4f4439;
}


#file-container h5.title {
  color: #383289;
  margin-left: 0;
}



#file-container .file-info {
  display: block;
  color: #4f4439;
  height: 100px;
  font-size: 11px;
  line-height: 20px;
  width: 608px;
  border-bottom: 1px dotted black;
}

#file-container .file-info img {
  width: 15px;
  height: 15px;
}

#file-container .file-info .left {
  float: left;
  width: 185px;
  margin-top: 10px;
  margin-left: 5px;
  padding 5px;
}

#file-container .file-info .right {
  float: left;
  width: 155px;
  margin-top: 10px;
  margin-left: 30px;
  padding 5px;
}

#file-container .file-info a.download-button {
  background: url(/images/search/fundo-download.png) no-repeat;
  display: block;
  float: left;
  height: 80px;
  width: 230px;
  margin-top: 10px;
}

#file-container .file-info a.download-button .download-title {
  color: white;
  font-size: 20px;
  margin-left: 60px;
  line-height: 60px;
}

#file-container .file-info a.download-button span.virus {
  display: block;
  color: white;
  margin-top: -23px;
  margin-left: 60px;
}

#file-container .file-info .antivirus {
  position: relative;
  font-size: 12px;
  color: gray;
  top: -15px;
  margin-left: 15px;
}

#file-container .share {
  color: #4f4439;
  display: block;
  padding-bottom: 15px;  
  border-bottom: 1px dotted black;
}

#file-container .share .labels {
  float: left;
  display: block;
  width: 50px;
  line-height: 29px;
  text-align: right;
}

#file-container .share .share-icons {
  display: block;
  float: right;
  width: 268px;
  margin-top: -90px;
  margin-right: -7px;
}

#file-container .share .share-icons img {
  margin: -2px -1px -2px -2px;
  width: 32px;
  height: 32px;
}

#file-container .share input[type=text] {
  width: 276px;
  height: 23px;
  margin: 1px;
  margin-left: 5px;
  padding: 2px;
  border: 1px solid #7bbacf;
  background-color: white;
  color: gray;
  border-radius: 7px;
  -moz-border-radius: 7px;
}

#file-container .comments {
  padding-bottom: 10px;
}

#file-container .comments h5 span {
  color: black;
}

#file-container .comments #new-comment-form {
  display: block;
  color: gray;
  font-size: 12px;
  margin-top: 10px;
}

#file-container .comments #new-comment-form textarea {
  width: 600px;
  height: 80px;
  border: none;
  resize: none;
  border-radius: 7px;
  -moz-border-radius: 7px;
}

#file-container .comments #new-comment-form .characters {
  line-height: 24px;
  height: 24px;
}

#file-container .comments #new-comment-form .characters .character-counter {
  color: black;
}

#file-container .comments #new-comment-form input[type=submit] {
  display: block;
  float: right;
  height: 26px;
  width: 122px;
  margin-right: 5px;
  background: url(/images/search/botao-enviar-off.png) no-repeat;
  color: white;
  font-size: 11.5px;
  border: none;
  border-radius: 5px;
  -moz-border-radius: 5px;
}

#file-container .comments #new-comment-form .rate-file {
  display: block;
  float: right;
  line-height: 24px;
  height: 24px;
  margin-right: 15px;
}

#file-container .comments #new-comment-form .rate-file input[type=radio] {
  display: none;
}

#file-container .comments #new-comment-form .rate-file .star {
  padding: 5px;
  background: url(/images/search/icone-nota-off.png) no-repeat;
  margin: 0 -1px;
}

#file-container .comments .comment {
  padding: 10px;
  font-size: 12px;
}

#file-container .comments .comment .rate-stars {
  float: right;
  margin-top: -22px;
}

#file-container .comments .comment .rate-stars img {
  margin: 0 1px;
}

#file-container .comments .comment .texto {
  display: block;
  margin-top: 5px;
  color: #4f4439;
}

#file-container .comments .comment.odd {
  background-color: #cce5ed;
}

#file-container .comments .comment.even {
  background-color: #e2f0f5;
}

#file-container .comments .pagination {
  display: block;
  margin: 20px 0;
  text-align: center;
}

/* Filtro de categorias */

#categorias {
  float: left;
  width: 222px;
}

#categorias h5 {  
  width: 310px;
  height: 16px;
  font-size: 16px;
  line-height: 16px;
  margin-top: 25px;
  margin-left: 10px;
  margin-bottom: 15px;
  overflow: hidden;
  color: #4f4439;
}

#categorias .categoria {
  list-style: none;
  margin-left: -15px;
}

#categorias .categoria a {
  text-decoration: none;
  border-bottom: 1px dotted #34378a;
}
