/* @group Defaults */

body {
  background: url(/images/user_panel/fundo.jpg) no-repeat 50% 0;
}

/* @end */

/* @group Header */

#header {
  height: 90px;
}

#header img {
  top: 22px;
  left: 42px;
}

/* @end */

/* @group Main Container */

#main-container {
  min-height: 300px;
  color: #645C54;
}

#user_panel-container { 
  float: right;
  width: 625px;
  margin: 0 42px 0 0;
}

#user_panel-container h2 {
  font-size: 30px;
  color: #423b35;
  margin: 0 0 16px 3px;
}

/* @end */

/* @group Sidebar */

#sidebar { 
  float: left;
  width: 182px;
  margin: 1px 0 0 34px;
  padding: 5px;
  background: url(/images/user_panel/menu.png);
  font-size: 14px;
}

#sidebar > li { 
  display: block;
  width: 152px;
  padding: 10px 15px;
  margin-bottom: 5px;
  color: #34378A;
}

#sidebar > li.no-dropdown {
  background: url(/images/user_panel/menu/nodropdown.png) no-repeat;
}

#sidebar > li {
  cursor: pointer;
  background: url(/images/user_panel/menu/dropdown.png) no-repeat;
}

#sidebar > li.active { 
  color: white;
  background: url(/images/user_panel/menu/dropdown-active.png) no-repeat;
}

#sidebar li.active ul.dropdown{
  display: block;
}

#sidebar li ul.dropdown { 
  display: none;
  width: 147px;
  height: 76px;
  margin: 10px 0 5px -10px;
  padding: 5px 15px;
  background: url(/images/user_panel/menu/fundo-active.png);
}

#sidebar li ul.dropdown li {
  list-style-image: url(/images/user_panel/menu/bullet-off.png);
  list-style-position: inside;
  margin: 7px 0;
}

#sidebar li ul.dropdown li.active {
  list-style-image: url(/images/user_panel/menu/bullet-active.png);
}

#sidebar li ul.dropdown li.active a { 
  color: #f37f00;
}

/* @end */

/* @group File Upload Form */

.upload { 
  display: block;
  width: 625px;
  padding: 21px 15px;
  background: url(/images/user_files/fundo_web.png);
}

#files_form input {
  margin-bottom: 7px;
  overflow: hidden;
}

#files_form .file_fields {
  width: 481px;
  padding: 1px;
}

#files_form .inline-errors {
  display: none;
}

#files_form .file_fields label {
  display: none;
}

#files_form .file_fields input {
  border: 0 transparent;
  min-width: 465px;
  width: 465px;
  background: url(/images/user_files/campo.png);
  color: #8e8e8e;
  height: 19px;
  padding: 7px 8px;
}

#files_form .public_field {
  float: right;
}

#files_form .public_field label {
  padding: 9px 3px 0 0;
  color: #34378A;
}

#files_form .public_field {
  height: 34px;
}

#files_form .buttons {
  clear: right;
  float: right;
  padding-left: 0;
  margin-top: -40px;
}

#files_form .buttons li {
  padding-right: 0;
}

#files_form .buttons #files_submit {
  border: 0;
  width: 132px;
  height: 33px;
  color: white;
  background: url(/images/user_files/botao-off.png);
}

#files_form #more-files {
  background: url(/images/user_files/mais_arquivos.png) no-repeat 3px 4px;
  font-size: 14px;
  cursor: pointer;
  padding: 2px 0 0 25px;
}

#files_form #more-urls {
  float: right;
  background: url(/images/user_files/mais_arquivos.png) no-repeat 3px 10px;
  font-size: 14px;
  padding: 8px 0 17px 25px;
  margin: 0;
}

/* @end */

/* @group Index */

#main_statistics { 
  height: 73px;
  text-align: center;
  background: url(/images/user_panel/barras.png) no-repeat 2px 8px;
}

#main_statistics .title {
  font-size: 15px;
  margin: 0;
}

#main_statistics .stat {
  margin: 0;
  padding-top: 8px;
  font-size: 22px;
  font-weight: bolder;
}

#main_statistics .stat_unit {
  font-size: 16px;
}


#main_statistics .stat_observation { 
  margin: 0;
  font-size: 11px;
}

#main_statistics #storage {
  margin-left: 77px;
  width: 138px;
  float: left;
}

#main_statistics #bandwidth { 
  margin-left: 7px;
  width: 138px;
  float: left;
}

#main_statistics #downloads { 
  margin-left: 7px;
  width: 138px;
  float: left;
}

#main_statistics #revenue { 
  margin-left: 7px;
  width: 138px;
  float: left;
}

#main_statistics .stats_box { 
  margin-top: 2px;
  width: 138px;
  height: 56px;
  color: white;
  background-color: #82bace;
  border-radius: 5px;
  -moz-border-radius: 5px;
}

#main_statistics #revenue .stats_box { 
  background-color: #f27400;

}

#main-container .upload.index { 
  clear: both;
  margin-top: 13px;
  background: rgba(190,210,218,0.5);
  border-radius: 7px;
  -moz-border-radius: 7px;
  padding: 10px 15px;
}

#main-container .upload.index h3 { 
  margin: 0;
  padding: 0 0 13px 3px;
  font-size: 24px;
  font-weight: normal;
}

#main-container #more_upload { 
  clear: left;
  float: left;
  margin: 0;
  padding: 19px 10px 0 10px;
  width: 288px;
}

#main-container #more_upload h3 { 
  margin: 0;
  font-size: 18px;
}

#main-container #more_upload a.link {
  font-size: 14px; 
  border-bottom: 1px dotted #34378A;
  width: 98px;
  margin-top: 23px;
  display: inline-block;
}

#main-container #more_upload a { 
  float: left;
}

#main-container #more_upload a.image { 
  padding: 15px 5px 0 0;
}

#main-container #more_upload a.image.ftp { 
  padding-left: 13px;
}


#main-container #most_downloaded { 
  clear: left;
  float: left;
  margin: 0;
  padding: 19px 10px;
  width: 288px;
}

#main-container #most_downloaded h3 { 
  margin: 0;
  font-size: 18px;
}

#main-container #most_downloaded table { 
  width: 288px;
  margin-top: 10px;
}

#main-container #most_downloaded td.filename { 
  width:;
  text-align: left;
}

#main-container #most_downloaded td.count { 
  width:;
  text-align: right;
}

#main-container #report { 
  clear: right;
  float: right;
  margin: 0;
  padding: 19px 10px 0 10px;
  width: 288px;
}

#main-container #report h3 { 
  margin: 0;
  font-size: 18px;
}

#main-container #report table { 
  width: 288px;
  margin-top: 10px;
  font-size: 12px;
}

#main-container #report thead td { 
  border-bottom: 1px dotted #34378A;
  padding-bottom: 3px;
}

#main-container #report tbody td { 
  padding-bottom: 6px;
}

#main-container #report tbody td.revenue {
  color: #f27400;	
}

#main-container #report tbody .today td { 
  padding-top: 3px;
  font-weight: bold;
}

#main-container #graph { 
  clear: right;
  float: right;
  margin: 0;
  padding: 19px 10px;
  width: 288px;
}

#main-container #graph h3 {
  margin: 0;
  font-size: 18px;
}

/* @end */

/* @group Manage */

table.file_list {
  width: 655px;
  background-color: rgba(190,210,218,0.5);
  border-radius: 7px;
  -moz-border-radius: 7px;
  border-spacing: 1px 0;
}

table.file_list td {
  margin: 0 2px;
}

table.file_list thead .titles td {
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
}

table.file_list thead .order td {
  height: 7px;
  background-color: white;
  border-radius: 7px 7px 0 0;
  -moz-border-radius: 7px 7px 0 0;
}

table.file_list tfoot .order td {
  height: 7px;
  background-color: white;
  border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
}

table.file_list tfoot .pagination td {
  padding: 10px 5px;
}


table.file_list tbody td {
  background-color: white;
  font-size: 12px;
}

table.file_list td {
  text-align: center;
  padding: 1px 5px;
}

table.file_list td.name {
  text-align: left;
}

.actions_menu {
  list-style-type: none;
  padding: 0 10px;
}

.actions_menu li {
  width: 60px;
  height: 44px;
  text-align: center;
  display: inline-block;
}

.actions_menu li.rename a.icon {
  width: 60px;
  height: 44px;
  margin-bottom: -7px;
  margin-left: 13px;
  background: url(/images/user_panel/botoes/renomear_on.png) no-repeat;
}

.actions_menu li.rename a.icon.off {
  background: url(/images/user_panel/botoes/renomear_off.png) no-repeat;
}

.actions_menu li.separator {
  width: 1px;
  margin: 0 5px 0 5px;
  background: url(/images/user_panel/botoes/separador.png) no-repeat;
}

.actions_menu input[type=image] {
  
}

.actions_menu input[type=submit] {
  background: transparent;
  border: 0;
  line-height: 18px;
  font-size: 11px;
}

.actions_menu a img {

}

.actions_menu a {
  color: black;
  line-height: 18px;
  font-size: 11px;
  display: block;
}

/* @end */

.tab-content.remote-tab p {
  margin: 0 0 8px 0;
}

.remote-upload-models {
  clear: both;
  width: 625px;
  padding: 10px;
}

.remote-upload-models h3 {
  font-size: 18px;
}

.remote-upload-models ol li {
  margin-bottom: 20px;
  color: #8E8E8E;
}

.remote-upload-models ol li .example {
  display: block;
  font-size: 12px;
  margin: 5px 7px;
}

.remote-upload-models ol li .example .link {
  text-decoration: underline;
}

#actions_forms #new_folder, #actions_forms #move {
  position: absolute;
  display: none;
  top: 201px;
  width: 648px;
  height: 27px;
  padding: 3px 3px;
  background: white;
  border: 1px solid #F37F00;
  border-radius: 7px;
  -moz-border-radius: 7px;
}

#actions_forms #rename {
  position: absolute;
  display: none;
  top: 201px;
  width: 648px;
  padding: 3px 3px;
  background: white;
  border: 1px solid #F37F00;
  border-radius: 7px;
  -moz-border-radius: 7px;
}

#actions_forms label {
  width: auto;
  padding-right: 15px;
  line-height: 22px;
}

#actions_forms #new_folder #folder_name {
  background: url(/images/registrations/input.png);
  border: 0;
  width: 232px;
  max-width: 232px;
  height: 17px;
  padding: 5px 7px;
}

#actions_forms #move #user_file_folder {
  border: 0;
  min-width: 140px;
  max-width: 405px;
  height: 23px;
  margin-top: 2px;
}

#actions_forms .inputs {
  float: left;
}

#actions_forms #rename .inputs {
  float: none;
}

#actions_forms #rename .rename-field {
  display: block;
  margin: 3px;
}

#actions_forms #rename .rename-field label {
  display: none;
}

#actions_forms #rename .hidden-field {
  display: none;
}

#actions_forms #rename input[type=text] {
  border: 1px solid #7bbacf;
  width: 490px;
  max-width: 490px;
  height: 17px;
  padding: 5px 7px;
  border-radius: 7px;
  -moz-border-radius: 7px;
}

#actions_forms #rename .rename-btn {
  display: block;
  position: absolute;
  left: 522px;
  bottom: 13px;
  color: white;
  font-size: 12px;
  border: 0 solid transparent;
  width: 122px;
  height: 23px;
}

#actions_forms #rename input[type=submit] {
  width: 122px;
  background: url(/images/user_files/botao-rename-off.png);
}

#actions_forms .buttons {
  float: left;
  padding: 2px 0 2px 15px !important;
}

#actions_forms input[type=submit] {
  color: white;
  font-size: 12px;
  border: 0 solid transparent;
  width: 114px;
  height: 23px;
  background: url(/images/layouts/botao-off.png);
}

#actions_forms .hidden_file_list {
  display: none;
}

#form_placeholder {
  height: 43px;
  display: none;
}

#rename_placeholder {
  display: none;
}


/* Personalização da caixa de download */

#customize-container {
  width: 680px !important;
  margin-left: -20px;
}

#customize-container h3 {
  color: #423b35;
  padding: 0;
  margin: 0 0 7px 0;
  font-size: 16px;
}

#view {
  display: block;
  float: left;
  width: 320px;
  margin-bottom: 20px;
}

#view li {
  list-style-image: url(/images/user_panel/gera-link.png);
  margin-left: 5px;
}

#view li a {
  border-bottom: 1px dotted #5659a7;
}

#background-list {
  display: block;
  width: 320px;
  margin-bottom: 50px;
}

#background-list .bg-list-container {
  width: 340px;
  height: 380px;
  padding: 5px;
  border-radius: 7px;
  -moz-border-radius: 7px;
  border: 1px solid #b1d7e3;
  overflow-y: scroll;
}

#background-list .bg-list-item {
  display: block;
  height: 64px;
  line-height: 64px;
  padding: 6px 0;
  margin: 0;
  border-bottom: 1px dotted #b1d7e3;
}

#background-list .bg-list-item .img-thumbnail {
  background: url(/images/download_box/fundo_padrao.png) no-repeat;
  background-size: 132px 64px;
  float: left;
  width: 132px;
  height: 64px;
  margin: 0 10px 0 4px;
  font-size: 9px;
  text-align: center;
  border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow: 1px 1px 1px 1px rgba(50,50,50,0.2);
}

#background-list form {
  color: #34378a;
  line-height: 28px;
  margin-top: 3px;
}

#background-list form .button {
  float: right;
  margin-right: -30px;
}

#background-form {
  float: left;
  width: 320px;
  padding: 10px;
  background-color: #d9ecf2;
  border-radius: 7px;
  -moz-border-radius: 7px;
}

#background-form h3 {
  height: 30px;
  color: #34378a;
}

#background-form .file_field .left {
  padding-left: 4px;
  padding-bottom: 23px;
  padding-top: 7px;
  margin-right: -3px;  
  background: url(/images/user_panel/field_left.png) no-repeat;
}

#background-form .file_field .right {
  padding-left: 5px;
  padding-bottom: 23px;
  padding-top: 7px;
  background: url(/images/user_panel/field_right.png) no-repeat;
}

#background-form .file_field input[type=file] {
  width: 310px;
  height: 33px;
  line-height: 32px;
  margin-left: 3px;
  margin-bottom: 10px;
  background: url(/images/user_panel/field_middle.png) repeat-x;
}

#background-form input[type=text] {
  height: 26px;
  border: 1px solid #7bbacf;
  border-radius: 7px;
  -moz-border-radius: 7px;
}

#style-list {
  float: left;
  margin-left: 55px;
  width: 285px;
}

#style-list .style-list-container {
  width: 270px;
  height: 165px;
  padding: 5px;
  border-radius: 7px;
  -moz-border-radius: 7px;
  background-color: #ffffff;
  border: 1px solid #b1d7e3;
  overflow-y: scroll;
}

#style-list .style-list-item:hover {
  background-color: #f3f7f9;
}

#style-list .style-list-item {
  float: left;
  width: 260px;
  height: 34px;
  line-height: 32px;
  padding: 2px 0;
  color: #8e8e8e;
  text-decoration: none;
  cursor: pointer;
  border-bottom: 1px dotted #b1d7e3;
  overflow: hidden;
}

.thumbnail {
  float: left;
  width: 90px;
  height: 32px;
  border: 1px solid #5596ac;
  margin-right: 10px;
  font-size: 9px;
  text-align: center;
  border-radius: 5px;
  -moz-border-radius: 5px;
}

.thumbnail .title .glass {
  float: left;
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  width: 90px;
  height: 3px;
  margin-bottom: -4px;
  left: -1px;
  border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
}

.thumbnail .title {
  text-align: left;
  padding: 0 3px;
  background-color: #5596ac;
  color: #ffffff;
  line-height: 7px;
  top: -5px;
  border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
}

.thumbnail .title .right {
  float: right;
}

.thumbnail .top {
  line-height: 3px;
  font-size: 10px;
  color: #1d4e5d;
}

.thumbnail .middle {
  line-height: 8px;
  font-size: 9px;
  color: #5596aa;
}

.thumbnail .middle span {
  color: #676568;
}

.thumbnail .input {
  border: 1px solid #7bbacf;
  background-color: #ffffff;
  width: 80px;
  margin: 1px auto;
  height: 8px;
  border-radius: 3px;
  -moz-border-radius: 3px;
}

#style-list {
  margin-bottom: 10px;
}

#style-list .style {
  display: none;
}

.thumbnail .input .thumb-button {
  float: right;
  width: 32px;
  height: 8px;
  background-color: #f27f00;
  border-radius: 3px;
  -moz-border-radius: 3px;
}

#style-list form {
  color: #34378a;
  line-height: 26px;
  margin-top: 5px;
}

#style-list form .button {
  float: right;
}

#style-customize {
  float: right;
  margin-right: 20px;
  width: 285px;
  margin-bottom: 30px;
}

#style-customize form li {
  height: 28px;
  line-height: 28px;
  font-size: 13px;
  list-style: none;
  margin: 0 0 3px -35px;
}

#style-customize form li div {
  float: right;
  background: url(/images/user_panel/sample.png) no-repeat;
  width: 26px;
  height: 26px;
  border: 1px solid white;
}

#color-picker {
  display: none;
  position: absolute;
  width: 200px;
  height: 200px;
  border: 1px solid #7bbacf;
  background-color: #ffffff;
  z-index: 2;
  border-radius: 7px;
  -moz-border-radius: 7px;
}

#style-customize form input[type=text] {
  float: right;
  width: 77px;
  height: 24px;
  border: 1px solid #7bbacf;
  color: #8e8e8e;
  text-align: center;
  margin-right: 20px;
  border-radius: 7px;
  -moz-border-radius: 7px;
}

#style-customize form input[type=text].name {
  float: left;
  width: 190px;
  height: 26px;
  text-align: left;
  margin: 0;
}

#style-customize form .button {
  float: left;
  width: 80px;
  margin-top: -2px;
  margin-bottom: 2px;
  margin-left: 5px;  
}

#style-customize form p {
  font-size: 11px;
}


.button span {
  position: relative;
  padding-left: 10px;
}

.button.orange span {
  top: -6px;
  padding-bottom: 30px;
}

.button.orange .left {
  margin-right: -2px;
  background: url(/images/user_panel/orange_button_left.png) no-repeat;
}

.button.orange input[type=submit] {
  border: none;
  color: #ffffff;
  height: 30px;
  padding: 0 11px;
  background: url(/images/user_panel/orange_button_middle.png) repeat-x;
}

.button.orange .right {
  margin-left: -2px;
  background: url(/images/user_panel/orange_button_right.png) no-repeat;
}

.button.blue span {
  top: -3px;
  padding-bottom: 24px;
}

.button.blue .left {
  margin-right: -4px;
  background: url(/images/user_panel/blue_button_left.png) no-repeat;
}

.button.blue input[type=submit] {
  border: none;
  color: #ffffff;
  height: 25px;
  background: url(/images/user_panel/blue_button_middle.png) repeat-x;
}

.button.blue .right {
  margin-left: -2px;
  background: url(/images/user_panel/blue_button_right.png) no-repeat;
}


/* Caixa de preview */

#download_box {
  float: left;
  width: 342px;
  height: 165px;
  padding: 3px 6px 7px 4px;
  font-family: 'Trebuchet MS', Arial;
  font-size: 13px;
  margin-bottom: 7px;
  border-radius: 7px;
  -moz-border-radius: 7px;
  box-shadow: 1px 1px 1px 1px rgba(50,50,50,0.2);
}

#download_box .box-header {
  display: block;
  width: 352px;
  height: 28px;
  margin-left: -4px;
  margin-top: -3px;
  line-height: 28px;
  border-bottom: 1px solid rgba(29,29,29,0.5);
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
}

#download_box .box-header .header-glass {
  display: block;
  width: 352px;
  height: 15px;
  margin-bottom: -15px;
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  background-color: rgba(255,255,255,0.1);
}

#download_box .filename { 
  float: left;
  margin: 0;
  font-size: 12px;
  padding: 6px 3px 6px 14px;
  max-width: 243px;
  height: 14px;
  margin-top: -5px;
}

#download_box .filename a {
  text-decoration: none;
}

#download_box .filename em {
  font-weight: bold;
  font-style: normal;
}

#download_box .filesize {
  float: right;
  margin: 0;
  font-size: 12px !important;
  font-weight: bold !important;
  padding: 6px 9px 6px 3px !important;
  max-width: 70px;
  height: 14px;
  margin-top: -5px;
  overflow: hidden;
}

#download_box .filesize em {
  font-style: normal;
}

#download_box .call-to-action {
  clear: both;
  text-align: center;
  margin: 0 !important;
  padding: 9px 0 1px 0 !important;
}

#download_box .sms {
  font-size: 20px !important;
  text-align: center;
  margin: 0 !important;
  padding: 1px 0 !important;
}

#download_box .sms em {
  font-weight: bold;
  font-style: normal;
}

#download_box .sms .star {
  font-weight: normal;
}

#download_box .price {
  font-size: 10px !important;
  text-align: right;
  margin: 0 !important;
  padding: 2px 14px !important;
}

#download_box .code_area {
  width: 310px;
  height: 24px;
  margin: 4px 12px !important;
  padding: 5px 4px 4px 6px !important;
  border-radius: 7px;
  -moz-border-radius: 7px;
}

#download_box .code_area .code_field {
  float: left;
  border: 0 !important;
  outline: 0 !important;
  background: transparent !important;
  width: 194px;
  font-size: 12px !important;
  height: 23px;
}

#download_box .code_area .submit {
  float: right;
  font-size: 12px !important;
  border: 0 !important;
  width: 112px;
  height: 23px;
  background: url(/images/download_box/botao-brilho.png) no-repeat;
  background-position: 1px 1px;
  border-radius: 5px;
  -moz-border-radius: 5px;
}

#download_box .code_area label {
  display: none;
}

#download_box .logo {
  float: left;
  padding: 3px 12px !important;
}

#download_box .have_one {
  float: right;
  margin: 0 !important;
  text-decoration: none !important;
  padding: 7px 15px 0 0 !important;
}

#download_box .have_one span {
  margin-left: 16px !important;
  font-size: 14px !important;
  height: 13px;
}

