/* @group Defaults */

body {
  position: relative;
  background: url(/images/user_panel/fundo.jpg) no-repeat 50% 0;
  height: 100%;
}

/* @end */

/* @group Header */

#header {
  height: 90px;
}

#header img {
  top: 22px;
  left: 42px;
}

/* @end */

/* @group Main Container */

#main-container {
  min-height: 300px;
  color: #645C54;
}

#user_panel-container {
  float: right;
  width: 655px;
  margin: 0 42px 0 0;
}

#user_panel-container h2 {
  font-size: 30px;
  color: #423b35;
  margin: 0 0 16px 3px;
}

/* @end */

/* @group Sidebar */

#sidebar {
  float: left;
  width: 182px;
  margin: 1px 0 0 34px;
  padding: 5px;
  background: url(/images/user_panel/menu.png);
  font-size: 14px;
}

#sidebar > li {
  display: block;
  width: 152px;
  padding: 10px 15px;
  margin-bottom: 5px;
  color: #34378A;
}

#sidebar > li.no-dropdown {
  background: url(/images/user_panel/menu/nodropdown.png) no-repeat;
}

#sidebar > li {
  cursor: pointer;
  background: url(/images/user_panel/menu/dropdown.png) no-repeat;
}

#sidebar > li.active {
  color: white;
  background: url(/images/user_panel/menu/dropdown-active.png) no-repeat;
}

#sidebar li.active ul.dropdown{
  display: block;
}

#sidebar li ul.dropdown {
  display: none;
  width: 147px;
  height: 76px;
  margin: 10px 0 5px -10px;
  padding: 5px 15px;
  background: url(/images/user_panel/menu/fundo-active.png);
}

#sidebar li ul.dropdown li {
  list-style-image: url(/images/user_panel/menu/bullet-off.png);
  list-style-position: inside;
  margin: 10px 0;
  font-size: 11px;
}

#sidebar li ul.dropdown li.active {
  list-style-image: url(/images/user_panel/menu/bullet-active.png);
}

#sidebar li ul.dropdown li.active a {
  color: #f37f00;
}

/* @end */

/* @group File Upload Form */

.upload {
  display: block;
  width: 625px;
  margin-bottom: 10px;
  padding: 21px 15px;
  background-color: rgba(180, 217, 230, 0.5);
  border-radius: 7px;
  -moz-border-radius: 7px;
}

#remote_form input,
#upload_forms input {
  margin-bottom: 7px;
  overflow: hidden;
}

#multi_form {
  display: none;
}

#remote_form .file_fields,
#upload_forms .file_fields {
  float: left;
  width: 481px;
  padding: 1px;
  margin-bottom: 10px;
}

#remote_form .inline-errors,
#upload_forms .inline-errors {
  display: none;
}

#remote_form .file_fields label,
#upload_forms .file_fields label {
  display: none;
}

#remote_form .file_fields input,
#upload_forms .file_fields input {
  border: 0 transparent;
  min-width: 465px;
  width: 465px;
  background: url(/images/user_files/campo.png);
  color: #8e8e8e;
  height: 19px;
  padding: 7px 8px;
}

#remote_form .file_fields li,
#upload_forms .file_fields li {
  margin: 0;
}

#remote_form .public_field,
#upload_forms .public_field {
  float: right;
  height: 34px;
  overflow: hidden;
}

#remote_form .public_field label,
#upload_forms .public_field label {
  padding: 9px 3px 0 0;
  color: #34378A;
}

#remote_form fieldset.actions,
#upload_forms fieldset.actions {
  clear: right;
  float: right;
  overflow: auto;
  border: 0;
  margin: -85px 0 0 0;
  padding: 0;
}

#remote_form fieldset.actions ol,
#upload_forms fieldset.actions ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

#remote_form .file-field,
#upload_forms .file-field {
  width: 471px;
}

#remote_form .file-field .file-name,
#upload_forms .file-field .file-name {
  width: 343px;
}

#remote_form fieldset.actions li,
#upload_forms fieldset.actions li {
  padding-right: 0;
  overflow: auto;
  margin-bottom: 1.5em;
  margin: 0;
  padding: 0;
}

#remote_form fieldset.actions button,
#upload_forms fieldset.actions button {
  border: 0;
  width: 132px;
  height: 33px;
  color: white;
  background: url(/images/user_files/botao-off.png);
}

#upload_forms iframe {
  width: 0;
  height: 0;
  display: none;
  position: absolute;
}

.more-files {
  clear: both;
  background: url(/images/user_files/mais_arquivos.png) no-repeat 3px 4px;
  font-size: 14px;
  cursor: pointer;
  padding: 2px 0 0 25px;
}

.more-urls {
  clear: both;
  height: 20px;
}

.files_form .more-urls {
  float: right;
  background: url(/images/user_files/mais_arquivos.png) no-repeat 3px 10px;
  font-size: 14px;
  padding: 8px 0 17px 25px;
  margin: 0;
}

#upload_forms .progress_info {
  display: none;
  height: 76px;
  margin-bottom: 16px;
  font-weight: bold;
}

#upload_forms .progress_info .progress_bar {
  clear: both;
  float: left;
  height: 42x;
  width: 550px;
  border: 1px solid #7bbacf;
  border-radius: 6px;
  -moz-border-radius: 6px;
}

#upload_forms .progress_info .progress_bar .uploaded {
  background: #F27400;
  height: 40px;
  width: 0%;
  border-radius: 5px;
  -moz-border-radius: 5px;
  font-size: 18px;
  font-weight: normal;
  line-height: 31px;
}

#upload_forms .progress_info .percentage {
  float: right;
  font-weight: normal;
  font-size: 24px;
  text-align: center;
  width: 60px;
  display: block;
}

#upload_forms .progress_info .uptime {
  clear: both;
}

#upload_forms .progress_info span, #upload_forms .progress_info .data_amount {
  font-weight: normal;
}

#upload_forms .progress_info p {
  display: inline-block;
  overflow: hidden;
  margin-top: 3px;
  padding-top: 1px;
}

#upload_forms .progress_info p.uptime {
  background: url(/images/user_panel/progresso/decorrido.png) no-repeat;
  padding-left: 18px;
}

#upload_forms .progress_info p.eta {
  background: url(/images/user_panel/progresso/estimado.png) no-repeat;
  padding-left: 18px;
}

#upload_forms .progress_info p.speed {
  background: url(/images/user_panel/progresso/velocidade.png) no-repeat;
  padding-left: 26px;
}

#upload_forms .progress_info p.data_amount {
  background: url(/images/user_panel/progresso/progresso.png) no-repeat;
  padding-left: 19px;
}

#upload_forms .progress_info p.filename {
  display: block;
  margin-bottom: 3px;
  max-width: 100% !important;
  font-size: 15px;
}



/* @end */

/* @group Index */

#main_statistics {
  height: 73px;
  text-align: center;
  background: url(/images/user_panel/barras.png) no-repeat 2px 8px;
}

#main_statistics .title {
  font-size: 15px;
  margin: 0;
}

#main_statistics .stat {
  margin: 0;
  padding-top: 8px;
  font-size: 22px;
  font-weight: bolder;
}

#main_statistics .stat_unit {
  font-size: 16px;
}


#main_statistics .stat_observation {
  margin: 0;
  font-size: 11px;
}

#main_statistics #storage {
  margin-left: 82px;
  width: 138px;
  float: left;
}

#main_statistics #bandwidth {
  margin-left: 7px;
  width: 138px;
  float: left;
}

#main_statistics #downloads {
  margin-left: 7px;
  width: 138px;
  float: left;
}

#main_statistics #revenue {
  margin-left: 7px;
  width: 138px;
  float: left;
}

#main_statistics .stats_box {
  margin-top: 2px;
  width: 138px;
  height: 56px;
  color: white;
  background-color: #82bace;
  border-radius: 5px;
  -moz-border-radius: 5px;
}

#main_statistics #revenue .stats_box {
  background-color: #f27400;

}

#main-container .upload.index {
  clear: both;
  margin-top: 13px;
  background: rgba(190,210,218,0.5);
  border-radius: 7px;
  -moz-border-radius: 7px;
  padding: 10px 15px;
}

#main-container .upload.index h3 {
  margin: 0;
  padding: 0 0 13px 3px;
  font-size: 24px;
  font-weight: normal;
}

#main-container #more_upload {
  clear: left;
  float: left;
  margin: 0;
  padding: 19px 10px 0 10px;
  width: 288px;
}

#main-container #more_upload h3 {
  margin: 0;
  font-size: 18px;
}

#main-container #more_upload a.link {
  font-size: 14px;
  border-bottom: 1px dotted #34378A;
  width: 98px;
  margin-top: 23px;
  display: inline-block;
}

#main-container #more_upload a {
  float: left;
}

#main-container #more_upload a.image {
  padding: 15px 5px 0 0;
}

#main-container #more_upload a.image.ftp {
  padding-left: 13px;
}


#main-container #most_downloaded {
  clear: left;
  float: left;
  margin: 0;
  padding: 19px 10px;
  width: 288px;
}

#main-container #most_downloaded h3 {
  margin: 0;
  font-size: 18px;
}

#main-container #most_downloaded table {
  width: 288px;
  margin-top: 10px;
}

#main-container #most_downloaded td.filename {
  width:;
  text-align: left;
}

#main-container #most_downloaded td.count {
  width:;
  text-align: right;
}

#main-container #report {
  clear: right;
  float: right;
  margin: 0;
  padding: 19px 10px 0 10px;
  width: 288px;
}

#main-container #report h3 {
  margin: 0;
  font-size: 18px;
}

#main-container #report table {
  width: 288px;
  margin-top: 10px;
  font-size: 12px;
}

#main-container #report thead td {
  border-bottom: 1px dotted #34378A;
  padding-bottom: 3px;
}

#main-container #report tbody td {
  padding-bottom: 6px;
}

#main-container #report tbody td.revenue {
  color: #f27400;
}

#main-container #report tbody .today td {
  padding-top: 3px;
  font-weight: bold;
}

#main-container #graph {
  clear: right;
  float: right;
  margin: 0;
  padding: 19px 10px;
  width: 288px;
}

#main-container #graph h3 {
  margin: 0;
  font-size: 18px;
}

/* @end */

/* @group Manage */

table.file_list {
  width: 655px;
  background-color: rgba(190,210,218,0.5);
  margin-bottom: 30px;
  border-radius: 7px;
  -moz-border-radius: 7px;
  border-spacing: 1px 0;
}

table.file_list tbody tr {
    cursor: point;
}

table.file_list tr.item:hover td {
    background: #efefef;
    cursor: pointer;
}

table.file_list tr.item td.selected {
    background: #dfdfdf;
}

table.file_list td {
  margin: 0 2px;
}

table.file_list thead .titles td {
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
}

table.file_list thead .order td {
  height: 7px;
  background-color: white;
  border-radius: 7px 7px 0 0;
  -moz-border-radius: 7px 7px 0 0;
}

table.file_list tfoot .order td {
  height: 7px;
  background-color: white;
  border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
}

table.file_list tfoot .pagination td {
  padding: 10px 5px;
}


table.file_list tbody td {
  background-color: white;
  font-size: 12px;
}

table.file_list td {
  text-align: center;
  padding: 1px 5px;
}

table.file_list td.select {
  width: 24px;
}

table.file_list td.select .checkbox {
  margin: 0 auto;
}

table.file_list td.name {
  text-align: left;
}

.actions_menu {
  list-style-type: none;
  display: block;
  width: 700px;
  margin-left: -20px;
  padding: 0 10px;
}

.actions_menu li {
  width: 65px;
  height: 44px;
  text-align: center;
  display: inline-block;
}

.actions_menu li .icon {
  position: relative;
  left: 20px;
  width: 32px;
  height: 44px;
  margin-bottom: -7px;
}

.actions_menu li .need-files {
  cursor: pointer;
}

.actions_menu li .need-files.off {
  cursor: default;
}

.actions_menu li .label {
  position: relative;
  top: -1px;
  margin: 0 0 0 -10px;
  padding: 0;
}

.actions_menu li.create .icon {
  background: url(/images/user_panel/botoes/criar_on.png) no-repeat;
}

.actions_menu li.create .icon.off {
  background: url(/images/user_panel/botoes/criar_off.png) no-repeat;
}

.actions_menu li.move .icon {
  background: url(/images/user_panel/botoes/mover_on.png) no-repeat;
}

.actions_menu li.move .icon.off {
  background: url(/images/user_panel/botoes/mover_off.png) no-repeat;
}

.actions_menu li.remove .icon {
  background: url(/images/user_panel/botoes/remover_on.png) no-repeat;
}

.actions_menu li.remove .icon.off {
  background: url(/images/user_panel/botoes/remover_off.png) no-repeat;
}

.actions_menu li.rename .icon {
  background: url(/images/user_panel/botoes/renomear_on.png) no-repeat;
}

.actions_menu li.rename .icon.off {
  background: url(/images/user_panel/botoes/renomear_off.png) no-repeat;
}

.actions_menu li.links .icon {
  background: url(/images/user_panel/botoes/link_on.png) no-repeat;
}

.actions_menu li.links .icon.off {
  background: url(/images/user_panel/botoes/link_off.png) no-repeat;
}

.actions_menu li.compress .icon {
  background: url(/images/user_panel/botoes/compactar_on.png) no-repeat;
}

.actions_menu li.compress .icon.off {
  background: url(/images/user_panel/botoes/compactar_off.png) no-repeat;
}

.actions_menu li.decompress .icon {
  background: url(/images/user_panel/botoes/descompactar_on.png) no-repeat;
}

.actions_menu li.decompress .icon.off {
  background: url(/images/user_panel/botoes/descompactar_off.png) no-repeat;
}

.actions_menu li.properties .icon {
  background: url(/images/user_panel/botoes/propriedades_on.png) no-repeat;
}

.actions_menu li.properties .icon.off {
  background: url(/images/user_panel/botoes/propriedades_off.png) no-repeat;
}


.actions_menu li.separator {
  width: 1px;
  margin: 0 5px 0 5px;
  background: url(/images/user_panel/botoes/separador.png) no-repeat;
}

.actions_menu button {
  background: transparent;
  border: 0;
  margin-left: auto;
  margin-right: auto;
  line-height: 18px;
  font-size: 11px;
}

.actions_menu button.icon {
  position: relative;
  left: 0;
}

.actions_menu a {
  color: black;
  line-height: 18px;
  font-size: 11px;
  display: block;
}

/* @end */

.tab-content.remote-tab p {
  margin: 0 0 8px 0;
}

.remote-upload-models {
  clear: both;
  width: 625px;
  padding: 10px;
}

.remote-upload-models h3 {
  font-size: 18px;
}

.remote-upload-models ol li {
  margin-bottom: 20px;
  color: #8E8E8E;
}

.remote-upload-models ol li .example {
  display: block;
  font-size: 12px;
  margin: 5px 7px;
}

.remote-upload-models ol li .example .link {
  text-decoration: underline;
}

#actions_forms #new_folder,
#actions_forms #move,
#actions_forms #compress,
#actions_forms #remove {
  position: absolute;
  display: none;
  top: 201px;
  width: 648px;
  height: 27px;
  padding: 3px 3px;
  background: white;
  border: 1px solid #F37F00;
  border-radius: 7px;
  -moz-border-radius: 7px;
}

#actions_forms #rename {
  position: absolute;
  display: none;
  top: 201px;
  width: 648px;
  padding: 3px 3px;
  background: white;
  border: 1px solid #F37F00;
  border-radius: 7px;
  -moz-border-radius: 7px;
}

#actions_forms label {
  width: auto;
  padding-right: 15px;
  line-height: 22px;
}

#actions_forms #new_folder #folder_name {
  background: url(/images/registrations/input.png);
  border: 0;
  width: 232px;
  max-width: 232px;
  height: 17px;
  padding: 5px 7px;
}

#actions_forms #compress #user_file_filename {
  background: url(/images/registrations/input.png);
  border: 0;
  width: 232px;
  max-width: 232px;
  height: 17px;
  padding: 5px 7px;
}


#actions_forms #move #user_file_folder {
  border: 0;
  min-width: 140px;
  max-width: 405px;
  height: 23px;
  margin-top: 2px;
}

#actions_forms .inputs {
  float: left;
}

#actions_forms #rename .inputs {
  float: none;
}

#actions_forms #rename .field {
  display: block;
  margin: 3px;
}

#actions_forms #rename .field label {
  display: none;
}

#actions_forms #rename .hidden.field {
  display: none;
}

#actions_forms #rename input[type=text] {
  border: 1px solid #7bbacf;
  width: 490px;
  max-width: 490px;
  height: 17px;
  padding: 5px 7px;
  border-radius: 7px;
  -moz-border-radius: 7px;
}

#actions_forms #rename .rename-btn {
  display: block;
  position: absolute;
  left: 522px;
  bottom: 13px;
  color: white;
  font-size: 12px;
  border: 0 solid transparent;
  width: 122px;
  height: 23px;
}

#actions_forms #rename button {
  width: 122px;
  background: url(/images/user_files/botao-rename-off.png);
}

#actions_forms .actions {
  float: left;
  padding: 2px 0 2px 15px !important;
}

#actions_forms button, #actions_forms .compress-button {
  color: white;
  font-size: 12px;
  border: 0 solid transparent;
  line-height: 23px;
  text-align: center;
  cursor: pointer;
  width: 114px;
  height: 23px;
  background: url(/images/layouts/botao-off.png);
}

.hidden_file_list {
  display: none;
}

#form_placeholder {
  height: 43px;
  display: none;
}

#rename_placeholder {
  display: none;
}

#block_user_input {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

/* Personalização da caixa de download */

#customize-container {
  width: 680px !important;
  margin-left: 20px;
}

#customize-container h3 {
  color: #423b35;
  padding: 0;
  margin: 0 0 7px 0;
  font-size: 16px;
}

#view {
  display: block;
  float: left;
  width: 320px;
  margin-bottom: 20px;
}

#view li {
  list-style-image: url(/images/user_panel/gera-link.png);
  margin-left: 5px;
}

#view li a {
  border-bottom: 1px dotted #5659a7;
}

#background-list {
  display: block;
  width: 320px;
  margin-bottom: 50px;
}

#background-list .bg-list-container {
  width: 340px;
  height: 380px;
  padding: 5px;
  border-radius: 7px;
  -moz-border-radius: 7px;
  background-color: #ffffff;
  border: 1px solid #b1d7e3;
  overflow-y: scroll;
}

#background-list .bg-list-item {
  display: block;
  height: 64px;
  line-height: 64px;
  padding: 6px 0;
  color: #8e8e8e;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
  margin: 0;
  border-bottom: 1px dotted #b1d7e3;
}

#download_box .price-box {
  display: block;
  margin: 3px auto;
  line-height: 16px;
  text-align: center;
  height: 16px;
  width: 320px;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
}

#download_box .price-box .price-glass {
  display: block;
  height: 8px;
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  background-color: rgba(255, 255, 255, 0.1);
}

#download_box .price {
  display: block;
  font-size: 11px;
  margin: -8px;
}

#background-list .bg-list-item:hover, #background-list .bg-list-item.selected {
  background-color: #f3f7f9;
}

#background-list .bg-list-item img {
  float: right;
  margin-right: 5px;
  margin-top: 26px;
}

#background-list .bg-list-item .img-thumbnail {
  background-size: 132px 64px;
  float: left;
  background-color: #ffffff;
  width: 132px;
  height: 64px;
  margin: 0 10px 0 4px;
  font-size: 9px;
  text-align: center;
  border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow: 1px 1px 1px 1px rgba(50,50,50,0.2);
}

#background-list .hidden {
  display: none;
}

#background-list form {
  color: #34378a;
  line-height: 28px;
  margin-top: 3px;
}

#background-list form .button {
  float: right;
  margin-right: -30px;
}

#background-form {
  float: left;
  width: 320px;
  padding: 10px;
  background-color: #d9ecf2;
  border-radius: 7px;
  -moz-border-radius: 7px;
}

#background-form h3 {
  height: 30px;
  color: #34378a;
}


.text_field .right {
  padding-left: 5px;
  padding-bottom: 23px;
  padding-top: 8px;
  background: url(/images/user_panel/field_right.png) no-repeat;
}

.text_field .left {
  padding-left: 4px;
  padding-bottom: 23px;
  padding-top: 8px;
  margin-right: -4px;
  background: url(/images/user_panel/field_left.png) no-repeat;
}

.text_field input {
  height: 33px;
  line-height: 16px;
  margin-left: 4px;
  color: #8e8e8e;
  border: none;
  background: url(/images/user_panel/field_middle.png) repeat-x;
}

.text_field_small .right {
  padding-left: 5px;
  padding-bottom: 6px;
  padding-top: 5px;
  background: url(/images/user_panel/field_right_26.png) no-repeat;
}

.text_field_small .left {
  padding-left: 5px;
  padding-bottom: 6px;
  padding-top: 5px;
  background: url(/images/user_panel/field_left_26.png) no-repeat;
}

.text_field_small input,
.text_field_small .custom-select {
  height: 26px;
  line-height: 26px;
  margin-left: 4px;
  color: #8e8e8e;
  border: none;
  background: url(/images/user_panel/field_middle_26.png) repeat-x;
}

.text_field_small .custom-select {
  display: inline-block;
  margin-left: 0;
  margin-right: -2px;
}

.text_field_small .custom-select select {
  opacity: 0;
  margin-right: -22px;
  margin-left: -120px;
}

.text_field_small .custom-select .select-button {
  display: inline-block;
  position: relative;
  float: right;
  width: 22px;
  height: 21px;
  top: 2px;
  background: url(/images/layouts/combobtn.png) no-repeat;
}

.text_field_small .custom-select .select-value {
  display: inline-block;
  width: 120px;
  height: 16px;
  line-height: 16px;
  text-align: left;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#code-area {
  display: none;
  width: 659px;
}

#code-area input {
  width: 650px;
  margin-bottom: 10px;
}

#background-form  form .file-field {
  width: 310px;
}

#background-form  form .file-field .file-name {
  width: 188px;
}

#background-form .file_field input[type=file] {
  width: 310px;
  height: 33px;
  line-height: 32px;
  margin-left: 3px;
  margin-bottom: 10px;
  background: url(/images/user_panel/field_middle.png) repeat-x;
}

#background-form input[type=text] {
  height: 26px;
  border: 1px solid #7bbacf;
  border-radius: 7px;
  -moz-border-radius: 7px;
}

#style-list {
  float: left;
  margin-left: 55px;
  width: 285px;
}

#style-list .style-list-container {
  width: 270px;
  height: 200px;
  padding: 5px;
  border-radius: 7px;
  -moz-border-radius: 7px;
  background-color: #ffffff;
  border: 1px solid #b1d7e3;
  overflow-y: scroll;
}

#style-list .style-list-item:hover, #style-list .style-list-item.selected {
  background-color: #f3f7f9;
}

#style-list .style-list-item {
  float: left;
  width: 260px;
  height: 34px;
  line-height: 32px;
  padding: 2px 0;
  color: #8e8e8e;
  text-decoration: none;
  cursor: pointer;
  border-bottom: 1px dotted #b1d7e3;
  overflow: hidden;
}

#style-list .style-list-item img {
  float: right;
  margin-right: 5px;
  margin-top: 10px;
}

.thumbnail {
  float: left;
  width: 90px;
  height: 32px;
  border: 1px solid #5596ac;
  margin-right: 10px;
  font-size: 9px;
  text-align: center;
  border-radius: 5px;
  -moz-border-radius: 5px;
}

.thumbnail .title .glass {
  float: left;
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  width: 90px;
  height: 4px;
  margin-bottom: -8px;
  left: -3px;
  border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
}

.thumbnail .title {
  text-align: left;
  padding-left: 3px;
  padding-bottom: 1px;
  background-color: #5596ac;
  color: #ffffff;
  line-height: 7px;
  border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
}

.thumbnail .title .right {
  float: right;
  margin-right: 3px;
}

.thumbnail .top {
  line-height: 3px;
  font-size: 10px;
  color: #1d4e5d;
}

.thumbnail .middle {
  line-height: 8px;
  font-size: 9px;
  color: #5596aa;
}

.thumbnail .middle span {
  color: #676568;
}

.thumbnail .input {
  border: 1px solid #7bbacf;
  background-color: #ffffff;
  width: 80px;
  margin: 1px auto;
  height: 8px;
  border-radius: 3px;
  -moz-border-radius: 3px;
}

#style-list {
  margin-bottom: 10px;
}

#style-list .style {
  display: none;
}

.thumbnail .input .thumb-button {
  float: right;
  width: 32px;
  height: 8px;
  background-color: #f27f00;
  border-radius: 3px;
  -moz-border-radius: 3px;
}

#style-list form {
  color: #34378a;
  line-height: 26px;
  margin-top: 5px;
}

#style-list form .button {
  float: right;
}

#style-customize {
  float: right;
  margin-right: 20px;
  width: 285px;
  margin-bottom: 30px;
}

#style-customize form li {
  height: 28px;
  line-height: 28px;
  font-size: 13px;
  list-style: none;
  margin: 0 0 3px -35px;
}

#style-customize form li div {
  float: right;
  background: url(/images/user_panel/sample.png) no-repeat;
  width: 26px;
  height: 26px;
  border: 1px solid white;
}

#color-picker {
  display: none;
  position: absolute;
  width: 200px;
  height: 200px;
  border: 1px solid #7bbacf;
  background-color: #ffffff;
  z-index: 2;
  border-radius: 7px;
  -moz-border-radius: 7px;
}

#style-customize form input[type=text] {
  float: right;
  width: 77px;
  height: 24px;
  border: 1px solid #7bbacf;
  color: #8e8e8e;
  text-align: center;
  margin-right: 20px;
  border-radius: 7px;
  -moz-border-radius: 7px;
}

#style-customize form input[type=text].name {
  float: left;
  width: 190px;
  height: 26px;
  text-align: left;
  margin: 0;
}

#style-customize form .button {
  float: left;
  width: 80px;
  margin-top: -2px;
  margin-bottom: 2px;
  margin-left: 5px;
}

#style-customize form p {
  font-size: 11px;
}

.button span {
  position: relative;
  padding-left: 10px;
}

.button.orange span {
  top: -8px;
  padding-bottom: 30px;
}

.button.orange .left {
  margin-right: -2px;
  background: url(/images/user_panel/orange_button_left.png) no-repeat;
}

.button.orange button {
  border: none;
  color: #ffffff;
  height: 31px;
  padding: 0 11px;
  background: url(/images/user_panel/orange_button_middle.png) repeat-x;
}

.button.orange .right {
  margin-left: -2px;
  background: url(/images/user_panel/orange_button_right.png) no-repeat;
}

.button.blue span {
  top: -5px;
  padding-bottom: 24px;
}

.button.blue .left {
  margin-right: -4px;
  background: url(/images/user_panel/blue_button_left.png) no-repeat;
}

.button.blue button {
  border: none;
  color: #ffffff;
  height: 25px;
  background: url(/images/user_panel/blue_button_middle.png) repeat-x;
}

.button.blue li {
  margin: 0;
  padding: 0;
  height: 25px;
  line-height: 25px;
  display: inline-block;
}

.button.blue .right {
  margin-left: -2px;
  background: url(/images/user_panel/blue_button_right.png) no-repeat;
}


/* Caixa de preview */

#download_box {
  float: left;
  z-index: 9000;
  width: 342px;
  height: 200px;
  padding: 3px 6px 7px 4px;
  font-family: 'Trebuchet MS', Arial;
  font-size: 13px;
  margin-bottom: 7px;
  border-radius: 7px;
  -moz-border-radius: 7px;
  box-shadow: 1px 1px 1px 1px rgba(50,50,50,0.2);
  background-repeat: no-repeat;
  background-size: 355px 175px;
}

#download_box .box-header {
  display: block;
  width: 352px;
  height: 28px;
  margin-left: -4px;
  margin-top: -3px;
  line-height: 28px;
  border-bottom: 1px solid rgba(0,0,0,0.5);
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
}

#download_box .box-header .header-glass {
  display: block;
  width: 352px;
  height: 15px;
  margin-bottom: -15px;
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  background-color: rgba(255,255,255,0.1);
}

#download_box .box-header .header-bottom {
  display: block;
  width: 352px;
  height: 1px;
  margin-top: 27px;
  background-color: rgba(255,255,255,0.1);
}

#download_box .filename {
  float: left;
  margin: 0;
  font-size: 12px;
  padding: 6px 3px 6px 14px;
  max-width: 243px;
  height: 14px;
  margin-top: -5px;
}

#download_box .filename a {
  text-decoration: none;
}

#download_box .filename em {
  font-weight: bold;
  font-style: normal;
}

#download_box .filesize {
  float: right;
  margin: 0;
  font-size: 12px !important;
  font-weight: bold !important;
  padding: 6px 9px 6px 3px !important;
  max-width: 70px;
  height: 14px;
  margin-top: -5px;
  overflow: hidden;
}

#download_box .filesize em {
  font-style: normal;
}

#download_box .call-to-action {
  clear: both;
  text-align: center;
  margin: 0 !important;
  padding: 9px 0 1px 0 !important;
}

#download_box .sms {
  font-size: 20px !important;
  text-align: center;
  margin: 0 !important;
  padding: 1px 0 !important;
}

#download_box .sms em {
  font-weight: bold;
  font-style: normal;
}

#download_box .sms .star {
  font-weight: normal;
}

#download_box .code_area {
  position: relative;
  width: 310px;
  height: 24px;
  z-index: 8000;
  margin: 4px 12px !important;
  padding: 5px 4px 4px 6px !important;
  border-radius: 7px;
  -moz-border-radius: 7px;
  background-image: url(/images/download_box/campo_sombra.png);
  background-repeat: no-repeat;
}

#download_box .code_area .code_field {
  float: left;
  border: 0 !important;
  outline: 0 !important;
  background: transparent !important;
  width: 194px;
  font-size: 12px !important;
  height: 23px;
}

#download_box .code_area .submit {
  float: right;
  font-size: 12px !important;
  border: 0 !important;
  width: 112px;
  height: 23px;
  background: url(/images/download_box/botao-brilho.png) no-repeat;
  background-position: 1px 1px;
  border-radius: 5px;
  -moz-border-radius: 5px;
}

#download_box .code_area label {
  display: none;
}

#download_box .logo {
  display: inline;
  float: left;
  width: 86px;
  height: 23px;
  margin-left: 13px;
  margin-top: 8px;
}

#download_box .have_one {
  float: right;
  margin: 0 !important;
  text-decoration: none !important;
  padding: 7px 15px 0 0 !important;
}

#download_box .have_one span {
  margin-left: 16px !important;
  font-size: 14px !important;
  height: 13px;
}


/* edição do perfil */
#config-profile {
  display: block;
}

#config-profile .inputs {
  padding-top: 20px;
}

#config-profile #avatar {
  width: 90px;
  text-align: center;
  margin-top: -20px;
  float: left;
}

#config-profile #avatar label {
  position: relative;
  margin-left: 7px;
  z-index: 2;
  color: #34378a;
  border-bottom: 1px dotted #34378a;
}

#config-profile #avatar label:hover {
  cursor: pointer;
}

#config-profile #avatar input {
  opacity: 0;
}

#config-profile .avatar {
  width: 90px;
  height: 90px;
  border: 3px solid white;
  margin-right: 15px;
  overflow: hidden;
  box-shadow: 1px 1px 1px 1px rgba(50,50,50,0.05);
}

#config-profile #configs {
  display: block;
  width: 700px;
}

#config-profile #configs h3 {
  position: relative;
  left: 105px;
  margin-bottom: -15px;

}

#config-profile #configs .left {
  display: block;
  height: 90px;
  width: 90px;
  margin-left: 25px;
  line-height: 25px;
  float: left;
}

#config-profile #configs .right {
  display: inline-block;
  height: 90px;
  width: 90px;
  line-height: 25px;
  float: left;
}

#config-profile #configs .bottom {
  position: relative;
  display: block;
  float: left;
  margin-top: 20px;
}

#config-profile #configs #user_profile_description {
  position: relative;
  display: block;
  left: -90px;
  width: 585px;
  height: 70px;
  line-height: 21px;
  resize: none;
  outline: none;
  padding: 5px;
  border: 1px solid #7bbacf;
  border-radius: 7px;
  -moz-border-radius: 7px;
}

#config-profile #configs #user_profile_description_input label {
  display: none;
}

#config-profile #configs #info-edit {
  display: block;
  position: relative;
  width: 256px;
  height: 68px;
  float: left;
  text-align: center;
  margin-left: 40px;
  background-color: #ffffff;
  box-shadow: 0px 0px 2px 2px rgba(123,186,207,0.15);
  margin-top: 30px;
  border-radius: 7px;
  -moz-border-radius: 7px;
}

#config-profile #configs #info-edit span {
  display: block;
  position: relative;
  color: #f37f00;
  top: 15px;
}

#config-profile #configs form .actions {
  position: relative;
  left: 445px;
  margin-top: 10px;
  padding: 0;
}

#config-profile #configs form .actions .button .left {
  position: relative;
  width: 5px;
  height: 26px;
  padding: 0;
  top: 0;
  margin-right: 0px;
}

#config-profile #configs form .actions .button .right {
  position: relative;
  width: 6px;
  height: 26px;
  padding: 0;
  top: 0;
  margin-left: -6px;
}

#config-profile #configs form .buttons .button button {
  width: 114px;
}

/* Account edit */

#personal-data p {
  margin: -15px 0 15px 15px;
}

#personal-data .fields {
  text-align: right;
  width: 245px;
  line-height: 32px;
  float: left;
}

#personal-data .fields.top {
  width: 365px;
  height: 174px;
}

#personal-data .optional-forms {
  margin-left: 40px;
}

#personal-data .fields select,
#personal-data .fields input {
  width: 150px;
  height: 26px;
}

#personal-data .optional-forms li.select {
  margin-left: -10px;
}

#personal-data .optional-forms li.text {
  margin-right: -5px;
}

#personal-data .fields input.area_code {
  width: 37px;
}

#personal-data .fields input.phone {
  width: 100px;
}

#personal-data #user_profile_birthday_input {
  display: inline;
  height: 32px;
  line-height: 32px;
  padding: 0;
  margin: 0;
}

#personal-data #user_profile_birthday_input fieldset {
  display: inline;
  margin-bottom: -12px;
}

#personal-data #user_profile_birthday_input .left,
#personal-data #user_profile_birthday_input .right {
  position: relative;
}

#personal-data #user_profile_birthday_input .right {
  position: relative;
}

#personal-data #user_profile_birthday_input ol {
  display: inline;
}

#personal-data #user_profile_birthday_input label {
  margin-left: 10px;
  float: left;
}

#personal-data #user_profile_birthday_input ol li {
  display: inline;
  float: left;
  padding: 0;
  margin: 0;
}

#personal-data #user_profile_birthday_input ol li select {
  width: 50px;
}

#personal-data #user_profile_birthday_input ol li .custom-select {
  margin: 0;
  padding: 0;
  width: 49px;
}

#personal-data #user_profile_birthday_input ol li .custom-select select {
  border: none;
  width: 49px;
  margin-left: -27px;
}

#personal-data #user_profile_birthday_input ol li .custom-select .select-value {
  font-size: 11px;
  width: 27px;
  text-align: center;
}

#personal-data #user_profile_birthday_input legend,
#personal-data #user_profile_birthday_input ol label {
  display: none;
}

#personal-data .fields.top input {
  width: 235px;
}

#personal-data .fields .whitespace {
  display: block;
  height: 32px;
}

#personal-data .fields label {
  margin-right: 5px;
  color: #000000;
}

#personal-data #user_profile_address_input {
  position: relative;
  display: block;
  width: 490px;
}

#personal-data #user_profile_address {
  width: 395px;
}

#personal-data .actions {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#personal-data .optional-forms {
  height: 300px;
}

#personal-data .optional-forms .actions {
  margin-left: 368px;
  width: 140px;
  margin-top: -12px;
  margin-top: 0;
  clear: both;
}

#personal-data .actions button {
  width: 113px;
  padding: 0;
}

#personal-data .actions .button .left {
  position: relative;
  padding-left: 8px;
  padding-bottom: 10px;
  margin-right: 0;
}

#personal-data .actions .button .right {
  position: relative;
  padding-left: 8px;
  padding-bottom: 10px;
}


.styled_select .right {
  margin-left: -4px;
}
