/* @group Defaults */

body {
  background: url(/images/user_panel/fundo.jpg) no-repeat 50% 0;
}

/* @end */

/* @group Header */

#header {
  height: 90px;
}

#header img {
  top: 22px;
  left: 42px;
}

/* @end */

/* @group Main Container */

#main-container {
  min-height: 300px;
}

#user_panel-container { 
  float: right;
  margin: 0 42px 0 0;
}

#user_panel-container h2 {
  font-size: 30px;
  color: #423b35;
  margin: 0 0 16px 3px;
}

/* @end */

/* @group Sidebar */

#sidebar { 
  float: left;
  width: 182px;
  height: 286px;
  margin: 1px 0 0 34px;
  padding: 5px;
  background: url(/images/user_panel/menu.png);
  font-size: 14px;
}

#sidebar > li { 
  display: block;
  width: 152px;
  height: 15px;
  padding: 10px 15px;
  margin-bottom: 5px;
  color: #34378A;
}

#sidebar > li.no-dropdown { 
  background: url(/images/user_panel/menu/nodropdown.png);
}

#sidebar > li { 
  background: url(/images/user_panel/menu/dropdown.png);
}

#sidebar > li.active { 
  color: white;
  background: url(/images/user_panel/menu/dropdown-active.png);
}

#sidebar ul.dropdown { 
  display: block;
  width: 147px;
  height: 76px;
  margin: 0 0 5px 5px;
  padding: 5px 15px;
  background: url(/images/user_panel/menu/fundo-active.png);
}

#sidebar ul.dropdown li {
  list-style-image: url(/images/user_panel/menu/bullet-off.png);
  list-style-position: inside;
  margin: 7px 0;
}

#sidebar ul.dropdown li.active {
  list-style-image: url(/images/user_panel/menu/bullet-active.png);
}

#sidebar ul.dropdown li.active a { 
  color: #f37f00;
}

/* @end */

/* @group File Upload Form */

.upload { 
  display: block;
  width: 625px;
  height: 90px;
  padding: 21px 15px;
  background: url(/images/user_files/fundo_web.png);
}

#new_user_file fieldset li {
  margin-bottom: 7px;
  overflow: hidden
}

#new_user_file fieldset#file_fields {
  float: left;
  width: 481px;
  padding: 1px;
}

#new_user_file .inline-errors { 
  display: none;
}

#new_user_file #file_fields label {
  display: none;
}

#new_user_file #file_fields input {
  border: 0 transparent;
  min-width: 465px;
  width: 465px;
  background: url(/images/user_files/campo.png);
  color: #8e8e8e;
  height: 19px;
  padding: 7px 8px;
}

#new_user_file #public_field {
  float: right;
}

#new_user_file #public_field label {
  padding: 9px 3px 0 0;
  color: #34378A;
}

#new_user_file #public_field li {
  height: 34px;
}

#new_user_file .buttons {
  clear: right;
  float: right;
  padding-left: 0;
}

#new_user_file .buttons li {
  padding-right: 0;
}

#new_user_file .buttons #user_file_submit {
  border: 0;
  width: 132px;
  height: 33px;
  color: white;
  background: url(/images/user_files/botao-off.png);
}

#new_user_file #more-files {
  background: url(/images/user_files/mais_arquivos.png) no-repeat 3px 4px;
  font-size: 14px;
  padding: 2px 0 0 25px;
}

/* @end */
