ul.tabs {
  padding: 0;
  margin: 0;
}

ul.tabs-menu {
  margin: 2px 10px;
  height: 40px;
}

li.tab-menu {
  display: block;
  float: left;
  text-align: center;
  margin-right: 5px;
  margin-top: 10px;
  padding: 0 15px 0 15px;
  height: 30px;
  line-height: 30px;
  background-color: #b4d9e6;
  border-radius: 7px 7px 0 0;
  -moz-border-radius: 7px 7px 0 0;
}

li.tab-menu.active {
  padding-top: 10px;
  line-height: 20px;
  margin-top: 0;
  background-color: #7bbacf;
}

li.tab-menu a {
  color: white;
  font-weight: bold;
  font-size: 18px;
}

li.tab-content {
  display: block;
}

li.tab-content.web-tab {
  width: 625px;
  height: 120px;
  padding: 21px 15px;
  background-color: rgba(180, 217, 230, 0.5);
  border-radius: 7px;
  -moz-border-radius: 7px;
}

li.tab-content.remote-tab {
  width: 625px;
  height: 155px;
  padding: 15px 15px;
  background-color: rgba(180, 217, 230, 0.5);
  border-radius: 7px;
  -moz-border-radius: 7px;
}

#categorize-container {
  width: 635px;
  background: rgba(180, 217, 230, 0.5);
  padding: 8px 10px;
  border-radius: 7px;
  -moz-border-radius: 7px;
}

#categorize-container p.categorize-info {
  padding: 0 20px 20px 20px;
}

#categorize-container #categories-list {
  list-style-type: none;
  width: 392px;
  background: url(/images/user_files/categorizar/fundo-cabecalho.png);
  margin: 0 0 0 241px;
  padding: 0;
  padding-left: 5px;
  overflow: auto;
}

#categorize-container #categories-list li {
  display: inline-block;
  float: left;
  text-align: center;
  overflow: hidden;
  width: 56px;
  margin: 0 auto;
  padding: 0;
}

#categorize-container #categories-list .name {
  font-size: 10px;
  height: 28px;
  width: 56px;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}


#categorize-container #categories-list .checkbox {
  width: 56px;
  margin: 0 15px;
  padding: 0;
}

#categorize-container form li {
  margin-bottom: 0;
  height: 30px;
  overflow: hidden;
}

#categorize-container form li.string.required label {
  display: none;
}

#categorize-container form li.string.required label,
#categorize-container form li.check_boxes .label {
  display: none;
  width: 0;
}

#categorize-container form fieldset {
  overflow: hidden;
}

#categorize-container form fieldset.inputs {
  background: url(/images/user_files/categorizar/fundo-arquivo.png) repeat-y;
  width: 638px;
  height: 58px;
  overflow: hidden;
  border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
}

#categorize-container form .filename {
  float: left;
  font-weight: bold;
  color: white;
  width: 227px;
  padding: 5px 7px;
}

#categorize-container form li.string.required {
  clear: both;
  float: left;
  width: 242px;
}

#categorize-container form li.string.required input {
  background: transparent;
  border: 0;
  width: 232px;
  max-width: 232px;
  height: 30px;
  line-height: 24px;
  padding: 0 5px;
  font-size: 11px;
  overflow: hidden;
}

#categorize-container form li.check_boxes {
  float: left;
  width: 392px;
  overflow: hidden;
}


#categorize-container form li.check_boxes ol {
  list-style-type: none;
  width: 392px;
  padding: 0 20px;
}

#categorize-container form li.check_boxes li {
  display: inline-block;
  width: 56px;
  height: 28px;
  text-align: center;
  margin: 0;
  padding: 0;
}

#categorize-container .buttons {
  margin: 10px 0 0 345px;
}

#categorize-container .buttons #files_submit {
  border: 0;
  width: 132px;
  height: 33px;
  color: white;
  background: url(/images/user_files/botao-off.png);
}


#links-container {
  width: 635px;
  background: rgba(180, 217, 230, 0.5);
  padding: 8px 10px;
  border-radius: 7px;
  -moz-border-radius: 7px;
}

#links-container p.links-info {
  text-align: justify;
  text-indent: 30px;
  width: 94%;
  margin: 10px auto;
  font-size: 12px;
}

#links-container #link-type-container {
  display: block;
  position: relative;
  left: 290px;
  background-color: rgba(123, 186, 207, 0.2);
  border-radius: 7px 7px 0 0;
  width: 345px;
  height: 32px;
}

#links-container #link-type-container .link-type {
  display: block;
  float: left;
  height: 32px;
  line-height: 32px;
  text-align: center;
  width: 85px;
  font-weight: bold;
  color: white;
  font-size: 12px;
}

#links-container #link-type-buttons-container {
  display: block;
  position: relative;
  left: 290px;
  background-color: rgba(123, 186, 207, 0.2);
  line-height: 32px;
  width: 345px;
  height: 32px;
}

#links-container #link-type-buttons-container input {
  display: block;
  float: left;
  height: 28px;
  width: 78px;
}

#links-container #link-boxes-container {
  position: relative;
  width: 345px;
  left: 290px;
  top: -33px;
  margin-bottom: -33px;
  background-color: rgba(123, 186, 207, 0.2);
}

#links-container #link-boxes-container .link-box {
  position: relative;
  left: -290px;
  height: 32px;
  margin-top: 33px;
}

#links-container #link-boxes-container .link-box .filename {
  position: relative;
  background-color: #7bbacf;
  border-radius: 7px 0 0 0;
  -moz-border-radius: 7px 0 0 0;
  width: 280px;
  height: 48px;
  line-height: 28px;
  padding-left: 10px;
  margin-bottom: 0;
  top: -28px;
  color: white;
  font-weight: bold;
  font-size: 12px;
}

#links-container #link-boxes-container .link-box .link-field {
  position: relative;
  width: 610px;
  height: 22px;
  padding: 5px;
  border-style: none;
  border-radius: 6px;
  -moz-border-radius: 6px;
  top: -49px;
  color: #8e8e8e;
}

#links-container #link-boxes-closing {
  position: relative;
  width: 345px;
  left: 290px;
  height: 12px;
  background-color: rgba(123, 186, 207, 0.2);
  border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
}

#links-container a.confirmar {
  display: block;
  position: relative;
  left: 503px;
  width: 132px;
  height: 33px;
  margin-top: 10px;
  text-align: center;
  line-height: 33px;
  color: white;
  background: url(/images/user_files/botao-off.png);
}


/* Página do arquivo */

#file-container.edit {
  margin-left: 0;
}

#file-container {
  clear: right;
  width: 608px;
  margin-left: 224px;
  padding: 0 4px;
}

#file-container .filetype  {
  float: left;
  width: 90px;
  height: 68px;
  line-height: 68px;
  vertical-align: center;
  margin: 5px 9px 5px 0;
  background-color: white;
  box-shadow: 1px 1px 1px 1px rgba(50,50,50,0.05);
}

#file-container .filetype span {
  display: block;
  position: relative;
  float: right;
  color: gray;
  font-size: 11px;
  right: 3px;
  top: -23px;
}

#file-container .filetype div {
  display: block;
  position: relative;
  height: 50px;
  width: 50px;
  top: 9px;
  text-align: center;
  line-height: 50px;
  margin: 0 auto;
}

#file-container .general-info .description textarea {
  width: 480px;
  height: 60px;
  margin: 1px;
  margin-left: 5px;
  padding: 2px;
  resize: none;
  border: 1px solid #7bbacf;
  background-color: white;
  color: gray;
  border-radius: 7px;
  -moz-border-radius: 7px;
}

#file-container .go-back {
  display: block;
  position: relative;
  width: 608px;
  height: 20px;
  border-bottom: 1px dotted black;
  top: -8px;
  padding: 0 0 8px 0;
}

#file-container .go-back a {
  line-height: 20px;
  color: #4f4439;
}

#file-container .go-back span {
  height: 15px;
  padding: 0 15px 0 3px;
  margin-right: 7px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  background: url(/images/search/voltar.png) no-repeat;
  background-position: center;
  background-color: white;
}

#file-container .general-info {
  margin-top: -10px;
  color: #4f4439;
  min-height: 80px;
  border-bottom: 1px dotted black;
}

#file-container .images {
  display: block;
  border-bottom: 1px dotted black;
  height: 130px;
  width: 608px;
  margin: 0;
}

#file-container .images img.filled {
  width: 140px;
  height: 105px;
  background-color: white;
}

#file-container .images img {
  display: inline;
  margin: 12px 2px 15px 7px;
  width: 140px;
  height: 105px;
  box-shadow: 1px 1px 1px 1px rgba(50,50,50,0.075);
}

#file-container h5 {
  width: 310px;
  height: 16px;
  font-size: 16px;
  line-height: 16px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 15px;
  overflow: hidden;
  color: #4f4439;
}


#file-container h5.title {
  color: #383289;
  margin-left: 0;
}



#file-container .file-info {
  display: block;
  color: #4f4439;
  height: 100px;
  font-size: 11px;
  line-height: 20px;
  width: 608px;
  border-bottom: 1px dotted black;
}

#file-container .file-info img {
  width: 15px;
  height: 15px;
}

#file-container .file-info .left {
  float: left;
  width: 185px;
  margin-top: 10px;
  margin-left: 5px;
  padding 5px;
}

#file-container .file-info .right {
  float: left;
  width: 155px;
  margin-top: 10px;
  margin-left: 30px;
  padding 5px;
}

#file-container .file-info a.download-button {
  background: url(/images/search/fundo-download.png) no-repeat;
  display: block;
  float: left;
  height: 80px;
  width: 230px;
  margin-top: 10px;
}

#file-container .file-info a.download-button .download-title {
  color: white;
  font-size: 20px;
  margin-left: 60px;
  line-height: 60px;
}

#file-container .file-info a.download-button span.virus {
  display: block;
  color: white;
  margin-top: -23px;
  margin-left: 60px;
}

#file-container .file-info .antivirus {
  position: relative;
  font-size: 12px;
  color: gray;
  top: -15px;
  margin-left: 15px;
}

#file-container .share {
  color: #4f4439;
  display: block;
  padding-bottom: 15px;
  border-bottom: 1px dotted black;
}

#file-container .share .labels {
  float: left;
  display: block;
  width: 50px;
  line-height: 29px;
  text-align: right;
}

#file-container .share .share-icons {
  display: block;
  float: right;
  width: 268px;
  margin-top: -90px;
  margin-right: -7px;
}

#file-container .share .share-icons img {
  margin: -2px -1px -2px -2px;
  width: 32px;
  height: 32px;
}

#file-container .share input[type=text] {
  width: 276px;
  height: 23px;
  margin: 1px;
  margin-left: 5px;
  padding: 2px;
  border: 1px solid #7bbacf;
  background-color: white;
  color: gray;
  border-radius: 7px;
  -moz-border-radius: 7px;
}

#file-container .comments {
  padding-bottom: 10px;
}

#file-container .comments h5 span {
  color: black;
}

#file-container .comments #new-comment-form {
  display: block;
  color: gray;
  font-size: 12px;
  margin-top: 10px;
}

#file-container .comments #new-comment-form textarea {
  width: 600px;
  height: 80px;
  border: none;
  resize: none;
  border-radius: 7px;
  border: 1px solid #7bbacf;
  -moz-border-radius: 7px;
}

#file-container .comments #new-comment-form .characters {
  line-height: 24px;
  height: 24px;
}

#file-container .comments #new-comment-form .characters .character-counter {
  color: black;
}

#file-container .comments #new-comment-form .buttons {
  width: 128px;
  padding: 0;
  margin-right: -10px;
  float: right;
}

#file-container .comments #new-comment-form input[type=submit] {
  height: 26px;
  width: 122px;
  background: url(/images/search/botao-enviar-off.png) no-repeat;
  color: white;
  font-size: 11.5px;
  border: none;
}

#file-container .comments #new-comment-form .rate-file {
  display: block;
  float: right;
  line-height: 24px;
  height: 24px;
  margin-right: 15px;
}

#file-container .comments #new-comment-form .rate-file input[type=radio] {
  display: none;
}

#file-container .comments #new-comment-form .rate-file .star {
  padding: 5px;
  background: url(/images/search/icone-nota-off.png) no-repeat;
  margin: 0 -1px;
}

#file-container .comments .comment {
  padding: 10px;
  font-size: 12px;
}

#file-container .comments .comment .rate-stars {
  float: right;
  margin-top: -22px;
}

#file-container .comments .comment .rate-stars img {
  margin: 0 1px;
}

#file-container .comments .comment p {
  display: block;
  margin-top: 5px;
  color: #4f4439;
  word-wrap: break-word;
}

#file-container .comments .comment.odd {
  background-color: #cce5ed;
}

#file-container .comments .comment.even {
  background-color: #e2f0f5;
}

#file-container .comments .pagination {
  display: block;
  margin: 20px 0;
  text-align: center;
}

#file-container .comments .no-comments img {
  margin-left: 15px;
}

#file-container .comments .no-comments p {
  display: inline;
  position: relative;
  padding: 0;
  margin: 0 10px;
  top: -25px;
}
