ul.tabs {
  padding: 0;
  margin: 0;
}

ul.tabs-menu {
  margin: 2px 10px;
  height: 40px;
}

li.tab-menu {
  display: block;
  float: left;
  text-align: center;
  margin-right: 5px;
}

li.tab-menu a {
  color: white;
  font-weight: bold;
  font-size: 18px;
}

li.tab-menu.web-tab {
  width: 97px;
  height: 30px;
  padding: 10px 0 0 0;
  background: url(/images/user_files/tab_web-on.png);
}

li.tab-menu.ftp-tab {
  width: 97px;
  height: 30px;
  padding: 15px 0 0 0;
  background: url(/images/user_files/tab_ftp-off.png) no-repeat 0 10px;
}

li.tab-menu.remote-tab {
  width: 147px;
  height: 30px;
  padding: 15px 0 0 0;
  background: url(/images/user_files/tab_remoto-off.png) no-repeat 0 10px;
}

li.tab-content {
  display: block;
}

li.tab-content.web-tab {
  width: 625px;
  height: 90px;
  padding: 21px 15px;
  background: url(/images/user_files/fundo_web.png);
}

li.tab-content.remote-tab {
  width: 625px;
  height: 116px;
  padding: 8px 15px;
  background: url(/images/user_files/fundo_web.png);
}

#categorize-container {
  width: 635px;
  background: rgba(180, 217, 230, 0.5);
  padding: 8px 10px;
  border-radius: 7px;
  -moz-border-radius: 7px;
}

#categorize-container p.categorize-info {
  padding: 0 20px 20px 20px;
}

#categorize-container #categories-list {
  list-style-type: none;
  width: 389px;
  padding: 0;
  background: url(/images/user_files/categorizar/fundo-cabecalho.png);
  margin: 0 0 0 241px;
  padding-left: 7px;
}

#categorize-container #categories-list li {
  display: inline-block;
  width: 52px;
  text-align: center;
  margin: 0;
}

#categorize-container #categories-list .name {
  font-size: 10px;
  height: 20px;
}

#categorize-container form #user_file_sentenced_tags_input label {
  display: none;
} 

#categorize-container form #user_file_sentenced_tags_input label,
#categorize-container form #user_file_categories_input .label {
  display: none;
  width: 0;
}

#categorize-container form fieldset {
  overflow: hidden;
}

#categorize-container form fieldset.inputs {
  background: url(/images/user_files/categorizar/fundo-arquivo.png) repeat-y;
  width: 638px;
  height: 58px;
  border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
}

#categorize-container form .filename {
  float: left;
  font-weight: bold;
  color: white;
  width: 227px;
  padding: 5px 7px;
}

#categorize-container form #user_file_sentenced_tags_input {
  clear: both;
  float: left;
  width: 242px;
}

#categorize-container form #user_file_sentenced_tags_input input {
  background: transparent;
  border: 0;
  width: 232px;
  max-width: 232px;
  height: 32px;
  margin-top: 1px;
  padding: 0 5px;
  font-size: 11px;
  overflow: hidden;
}

#categorize-container form #user_file_categories_input {
  float: left;
  width: 392px;
  padding-left: 4px;
}


#categorize-container form #user_file_categories_input ol {
  list-style-type: none;
  width: 392px;
  padding: 0;
}

#categorize-container form #user_file_categories_input li {
  display: inline-block;
  width: 56px;
  height: 32px;
  text-align: center;
  margin: 0;
  padding: 5px 0;
}

#categorize-container .buttons {
  margin: 10px 0 0 345px;
}

#categorize-container .buttons #user_file_submit {
  border: 0;
  width: 132px;
  height: 33px;
  color: white;
  background: url(/images/user_files/botao-off.png);
}


#links-container {
  width: 635px;
  background: rgba(180, 217, 230, 0.5);
  padding: 8px 10px;
  border-radius: 7px;
  -moz-border-radius: 7px;
}

#links-container p.links-info {
  text-align: justify;
  text-indent: 30px;
  width: 94%;
  margin: 10px auto;
  font-size: 12px;
}

#links-container #link-type-container {
  display: block;
  position: relative;
  left: 290px;
  background-color: rgba(123, 186, 207, 0.2);
  border-radius: 7px 7px 0 0;
  width: 345px;
  height: 32px;
}

#links-container #link-type-container .link-type {
  display: block;
  float: left;
  height: 32px;
  line-height: 32px;
  text-align: center;
  width: 85px;
  font-weight: bold;
  color: white;
  font-size: 12px;
}

#links-container #link-type-buttons-container {
  display: block;
  position: relative;
  left: 290px;
  background-color: rgba(123, 186, 207, 0.2);
  line-height: 32px;
  width: 345px;
  height: 32px;
}

#links-container #link-type-buttons-container input {
  display: block;
  float: left;
  height: 28px;
  width: 78px;
}

#links-container #link-boxes-container {
  position: relative;
  width: 345px;
  left: 290px;
  top: -33px;
  margin-bottom: -33px;
  background-color: rgba(123, 186, 207, 0.2);
}

#links-container #link-boxes-container .link-box {
  position: relative;
  left: -290px;
  height: 32px;
  margin-top: 33px;
}

#links-container #link-boxes-container .link-box .filename {
  position: relative;
  background-color: #7bbacf;
  border-radius: 7px 0 0 0;
  -moz-border-radius: 7px 0 0 0;
  width: 280px;
  height: 48px;
  line-height: 28px;
  padding-left: 10px;
  margin-bottom: 0;
  top: -28px;
  color: white;
  font-weight: bold;
  font-size: 12px;
}

#links-container #link-boxes-container .link-box .link-field {
  position: relative;
  width: 610px;
  height: 22px;
  padding: 5px;
  border-style: none;
  border-radius: 6px;
  -moz-border-radius: 6px;
  top: -49px;
  color: #8e8e8e;
}

#links-container #link-boxes-closing {
  position: relative;
  width: 345px;
  left: 290px;
  height: 12px;
  background-color: rgba(123, 186, 207, 0.2);
  border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
}

#links-container a.confirmar {
  display: block;
  position: relative;
  left: 503px;
  width: 132px;
  height: 33px;
  margin-top: 10px;
  text-align: center;
  line-height: 33px;
  color: white;
  background: url(/images/user_files/botao-off.png);
}

