<% page :optimization %>
<% tab :webmaster %>

<div  id="page-container">
  <div id="page-header">
    <div id="page-image">
      Otimização
      <span id="page-sub">
        Aumente seus Ganhos
      </span>
    </div>

    <p>Essa seção é destinada aos webmasters e uploaders que desejam aumentar os lucros dos seus sites através do smShare.
      Aqui daremos algumas dicas básicas do que pode ser feito para aproveitar ao máximo o público de seu site.
    </p>
  </div>

  <div id="content">

    <div class="item">
      <span class="item-name">Seja público</span>
      <p>Sempre que enviar um arquivo, mantenha a opção <b>"Público"</b> ativada.
        Com isso, seu arquivo será listado em nossa busca interna, o smSearch.
        Isso é vantajoso, pois seu arquivo poderá ser encontrado por milhares de pessoas sem a necessidade de sua divulgação.
        Porém, é importante lembrar que se o seu arquivo for confidencial e destinado a um público fechado de usuários, a opção 
        "Público" deve ser desmarcada, para garantir que nenhuma outra pessoa que não tenha acesso ao link possa baixar.
      </p>
    </div>

    <div class="item">
      <span class="item-name">Seja direto</span>
      <p>Sempre que desejar compartilhar seus arquivos em seu site, seja o mais objetivo e direto possível.
        A maneira mais prática e recomendada para isso, é utilizar nossa widget de download, a downBOX.
        Ela permite que seu usuário tenha acesso ao formulário de senha para download sem ser redirecionado para fora do seu site.
        A implementação é muito simples e contribui para uma melhor experiência de navegação.
        Artifícios paralelos utilizados pelos webmasters para complementar o lucro em seus sites,
        são dispensáveis, e quando integrados ao smShare, podem ser prejudiciais para sua receita final.
        Um exemplo disso, é a utilização de protetores de download ou páginas de redirecionamentos de URL.
        Esse tipo de prática, embora não seja proibída em nosso regulamento, acaba por afastar os usuários de seu site.
        Entenda que o smShare é um serviço totalmente inovador e sem precedentes no Brasil, por isso,
        o processo de aceitação por parte do usuário é gradual, e se estes, além de um serviço ainda não difundido,
        serem expostos a outras barreiras como os protetores e redirecionadores, podem vir a desistir de efetuar o download,
        fazendo com que neste momento o webmaster saia perdendo, não compensando o menor lucro que acabam tendo com os serviços
        de proteção e redirecionamento de link.
      </p>
    </div>
 
    <div class="item">
      <span class="item-name">Personalize-se</span>
      <p>Personalizando nossa widget você torna a downBOX ainda mais integrada ao seu site.
        É possível alterar completamente as cores, inclusive a imagem de fundo da ferramenta.
        Deixar a widget com uma identidade visual característica, garante um maior impacto,
        relevância e identidade para seu usuário.
      </p>
    </div>
 
    <div class="item">
      <span class="item-name">Seja Transparente</span>
      <p>A smShare é contra atividades que envolvam phising, ou seja, arquivos que contenham
        descrições enganosas e ou divergentes de seu real teor. Por isso, incentivamos os
        webmasters a informarem o maior número de dados sobre seus arquivos.
        Esse é um passo crucial para que não só seus próprios usuários, como aqueles que encontram seu
        arquivo através de nossa busca, saibam exatamente o conteúdo contido em seus downloads.
        Além de descrições detalhadas, o dono do arquivo poderá enviar imagens que ilustrem o conteúdo
        existente no arquivo, por exemplo, capturas de tela (screenshots). Outra funcionalidade essencial
        para tornar seu arquivo popular e mais visível em nossas buscas, é a atribuição de palavras-chaves
        em seus uploads, que podem ser adicionadas logo após o envio de seu arquivo. Lembre-se de abranger
        o máximo de termos relacionados ao conteúdo, mas seja racional e faça isso de forma moderada,
        incluindo apenas termos realmente relevantes. Palavras-chaves que fujam do contexto de seu teor,
        podem confundir os usuários e fazer com que ele desistam de efetuar o download por acreditar se
        tratar de um arquivo duvidoso.
      </p>
    </div>
 
    <div class="item">
      <span class="item-name">Agregue valor</span>
      <p>Lembre-se que diferentemente de outros portais de compartilhamento, para baixar através do smShare
        os usuários possuem gastos decorrentes do envio do SMS necessário para se adquirir o código PIN.
        Isso implica em uma maior exigência por parte dos próprios internautas que desejam adquirir um
        conteúdo diferenciado e o mais próximos do que ele procura. Existem algumas maneiras de se trabalhar
        com essa maior exigência. Leia atentamente os quatro próximos itens que exemplificam melhor essas situações.
      </p>
    </div>


    <div class="item"> 
      <span class="item-name">Tempo é dinheiro</span>
      <p>Além do conteúdo em si, existe outras maneiras de tornar seu arquivo ainda mais atrativo.
        Uma dessas maneiras é restringir esse conteúdo por um período de tempo, de forma que durante
        esse período, seja possível ter acesso ao arquivo apenas através do smShare. Se você é o criador
        ou o provedor de um certo conteúdo, tire proveito dessa exclusividade, deixando de disponibilizar
        seus arquivos exclusivos através de várias opções de download e passando a utilizar apenas o smShare
        durante o período em que esse seu arquivo ainda possui um conteúdo inédito. Por exemplo. Digamos que
        você possua um site que distribua modelagens 3d. Você costuma disponibilizar um novo pacote temático
        toda sexta-feira, e seus usuários frequentes acessam seu site nas sextas-feiras esperando por tal conteúdo.
        O que você poderá fazer, é lançar seu arquivo utilizando apenas o smShare como opção de download, liberando
        novas opções apenas no Domingo. Assim, conseguirá concentrar seus downloads no portal de compartilhamento que
        mais lhe dá retorno financeiro, passando consequentemente a ganhar muito mais com seu site.
      </p>
    </div> 

    <div class="item">
      <span class="item-name">Ofereça Opções</span>
      <p>Outra maneira de tornar seu site mais atrativo com relação ao conteúdo disponível para download,
        é abrindo um leque de opções ao usuário, de forma que ele tenha como escolher qual se adéqua melhor
        às suas necessidades. Por exemplo, se estiver disponibilizando um vídeo, ofereça opções de formatos
        e qualidades, para que um usuário com conexão e computador mais limitados, possa escolher baixar um
        video mais leve e de menor qualidade, enquanto outro usuário com conexão e computadores mais potentes,
        possa escolher uma versão de maior qualidade desse mesmo video. Outra maneira de dar opções ao usuário,
        é criando pacotes com quantidade de arquivos que condigam com o gasto que ele terá para efetuar o download.
        Por exemplo, digamos que seu site trabalhe com fotos para download. Além de disponibilizar cada vídeo-aula
        em um arquivo separado, você pode oferecer também uma opção em que o usuário, com apenas um download, possa
        baixar várias vídeo-aulas de uma mesma categoria, ficando a critério do próprio visitante qual das opções baixar;
        a com apenas uma vídeo-aula; ou a com várias vídeo-aulas de uma mesma categoria.
      </p>
    </div> 

    <div class="item">
      <span class="item-name">Seja Ponderado</span>
      <p>Saber o valor agregado ao seus arquivos, é essencial para garantir que este terá a aceitação esperada.
        Entenda que conteúdos banais e de muito fácil acesso, não terão o apelo suficiente para que seu visitante
        opte baixar através do smShare. Porém, esses mesmos arquivos, quando reunidos de forma organizada ao usuário,
        passam a ser atrativos. Por exemplo, digamos que você possua um site de fotos. Seu usuário está a procura de
        imagens de um determinado tema do qual ele poderia encontrar diversas opções deO processo contrário também é
        valido, ou seja, reconhecer quando um determinado arquivo possui um valor agregado maior que o custo de apenas
        um download. Nestes casos, uma solução comum, é particionar seu arquivo utilizando WinRar, WinZip, J-Split, etc.
        Mas lembre-se, o objetivo é ser ponderado e racional e chegar a um denominador comumMuitas vezes, ofercer mais
        por menos tornará seu site mais lucrativo, pois um maior número usuários passará a optar em baixar seu arquivo
        por acharem justo  o que está sendo exigido por ele.
      </p>
    </div> 

    <div class="item">
      <span class="item-name">Explore Oportunidades</span>
      <p>O smShare, assim como toda a Internet, lhe abre possibilidades para explorar diversas oportunidades.
        Se você é um webmaster em constante busca por conteúdos diferenciados, isso lhe torna um ótimo candidato
        para lucrar ainda mais conosco. Através de nosso sistema de busca, o smSearch, você poderá identificar
        conteúdos pouco explorados peUm arquivo diferenciado não necessariamente diz respeito a conteúdos completamente
        inexplorados, mas também conteúdos disponibilizados por meios inadequados os quais enfrentem muitas deficiências,
        que sejam inacessíveis para usuários comuns, ou ainda arquivos de baixa qualidade e/ou imprecisos.
      </p>
    </div>

    <div class="item">
      <span class="item-name">Enfatize as vantagens</span>
      <p>Enfatize para seus usuários o fato de que o smShare é um portal restritamente brasileiro que garante aos
        usuários a melhor velocidade de conexão, atingindo a velocidade máxima em seus downloads, além de ser muito
        mais prático de se baixar, uma vez já adquirido seu PIN, por não possuir tempo de espera ou páginas intermediárias
        com publicSempre que der outras opções ao seu usuário, faça questão de deixar em destaque o smShare, justificado
        o valor do download e encorajando seu visitante a experimentar nossos serviços.
      </p>
    </div> 

    <div class="item">
      <span class="item-name">Indicar é lucrar</span>
      <p>O smShare possui um sistema de indicações que permite ao webmaster a atingir lucros ainda maiores.
        Utilize a grande variedade de banners disponíveis em nossa página de "Peças Publicitárias" ou crie
        os seus próprios banners e utilize nosso sistema de identificação de link para rastrear os cliques
        e os registros gerados pela peça publicitária que desenvolveu.
        Analisar as estatísticas de ganhos provindas de cada um dos anúncios, permite com que você consiga
        identificar quais peças trazem maior retorno, podendo assim, ter um maior controle de quais anúncios
        devem ter maior destaque e quais podem ser substituídos para trazer maior retorno.
        Você poderá ter quantos indicados conseguir, e para cada 1.000 downloads realizados em arquivos de
        algum desses indicados, você ganhará R$10. Ou seja, se conseguir indicar uma média de 10 usuários por
        mês que movimentem cerca de 2.000 downloads cada, em meio ano, você já estará ganhando cerca de R$1200
        por mês apenas de indicações. Caso você consiga indicados realmente grandes e que movimentem uma grande
        quantidade de downloads, como por exemplo, 10.000 downloads por mês, seguindo a mesma lógica anterior,
        seus ganhos em seis meses já atingiriam R$6000 por mês.
      </p>
    </div> 

    <div class="item">
      <span class="item-name">Explore outros meios</span>
      <p>Existem várias formas de disseminar seus links de indicações e os links de seus arquivos através de outros
        meios além de seu website. Explore redes sociais, blogs, comentários colaborativos em outros sites, fóruns e etc.
        Lembre-se de que quanto maior for sua penetração na internet e quanto mais usuários visualizarem seus links,
        seja de indicação ou de download, maior será o retorno de seu site.
      </p>
    </div> 


  </div>

</div>
