<div id="slide-0" class="slide">
  <div class="number">01</div>
  <h3 class="title">Registre-se<br />gratuitamente</h3>
  <p class="line line-1">Crie sua conta de graça agora mesmo, é rápido e fácil</p>
  <p class="line line-2">Esse é o primeiro passo para começar a compartilhar, ganhar e se divertir!</p>
  <div class="flash flash-1">
    <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="195" height="195">
      <param name="movie" value="flash/01.swf">
      <param name="wmode" value="transparent">
      <param name="quality" value="high">
      <embed src="flash/01.swf" quality="high" wmode="transparent" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="195" height="195">
    </object>
  </div>
</div>

<div id="slide-1" class="slide">
  <div class="number">02</div>
  <h3 class="title">Envie e organize<br />seus arquivos</h3>
  <p class="line line-1">Envie e organize arquivos de qualquer tamanho</p>
  <p class="line line-2">Desfrute de transferência e espaço ilimitado e armazene seus arquivos para sempre!</p>
  <div class="flash flash-2">
    <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="195" height="195">
      <param name="movie" value="flash/02.swf">
      <param name="wmode" value="transparent">
      <param name="quality" value="high">
      <embed src="flash/02.swf" quality="high" wmode="transparent" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="195" height="195">
    </object>
  </div>
</div>

<div id="slide-2" class="slide">
  <div class="number">03</div>
  <h3 class="title">Compartilhe<br />seus arquivos</h3>
  <p class="line line-1">Compartilhe seus arquivos com seus usuários e amigos</p>
  <p class="line line-2">Com nosso widget, o usuário não precisa nem sair da sua página para baixar!</p>
  <div class="flash flash-3">
    <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="195" height="195">
      <param name="movie" value="flash/03.swf">
      <param name="wmode" value="transparent">
      <param name="quality" value="high">
      <embed src="flash/03.swf" quality="high" wmode="transparent" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="195" height="195">
    </object>
  </div>
</div>

<div id="slide-3" class="slide">
  <div class="number">04</div>
  <h3 class="title">Ganhe por<br /> download</h3>
  <p class="line line-1">São R$50,00 a cada 1.000 downloads</p>
  <p class="line line-2">Você nunca imaginou ganhar tanto apenas por compartilhar seus arquivos!</p>
  <div class="flash flash-4">
    <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="195" height="180">
      <param name="movie" value="flash/04.swf">
      <param name="wmode" value="transparent">
      <param name="quality" value="high">
      <embed src="flash/04.swf" quality="high" wmode="transparent" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="195" height="180">
    </object>
  </div>
</div>

<div id="tv-menu">
  <p>Como funciona?</p>
  <ol>
    <li id="tv-0" class="active"><span>Registre-se gratuitamente</span></li>
    <hr />
    <li id="tv-1"><span>Envie e organize seus arquivos</span></li>
    <hr />
    <li id="tv-2"><span>Compartilhe seus arquivos</span></li>
    <hr />
    <li id="tv-3"><span>Ganhe por download</span></li>
    <hr />
  </ol>
</div>
