<div id="slide-1" class="slide">
  <div class="number">01</div>
  <h3 class="title">Registre-se<br />gratuitamente</h3>
  <p class="line line-1">Crie sua conta de graça agora mesmo, é rápido e fácil</p>
  <p class="line line-2">Esse é o primeiro passo para começar a compartilhar, ganhar e se divertir!</p>
</div>

<div id="slide-2" class="slide">
  <div class="number">02</div>
  <h3 class="title">Envie e organize<br />seus arquivos</h3>
  <p class="line line-1">Envie e organize arquivos de qualquer tamanho</p>
  <p class="line line-2">Desfrute de transferência e espaço ilimitado e armazene seus arquivos para sempre!</p>
</div>

<div id="slide-3" class="slide">
  <div class="number">03</div>
  <h3 class="title">Compartilhe<br />seus arquivos</h3>
  <p class="line line-1">Compartilhe seus arquivos com seus usuários e amigos</p>
  <p class="line line-2">Com nosso widget, o usuário não precisa nem sair da sua página para baixar!</p>
</div>

<div id="slide-4" class="slide">
  <div class="number">04</div>
  <h3 class="title">Ganhe por<br /> download</h3>
  <p class="line line-1">São R$50,00 a cada 1.000 downloads</p>
  <p class="line line-2">Você nunca imaginou ganhar tanto apenas por compartilhar seus arquivos!</p>
</div>

<div id="tv-menu">
  <p>Como funciona?</p>
  <ol>
    <li class="active"><span>Registre-se gratuitamente</span></li>
    <hr />
    <li><span>Envie e organize seus arquivos</span></li>
    <hr />
    <li><span>Compartilhe seus arquivos</span></li>
    <hr />
    <li><span>Ganhe por download</span></li>
    <hr />
  </ol>
</div>