<div id="page-container">
  <div id="page-header">
    <div id="page-image">
      smShare
      <span id="page-sub">
        A Empresa
      </span>
    </div>
  </div>
  <div id="content">

<p>A smShare é um portal web para compartilhamento de arquivos em seus mais diversos formatos e com um nível de abrangência nacional.</p>
<p>Com o intuito de oferecer para os usuários brasileiros mais qualidade, em um cenário atual onde ainda é carente este tipo de serviço, a smShare trás uma nova proposta em compartilhamento de arquivos, que não apenas apresente qualidade para quem busca, mas também uma remuneração atraente para quem compartilha.</p>
<p>Realizados estudos pela equipe, observou-se que a grande maioria, senão sua totalidade, dos serviços de compartilhamento de arquivos utilizados por brasileiros eram de empresas estrangeiras e com custos elevados, consequentemente seus planos de assinatura eram cobrados em dólares, euros, libras ou outras moedas estrangeiras.</p>
<p> A partir destas constatações, podemos concluir em novas pesquisas que o acesso a tais serviços eram limitados, sejam pelos altos custos ou pela dificuldade de pagamento, desta forma também limitando o leque de onde proveriam a remuneração do webmaster, ou seja, quem compartilhou seu conteúdo.</p>
<p>Pensando em apresentar uma solução para estes problemas, a smShare obteve resultado. Onde o webmaster chega a receber quinze vezes mais e os usuários ficam livres de mensalidades, planos e cadastros.</p>
<p>Sempre pensando em melhorar o serviço de compartilhamento de arquivos, a smShare diferente dos demais, não obriga os usuários a serem redirecionados para o site de suas próprias companhias, não impõe tempo de espera, não submete a anúncios que antecedem o download, possibilitando o webmaster, através das ferramentas que disponibilizamos, dispor todo o conteúdo que deseja compartilhar em seu próprio site, fórum, blog ou rede social.</p>
<p>Para realizar um download na smShare basta enviar uma mensagem para o número 49602, em instantes retornaremos uma senha, chamada PINcode. Essa senha é vitalícia, pessoal e intransferível.</p>
<p>O número de telefone não é armazenado e não é exigido nenhum tipo de registro ou cadastro. Toda vez que desejar realizar um download na smShare basta utilizar o número do seu PINcode.</p>
<p>Hoje, segundo a Anatel, existem 255 milhões de linhas telefônicas em todo o Brasil. Desta forma, a um baixo custo por download de R$0,31 + impostos (tarifação normal do serviço de SMS no Brasil), o serviço de compartilhamento de arquivos através da smShare se torna acessível para praticamente todos os Brasileiros.</p>
<p>Tornando o serviço mais barato (sendo necessário realizar mais de 120 downloads por mês para atingir o custo médio da mensalidade exigida pelas demais empresas) e tornando o mais rentável (Pagando, em média, mais de R$50,00 para cada 1.000 downloads recebidos pelo webmaster, enquanto as outras empresas, pagam uma média de U$1,00 para os mesmo 1.000 downloads), a smShare considera que sua proposta foi cumprida, aprimorando todas extensões desse tipo de serviço.</p>
  </div>
</div>
