<div id="page-container">
  <div id="page-header">
    <div id="page-image">
      smShare
      <span id="page-sub">
        Termos de Serviço
      </span>
    </div>
  </div>
  <div id="content">
  
<p>
<h2>1. Aceitação</h2>
<ul>
<li>1.1 Os Termos de Serviço da SmShare, em conjunto com a Política de Privacidade e outros termos e condições de uso estão aqui incorporados por referência e podem fazer menções a serviços específicos, regendo o uso do site SmShare e definindo-se coletivamente como "Acordo".</li>
<li>1.2 Ao visitar o site smShare, utilizando qualquer conteúdo, produtos ou serviços fornecidos a você em, de, ou através do site smShare (coletivamente "Serviços") ou marcando a caixa ao lado de "Eu concordo com os Termos", você estará indicando que você leu o acordo, que você entende o acordo, e você concorda em ficar vinculado por todos os termos do acordo. Se você NÃO CONCORDAR  COMPLETAMENTE COM OS TERMOS DO CONTRATO e você, como um usuário responsável, optar por continuar a utilizar os serviços, você será submetido a TODOS OS TERMOS DO CONTRATO.</li>
<li>1.3 A smShare pode modificar o Acordo, que entrará em vigor imediatamente após a sua publicação no site. Seu uso continuado do site e quaisquer serviços associados indica a sua aceitação do acordo e você concorda em ficar vinculado por tais modificações ou revisões. Se você estiver insatisfeito com alguma coisa relacionada ao site smShare, a única solução é interromper o uso dos Serviços. Você usa os serviços da smShare por seu próprio risco. Nenhuma disposição do Acordo será considerada para conferir quaisquer direitos de terceiros ou benefícios.</li>
</ul>
</p>

<p>
<h2>2. Serviços</h2>
<ul>
<li>2.1 O acordo aplica-se a todos os usuários dos serviços, incluindo os usuários que contribuem com conteúdo. "Conteúdo" inclui texto, software, scripts, gráficos, fotos, sons, músicas, vídeos, combinações audiovisuais, recursos interativos e outros materiais que você pode ver sobre o acesso por meio, ou contribuir para os Serviços. Os Serviços englobam todos os aspectos do smShare, incluindo, mas não limitando-se a, todos os produtos, softwares e serviços oferecidos através do site smShare.</li>
<li>2.2 A smShare pode alterar, suspender ou interromper todo e qualquer aspecto dos serviços a qualquer momento, incluindo a disponibilidade de qualquer recurso, banco de dados, ou conteúdo, sem aviso prévio ou responsabilidade.</li>
<li>2.3 A smShare pode conter links para sites de terceiros. O usuário expressamente isenta a smShare de toda e qualquer responsabilidade decorrente do uso de qualquer website de terceiros.</li>
</ul>
</p>


<p>
<h2>3. Contas smShare</h2>
<ul>
<li>3.1 Para acessar os serviços ou recursos de remuneração da smShare, você terá que se cadastrar e criar uma conta smShare. Você é responsável por manter a confidencialidade de suas informações de acesso e por todas as atividades que ocorrem utilizando sua informação. Embora a smShare não seja responsável por quaisquer perdas que possa sofrer, você pode ser responsabilizado pelas perdas da smShare ou outros.</li>
</ul>
</p>

<p>
  <h2>4. Uso Geral do Serviço - Permissões e Restrições.</h2>
<ul>
<li>4.1 Ao concordar com os Termos de Serviço da smShare, você NÃO pode:
<ul>
<li>(i)	Alterar ou modificar qualquer parte dos Serviços;</li>
<li>(ii)	Utilizar os Serviços para quaisquer fins ilegais;</li>
<li>(iii)	Transmitir vírus, worms ou outros itens de natureza destrutiva ou contaminante;</li>
<li>(iv)	Fazer upload de qualquer conteúdo que inclua código escondido ou que seu conteúdo não condiga com sua especificação;</li>
<li>(v)	Reformatar qualquer parte, de qualquer página web, que faça parte dos serviços sem a permissão expressa da smShare;</li>
<li>(vi)	Reformatar ou enquadrar qualquer parte de qualquer página web que é parte dos serviços sem a permissão expressa da smShare;</li>
<li>(vii)    Coletar ou capturar qualquer informação pessoal identificável, contas de usuários ou solicitá-las a usuários;</li>
<li>(viii)	Fingir ser outra pessoa, real ou fictícia;</li>
<li>(ix)     Permitir que terceiros utilizem seu nome e senha;</li>
<li>(x)      Violar ou tentar violar sistemas da smShare ou interferir com a normal utilização dos serviços pelos usuários;</li>
<li>(xi)     Publicar anúncios, promoções ou solicitações de negócios;</li>
<li>(xii)    Transmitir qualquer forma de solicitação ou Spam;</li>
<li>(xiii)   Submeter qualquer conteúdo que implique em falso patrocínio, falsificar ou excluir qualquer atribuição ao autor em qualquer Conteúdo, ou promover qualquer informação que você sabe que é falso ou enganoso;</li>
<li>(xiv)	Distribuir uma cópia ilegal ou não autorizada do trabalho registrado ou direitos autorais de outra pessoa;</li>
<li>(xv)	Distribuir conteúdo que seja calunioso, difamatório, obsceno, pornográfico, abusivo, ameaçador, ilegal ou promova ou encoraje atividades ilegais;</li>
<li>(xvi)	Distribuir conteúdo que viole os direitos de outros, tais como distribuição de conteúdo que infrinja qualquer direito autoral, marcas, patentes, segredo comercial, ou que viole qualquer direito de privacidade ou publicidade, ou que seja injurioso ou difamatório, ou que oriente qualquer usuário ao conteúdo de terceiros sem o consentimento do terceiro;</li>
<li>(xvii)	Distribuir conteúdo que faça menção à Anatel, empresas de telefonia, móvel ou fixa;</li>
<li>(xviii)	Fazer menção de qualquer natureza através de textos e/ou imagens à Anatel em páginas que distribuam ou estejam ligadas ao conteúdo distribuído;</li>
<li>(xix)    Utilizar a logomarca das operadoras de telefonia móvel em suas campanhas de marketing sem a devida e prévia aprovação, que deverá ser obtida através da smShare, que se compromete a submeter o material a ser aprovado às operadoras. Sem esta prévia e expressa aprovação das operadoras, fica impedido o uso da logomarca em suas campanhas de marketing.</li>
<li>(xx)	Difamar qualquer pessoa; invadir o direito de privacidade ou publicidade de qualquer pessoa ou violar, negar ou atentar os direitos de qualquer pessoa;</li>
<li>(xxi)	Postar links para quaisquer sites externos que contem material obsceno ou pornográfico, ou exibir material pornográfico ou sexualmente explícito de qualquer tipo;</li>
<li>(xx)	Personalizar a ferramenta de downBOX de forma que as combinações de cores acabem por esconder, disfarçar, ofuscar, confundir ou dificultar a leitura de qualquer das informações contidas nela, tais como: nome e tamanho do arquivo; instruções para download; valor e tarifação do SMS; operadoras disponíveis e; logo e texto com link que referenciam ao portal do smShare.</li>
</ul>
</li>
</ul>
</p>

<p>
  <h2>5. Seu uso do Conteúdo</h2>
<ul>
<li>5.1 Além das restrições gerais acima expostas, as seguintes restrições e condições se aplicam especificamente ao uso do Conteúdo. Você vai cumprir com as leis sobre a transmissão de dados.</li>
<li>5.2 O conteúdo é fornecido a você como é. Você entende que ao usar os Serviços, você será exposto a Conteúdos de uma variedade de fontes, e que a smShare não é responsável pela exatidão, utilidade, segurança ou direitos de propriedade intelectual de, ou relacionados a, tal conteúdo. Você entende e reconhece que poderá ser exposto a Conteúdos que sejam imprecisos, ofensivos, indecentes ou censuráveis, e concorda em renunciar, e decide fazer renunciar, quaisquer direitos legais ou de equidade ou retificações que você tem ou pode ter contra smShare com respeito da mesma, e, na medida permitida pela lei aplicável, concorda em indenizar e isentar a smShare, seus proprietários, operadores, afiliadas, licenciadores, licenciados e em toda a extensão permitida por lei em todas as matérias relacionadas ao seu uso dos Serviços. Você reconhece o uso do conteúdo é de sua responsabilidade exclusiva.</li>
<li>5.3 O Conteúdo da smShare pode conter links para sites externos, no entanto, a smShare não se responsabiliza por qualquer disponibilidade ou conteúdo ou através de qualquer site externo.</li>
</ul>
</p>

<p>
  <h2>6. Seu Conteúdo e sua conduta</h2>
<ul>
<li>6.1 Você será o único responsável por seu próprio conteúdo e as consequências de armazenar ou distribuir o seu Conteúdo nos Serviços. Você afirma, declara e garante que possui ou tem as necessárias licenças, direitos, autorizações e permissões para distribuir conteúdo através dos Serviços, e você cede licença para smShare todas marcas, patentes, segredos comerciais, direitos autorais ou outros direitos de propriedade e Conteúdo para distribuição sobre os Serviços em conformidade com o Acordo.</li>

<li>6.2 Para maior clareza, você retém todos seus direitos de propriedade em seu conteúdo. No entanto, através da distribuição de conteúdo pela smShare, você decide conceder à smShare uma licença mundial, não exclusiva, isenta de royalties, licença sublicenciável e transferível para utilizar, reproduzir, distribuir, preparar trabalhos derivados, exibir, executar o Conteúdo em conexão com o Serviços e os negócios da smShare (e de seus sucessores e afiliados).</li>
<li>6.3 A smShare não endossa qualquer conteúdo armazenado ou distribuído através do Serviço, e a smShare expressamente se isenta de toda e qualquer responsabilidade em conexão com o conteúdo. Você tem total e exclusiva responsabilidade por quaisquer dados perdidos ou irrecuperáveis. Você entende e concorda que a smShare reserva-se o direito de apagar, mover arquivo (incluindo informações de conta) ou editar qualquer Conteúdo que pode determinar violação do Acordo e/ou da Política de Privacidade ou é de outra maneira inaceitável e pode terminar o seu acesso aos serviços, sem aviso prévio.</li>
<li>6.4 Você controla seus dados através de sua conta. A smShare mantém várias cópias de arquivos ativos e a smShare não se responsabiliza por manter os dados indefinidamente.</li>

<li>6.5 A smShare não é um serviço de armazenamento de dados. A sua utilização é para contas ativas e compartilhamento de arquivos que pode inadvertidamente resultar em backups de arquivos que estão sendo compartilhados. Contas com grandes quantidades de dados estagnadas poderão, a critério exclusivo da smShare e sem aviso prévio, serem removidos dos Serviços.</li>
<li>6.6 Você é o único responsável por suas interações com outros usuários dos Serviços. As opiniões expressas no site não refletem a opinião do smShare.</li>
</ul>
</p>


<p>
<h2>7. Pagamentos</h2>
<ul>
<li>7.1 O montante mínimo para solicitar o pagamento é R$50,00 (cinquenta reais). 7.2 Após solicitar seu pagamento, o prazo para que este seja efetuado é de usualmente 30 dias, conforme nossa página explicativa sobre os fechamentos mensais. 7.3 Caso o pagamento não seja efetuado dentro do período previsto, o pagamento será realizado sobre o valor original, isento de juros ou multa. 7.4 Os pagamentos serão apenas realizados por payPal. 7.5 A smShare reserva os direitos de alterar o programa de pagamentos a qualquer momento, sem aviso prévio. 7.6 Caso seja identificado que o seus rendimentos desrespeitaram algum item dos Termos de Uso da smShare, cabe somente a nós decidir se o pagamento será cancelado imediatamente ou, se será dado o direito a uma resposta dentro de 15 dias após a notificação. Caso a defesa seja aceita, o pagamento será efetuado normalmente, caso contrário ou caso não haja manifestação dentro do prazo estipulado o pagamento será cancelado. 7.7 Você terá sua conta suspensa e seu pagamento cancelado caso tente manipular o sistema.</li>
</ul>
</p>

<p>
<h2>8. Política de encerramento de conta.</h2>
<ul>
<li>8.1 Qualquer um usando os Serviços smShare devem respeitar o Acordo com a smShare e a Política de Privacidade. Qualquer pessoa, inclusive as entidades de negócios, que não esteja em conformidade pode ser removido e banido dos serviços sem aviso prévio. A smShare reserva o direito de rescindir seu acesso a qualquer ou todas as partes dos serviços, a qualquer momento, por qualquer razão sem aviso prévio ou responsabilidade. Os termos do Contrato e da Política de Privacidade após rescisão permanecem iguais mesmo após a suspensão ao seu acesso aos Serviços.</li>
<li>8.2 Quando smShare remove Conteúdo por violações de políticas, o usuário que publicou o conteúdo pode receber uma advertência. O usuário é notificado da infração por e-mail. Repetidas violações de políticas resultarão no encerramento da conta.</li>

<li>8.3 A smShare reserva o direito de determinar o que é prejudicial para os seus usuários, operações ou reputação, incluindo todas as atividades que restrinjam ou inibam qualquer outro usuário de usar e usufruir dos serviços. Reclamações sobre os violadores de nossas políticas devem ser enviados para dmca@smshare.com.br. Cada reclamação será investigada e as devidas providências serão tomadas.</li>
</ul>
</p>

<p>
  <h2>9. Direitos Autorais</h2>
<ul>
<li>9.1 Se os seus direitos autorais ou marcas registradas de suas obras estão sendo distribuídos através dos Serviços sem sua permissão, por favor, contate dmca@smshare.com.br descrevendo a obra que esta sendo violada, onde ela está localizada no site, e forneça suas informações de contato e uma declaração, feita sob pena de perjúrio, que as informações em seu aviso são precisas e que você é o proprietário, ou autorizado pelo proprietário, dos direitos autorais ou marca registrada de trabalho. Solicitações válidas serão atendidas depois de um aviso com todas as informações necessárias.</li>
<li>Para mais informações, consulte nossa página de Denunciar Abuso.</li>
</ul>
</p>


<p>
<h2>10. Renuncia</h2>
<ul>
<li>10.1 VOCÊ CONCORDA QUE O USO DOS SERVIÇOS SERÃO POR SUA CONTA E RISCO. NA MÁXIMA EXTENSÃO PERMITIDA POR LEI, A SMSHARE, SEUS REPRESENTANTES, DIRETORES, FUNCIONÁRIOS E AGENTES REJEITAM TODAS AS GARANTIAS, EXPRESSAS OU IMPLÍCITAS, EM RELAÇÃO AOS SERVIÇOS E SEU USO.</li>

<li>10.2 A SMSHARE, OU QUALQUER TIPO DE PROVEDOR TERCEIRO, NÃO GARANTE QUE OS SERVIÇOS SERÃO ININTERRUPTOS OU TOTALMENTE LIVRES DE ERROS OU DÀ QUALQUER GARANTIA DOS RESULTADOS A SEREM OBTIDOS ATRAVÉS DO USO DOS SERVIÇOS OU CONTEÚDOS. AMBOS, OS SERVIÇOS E OS CONTEÚDOS, SÃO DISTRIBUÍDOS "COMO SÃO, COMO DISPONÍVEIS". A SMSHARE, OU QUALQUER TIPO DE PROVEDOR TERCEIRO, NÃO DÁ QUALQUER GARANTIA DE QUALQUER TIPO, EXPRESSA OU IMPLÍCITA, INCLUINDO, SEM LIMITAÇÃO, GARANTIAS DE TÍTULO OU GARANTIAS DE COMERCIALIZAÇÃO OU ADEQUAÇÃO A UM DETERMINADO FIM, COM RELAÇÃO AOS SERVIÇOS OU CONTEÚDO OU QUAISQUER PRODUTOS OU SERVIÇOS VENDIDOS POR MEIO DOS SERVIÇOS.</li>
<li>10.3 A SMSHARE, OU QUALQUER TIPO DE PROVEDOR TERCEIRO, NÃO GARANTE QUE QUALQUER TIPO DE ARQUIVO DISPONÍVEL PARA DOWNLOAD  ATRAVÉS DOS SERVIÇOS ESTARÁ LIVRES DE VÍRUS OU DE CONTAMINAÇÃO SIMILARES OU CARACTERÍSTICAS DESTRUTIVAS. VOCÊ CONCORDA QUE VOCÊ ASSUME TODOS OS RISCOS QUANTO À QUALIDADE E DESEMPENHO DOS SERVIÇOS E A PRECISÃO E INTEGRIDADE DO CONTEÚDO. A SMSHARE NÃO É RESPONSÁVEL POR QUALQUER ACESSO OU ALTERAÇÃO DE SEU CONTEÚDO OU QUALQUER VIOLAÇÃO DE SEU CONTRATO.</li>
<li>Para maior clareza, A SMSHARE NÃO ASSUME NENHUMA RESPONSABILIDADE POR ERROS (I), EQUÍVOCOS OU IMPRECISÕES DE CONTEÚDO, (II) DANOS PESSOAIS OU DANOS MATERIAIS, DE QUALQUER NATUREZA, RESULTANTE DO ACESSO E USO DOS NOSSOS SERVIÇOS, (III) QUALQUER ACESSO NÃO AUTORIZADO OU USO DE NOSSOS SERVIDORES SEGUROS E/OU DE TODA E QUALQUER INFORMAÇÃO PESSOAL E/OU FINANCEIRA ARMAZENADOS NO MESMO, (IV) QUALQUER INTERRUPÇÃO OU CESSAÇÃO DE TRANSMISSÃO DE OU PARA NOSSOS SERVIÇOS, (IV) QUAISQUERS BUGS, VÍRUS, CAVALOS DE TRÓIA OU AFINS QUE POSSAM SER TRANSMITIDOS OU ATRAVÉS DOS NOSSOS SERVIÇOS POR TERCEIROS E/OU (V) QUAISQUER ERROS OU OMISSÕES EM QUALQUER CONTEÚDO OU POR QUALQUER PERDA OU DANOS DE QUALQUER NATUREZA SOFRIDOS COMO RESULTADO DO USO DE QUALQUER CONTEÚDO PUBLICADO, TRANSMITIDO, OU OUTRA FORMA DISPONIBILIZADO ATRAVÉS DOS SERVIÇOS. A SMSHARE NÃO GARANTE, ENDOSSA, OU ASSUME RESPONSABILIDADE POR QUALQUER PRODUTO OU SERVIÇO DIVULGADO OU OFERECIDO POR TERCEIROS ATRAVÉS DOS SERVIÇOS, OU EXIBIDO EM QUALQUER BANNER OU OUTRO TIPO DE PUBLICIDADE E A SMSHARE DE MANEIRA ALGUMA SERÁ RESPONSÁVEL POR OU MONITORARÁ QUALQUER TRANSAÇÃO ENTRE VOCÊ E TERCEIROS OU FORNECEDORES DE PRODUTOS OU SERVIÇOS. VOCÊ DEVE USAR O BOM SENSO E SER CUIDADOSO.</li>
</ul>
</p>

<p>
<h2>11. Limitação de Responsabilidade</h2>

<ul>
<li>11.1 A SMSHARE, OU QUALQUER TIPO DE PROVEDOR TERCEIRO, NÃO SERÁ RESPONSÁVEL POR VOCÊ OU QUALQUER TERCEIRO, POR QUAISQUER DANOS, SEJAM ELES DIRETOS, INDIRETOS, ESPECIAIS, CONSEQUENTES OU PUNITIVOS E DECORRENTES DO USO OU DA IMPOSSIBILIDADE DE UTILIZAR OS SERVIÇOS. AS LIMITAÇÕES DE DANOS ACIMA DESCRITAS SÃO ELEMENTOS FUNDAMENTAIS DA BASE DO ACORDO ENTRE A SMSHARE E VOCÊ. EM ESTADOS QUE NÃO PERMITEM EXCLUSÃO DE GARANTIAS OU LIMITAÇÃO DE RESPONSABILIDADE POR DANOS OU DERIVADOS, A SMSHARE E QUALQUER TIPO DE PROVEDOR TERCEIRO SERÁ LIMITADA PELOS TERMOS DA LEI.</li>
</ul>
</p>

<p>
<h2>12. Indenização</h2>
<ul>
<li>12.1 Você concorda em indenizar, defender e manter smShare e suas afiliadas, e ambos smShare e seus respectivos funcionários, diretores, proprietários, empregados, agentes, fornecedores de informação e licenciadores de e contra todas e quaisquer reivindicações, responsabilidades, perdas, danos, obrigações, custos e despesas, incluindo honorários advocatícios, incorridos por qualquer Parte. A smShare reserva o direito de, a suas expensas, assumir a defesa exclusiva e o controle de qualquer questão sujeita a indenização por você, e em tal caso, você concorda em cooperar com a defesa da smShare de tal reclamação. Esta defesa e obrigação de indenização subsistirá a estes Termos de Uso e ao uso dos Serviços.</li>
</ul>
</p>

<p>
<h2>13. Capacidade de aceitar os termos de Serviço</h2>
<ul>
<li>13.1 Os serviços da smShare estão disponíveis a qualquer pessoa com idade superior a 13 anos.</li>
<li>13.2 Contas para as entidades de negócios devem ser criadas e mantidas por um indivíduo capaz e autorizado a firmar um contrato vinculativo em nome da entidade.</li>

<li>13.3 Você afirma que você é totalmente capaz e competente para celebrar os termos, condições, obrigações, afirmações, representações e garantias estabelecidas no Contrato, e de respeitar e cumprir os presentes Termos de Serviço.</li>
</ul>
</p>

<p>
<h2>14. Geral</h2>
<ul>
<li>14.1 Você e a smShare concordam irrevogavelmente com a jurisdição local. Com respeito a qualquer ação ou processo decorrente ou relacionado com o Contrato ou aos Serviços e/ou Conteúdo, as partes consentem em eleger o Foro de Curitiba, Estado do Paraná.</li>

<li>14.2 Esses Termos de Serviço, juntamente com a Política de Privacidade e quaisquer outros avisos legais publicados pela smShare., constituem o acordo integral entre as partes com relação ao assunto deste documento, e substituem todos os acordos anteriores, escritos ou orais entre as partes com relação a este assunto. Se alguma inconsistência existe entre os termos do Contrato e quaisquer termos e condições adicionais postados nos Serviços, tais termos devem ser interpretados de forma a eliminar qualquer inconsistência, se possível, e caso contrário, os termos e condições adicionais prevalecerão. Se qualquer disposição do Contrato for considerada inválida, ilegal ou inexequível em qualquer aspecto, (i) tal disposição deve ser interpretada de forma a preservar, na medida do possível, a intenção das partes, (ii) a validade , legalidade e exequibilidade das disposições restantes não serão de qualquer maneira afetadas ou prejudicadas, e (iii) a decisão não prejudica a validade, legalidade ou exequibilidade de tal disposição em outras circunstâncias.</li>
<li>14.3 Nenhuma falha, em atraso em exercer ou aplicar esta política constituirá uma renúncia do Contrato ou de qualquer outro direito. Este contrato é regido pela legislação brasileira. Se qualquer disposição do Contrato for considerada inaplicável por lei ou houver mudança na lei, tal disposição deve ser desconsiderada e o equilíbrio do acordo permanecerá em vigor.</li>
<li>14.4 ASSIM QUE O ACORDO FOR FIRMADO, SUA DURAÇÃO SERÁ POR PRAZO INDETERMINADO, ATÉ QUE UMAS DAS PARTES MANIFESTE O INTERESSE DE ROMPIMENTO.</li>
</ul>
</p>


<p>Por favor envie relatórios de quaisquer violações para o e-mail dmca@smshare.com.br</p>

  </div>
</div>
