<p>
<h1>Assistente Financeiro</h1>
<h2>Atividades:</h2>
- Atuar na emissão de nota fiscal, fatura boleto bancários;
- Participar dos processos de contas a pagar / receber,  fluxo de caixa, manter o contato com os bancos e fornecedores;
- Realizar pagamentos a clientes e fornecedores.
<h2>Requisitos:</h2>
- Ensino Superior completo ou cursando em Administração, Ciências Contábeis ou cursos similares;
- Conhecimentos na área financeira e em rotinas das atividades de departamento financeiro / bancário;
- Conhecimento intermediário em Excel;
- Familiarizado com pacote Office;
- Goste de trabalhar em equipe.
</p>

<p>
<h1>Desenvolvedor front end.</h1>
<h2>Atividade:</h2>
- Manutenção e aprimoramento de sistemas e websites.
<h2>Requisitos:</h2>
- Ensino superior completo ou cursando acima do 2º ano em TI ou similares;
- Experiência de 2 anos ou mais em qualquer linguagem de programação;
- Conhecimento intermediário em Ruby;
- Conhecimento intermediário em javascript;
-  Familiarizado com Mongo DB e Erlang.
</p>

<p>
<h1>Animador Flash</h1>
<h2>Atividades:</h2>
- Elaboração, criação e animação de personagens, objetos, itens e ambientes para jogos.
<h2>Requisitos:</h2>
- Ensino superior completo ou cursando acima do 2º Ano em Design Gráfico, Design de Games ou cursos similares.
- Experiência de 2 anos ou mais com a ferramenta Flash;
- Experiência com as ferramentas Photoshop, Ilustrator;
- Conhecimentos em XML é diferencial;
- Criativo e dinâmico, comprometido e desenvoltura para trabalhar em equipe.
</p>

<p>
<h1>Desenvolvedor Action 3</h1>
<h2>Atividades:</h2>
- Programação em Action Script 3.
<h2>Requisitos:</h2>
- Ensino superior completo ou cursando acima do 2º Ano em Design de Games ou cursos similares;
- Experiência;
- Conhecimento avançado em Action Script 3;
- Conhecimentos em XML;
- Goste de trabalhar em equipe;
</p>

<p>
<h1>Programador Javascript com experiência em NodeJS.</h1>
<h2>Atividades:</h2>
- Criação, elaboração e manutenção de servidores e Banco de Dados.
<h2>Requisitos:</h2>
- Ensino superior completo ou cursando acima do 2º ano em TI ou similares;
- Experiência;
- Conhecimento avançado em Javascript;
- Familiarizado com node JS.
</p>

<p>
<h1>Analista de Recursos Humanos</h1>
<h2>Atividades:</h2>
- Atuar com folha de pagamento, benefícios, prestação de atendimento aos colaboradores;
- Atuar na seleção de candidatos e estagiários, recrutamento / seleção de profissionais e estagiários. Fazer a aplicação de dinâmicas, divulgação, controle de vagas, atendimento telefônico, elaborar perfis e contato com gestores.
<h2>Requisitos:</h2>
- Ensino Superior completo ou cursando na área;
- Experiência;
- Familiarizado com pacote Office;
- Goste de trabalhar em equipe.
</p>
