<div id="page-container">
  <div id="page-header">
    <div id="page-image">
      Vagas
      <span id="page-sub">
        Trabalhe conosco
      </span>
    </div>

    <p>
      Para se candidatar a uma das vagas, envie seu currículo para:
      <a href="mailto:trabalheconosco@smshare.com.br">trabalheconosco@smshare.com.br</a>
    </p>
  </div>
  <div id="content">
<p>
<h2>Assistente Financeiro</h2>
<h3>Atividades:</h3>
<ul>
<li> Atuar na emissão de nota fiscal, fatura boleto bancários;</li>
<li> Participar dos processos de contas a pagar / receber,  fluxo de caixa, manter o contato com os bancos e fornecedores;</li>
<li> Realizar pagamentos a clientes e fornecedores.</li>
</ul>
<h3>Requisitos:</h3>
<ul>
<li> Ensino Superior completo ou cursando em Administração, Ciências Contábeis ou cursos similares;</li>
<li> Conhecimentos na área financeira e em rotinas das atividades de departamento financeiro / bancário;</li>
<li> Conhecimento intermediário em Excel;</li>
<li> Familiarizado com pacote Office;</li>
<li> Goste de trabalhar em equipe.</li>
</ul>
</p>

<p>
<h2>Desenvolvedor front end.</h2>
<h3>Atividade:</h3>
<ul>
<li> Manutenção e aprimoramento de sistemas e websites.</li>
</ul>
<h3>Requisitos:</h3>
<ul>
<li> Ensino superior completo ou cursando acima do 2º ano em TI ou similares;</li>
<li> Experiência de 2 anos ou mais em qualquer linguagem de programação;</li>
<li> Conhecimento intermediário em Ruby;</li>
<li> Conhecimento intermediário em javascript;</li>
<li>  Familiarizado com Mongo DB e Erlang.</li>
</ul>
</p>

<p>
<h2>Animador Flash</h2>
<h3>Atividades:</h3>
<ul>
<li> Elaboração, criação e animação de personagens, objetos, itens e ambientes para jogos.</li>
</ul>
<h3>Requisitos:</h3>
<ul>
<li> Ensino superior completo ou cursando acima do 2º Ano em Design Gráfico, Design de Games ou cursos similares.</li>
<li> Experiência de 2 anos ou mais com a ferramenta Flash;</li>
<li> Experiência com as ferramentas Photoshop, Ilustrator;</li>
<li> Conhecimentos em XML é diferencial;</li>
<li> Criativo e dinâmico, comprometido e desenvoltura para trabalhar em equipe.</li>
</ul>
</p>

<p>
<h2>Desenvolvedor Action 3</h2>
<h3>Atividades:</h3>
<ul>
<li> Programação em Action Script 3.</li>
</ul>
<h3>Requisitos:</h3>
<ul>
<li> Ensino superior completo ou cursando acima do 2º Ano em Design de Games ou cursos similares;</li>
<li> Experiência;</li>
<li> Conhecimento avançado em Action Script 3;</li>
<li> Conhecimentos em XML;</li>
<li> Goste de trabalhar em equipe;</li>
</ul>
</p>

<p>
<h2>Programador Javascript com experiência em NodeJS.</h2>
<h3>Atividades:</h3>
<ul>
<li> Criação, elaboração e manutenção de servidores e Banco de Dados.</li>
</ul>
<h3>Requisitos:</h3>
<ul>
<li> Ensino superior completo ou cursando acima do 2º ano em TI ou similares;</li>
<li> Experiência;</li>
<li> Conhecimento avançado em Javascript;</li>
<li> Familiarizado com node JS.</li>
</ul>
</p>

<p>
<h2>Analista de Recursos Humanos</h2>
<h3>Atividades:</h3>
<ul>
<li> Atuar com folha de pagamento, benefícios, prestação de atendimento aos colaboradores;</li>
<li> Atuar na seleção de candidatos e estagiários, recrutamento / seleção de profissionais e estagiários. Fazer a aplicação de dinâmicas, divulgação, controle de vagas, atendimento telefônico, elaborar perfis e contato com gestores.</li>
</ul>
<h3>Requisitos:</h3>
<ul>
<li> Ensino Superior completo ou cursando na área;</li>
<li> Experiência;</li>
<li> Familiarizado com pacote Office;</li>
<li> Goste de trabalhar em equipe.</li>
</ul>
</p>

  </div>
</div>
