<div id="pag_container">
  <div id="pag_header">
    <div id="titulos_box">
      <div id="titulos_box">
        <div id="titulos_main">
          D.M.C.A
        </div>
        <div id="titulos_sub">
          Denunciar Abuso
        </div>
     </div>
    </div>

    <p id="first">A smShare se compromete em cumprir integralmente as exigências ditadas pela Digital Millennium Copyright Act ("DMCA"), inclusive disponibilizando avisos prévios e remoções de arquivo, e também beneficiar os portos seguros imunizando a smShare de responsabilidades em toda a extensão da lei.</p>
  </div>
  <p class="top">A smShare reserva o direito de cancelar a conta de qualquer membro que infrinja os direitos autorais de terceiros após o recebimento da devida notificação pelo proprietário do copyright ou representante legal  do mesmo. Incluídas abaixo estão os processos e procedimentos seguidos pel a smShare para resolver quaisquer reclamações de violações de propriedade intelectual:</p>

  <h2>A) Aviso por Denúncia de Violação de Propriedade Intelectual.</h2>
  <p>Se você acredita que seu trabalho foi copiado de alguma forma que constitua violação de direitos autorais, ou que seus direitos de propriedade intelectual tenham sido violados, por favor, forneça ao Agente de Direitos Autorais smShare as seguintes informações:</p>

  <ol>
    <li><span class="marker">I)</span>Uma assinatura eletrônica ou física da pessoa autorizada a agir em nome do proprietário (o Reclamante ) dos direitos autorais ou outro proprietário intelectual de interesse que tenha sido supostamente violado;</li>
    <li><span class="marker">II)</span>A descrição do trabalho com direitos autorais ou outra propriedade intelectual que o Reclamante clame ter sido violado;</li>
    <li><span class="marker">III)</span>Uma descrição de onde o material ilícito ou atividade denunciada está localizado no site, com detalhes suficientes para que possamos encontrá-lo na página;</li>
    <li><span class="marker">IV)</span>O nome, endereço, número de telefone e e-mail do Reclamante;</li>
    <li><span class="marker">V)</span>A declaração do Reclamante que, independente de intenções de boa fé, o uso disputado do material ou atividade não é autorizado pelo detentor dos direitos autorais ou propriedade intelectual, seu agente ou pela lei; e</li>
    <li><span class="marker">VI)</span>Uma declaração feita pelo Reclamante, sob pena de perjúrio, de que o Reclamante é o proprietário dos direitos autorais ou intelectual ou está autorizado a agir em nome do mesmo e que as informações fornecidas na declaração são precisas.</li>
  </ol>

  <p>O Agente da smShare de Direitos Autorais de Aviso para Alegações de Violações de Propriedade Intelectual pode ser contatado da seguinte forma:</p>

  <span class="contact">
    <span class="bold">Por E-Mail:</span><br/>
    <span class="value"><a href="mailto://dmca@smshare.com.br">dmca@smshare.com.br</a></span>
  </span>
  <span class="contact">
    <span class="bold">Por correio:</span><br/>
    <span class="value">Coronel  Joaquim Ignácio Taborda Ribas, 1455 – Bigorrilho – Curitiba/PR – Brasil</span>
  </span>

  <h2>B) Resposta a smShare para Aviso para Alegações de Violações de Propriedade Intelectual.</h2>
  <p>Após a smShare receber um Aviso para Alegações de Violações de Propriedade Intelectual, esta realizará os seguintes passos:</p>

  <ol>
    <li><span class="marker">I)</span>Prontamente remover ou desabilitar o acesso ao material ou atividade que afirmam estar a infringir;</li>
    <li><span class="marker">II)</span>Notificar o Membro responsável pela postagem da alegada violação de direitos autorais ou outros direitos de propriedade intelectual que o material ou atividade foi removido ou o acesso a ele foi desativado; e</li>
    <li><span class="marker">III)</span>Fornecer ao Membro um Formulário de Contra-Notificação delineando os passos que é obrigado a seguir se quiser responder.</li>
  </ol>

  <h2>C) Formulário de Contra-Notificação.</h2>
  <p>Se um Membro receber a notificação de que um material ou atividade postada em seu site foi removido ou desativado e o Membro queira contestar o Aviso para Alegações de Violações de Propriedade Intelectual, este deve fornecer ao Agente de Direitos Autorais da smSHare as seguintes informações:</p>
  <ol>
    <li><span class="marker">I)</span>Uma assinatura eletrônica ou física do Membro;</li>
    <li><span class="marker">II)</span>Uma descrição do trabalho com direitos autorais ou outra propriedade intelectual que tenha sido removido ou desativado e o local onde o material constava antes de ser removido ou desativado;</li>
    <li><span class="marker">III)</span>Uma declaração do membro, sob pena de perjúrio, de que o Membro crê de boa fé que o material foi removido ou desativado como resultado de um engano ou identificação errada;  e</li>
    <li><span class="marker">IV)</span>O nome do Membro, endereço, número de telefone,  e-mail e uma declaração de que o Membro concorda com a jurisdição do Tribunal Regional Federal para o distrito judicial em que a residência do Membro se localiza, caso esteja no Brasil, ou por um tribunal semelhante no país de residência do Membro. Os Membros devem igualmente fornecer uma declaração de que eles aceitarão o serviço de processo do Reclamante.</li>
  </ol>

  <h2>D) A resposta da smShare dado mediante ao recebimento de um Formulário de Contra-Notificação.</h2>
  <p>Após a smShare receber um Formulário de Contra-Notificação, o FileServe realizará os seguintes passos:</p>
  <ol>
    <li><span class="marker">I)</span>prontamente ao Reclamante uma cópia do Formulário de Contra-Notificação;</li>
    <li><span class="marker">II)</span>Informar prontamente ao Reclamante que o material removido ou desativado ou atividade será substituído ou reativado em não menos de dez (10), mas não mais de catorze (14), dias úteis, a menos que o Agente de Direitos Autorais da smShare receba a primeira notificação de que o Reclamante tenha entrado com uma ação buscando uma ordem judicial para coibir o Membro de se envolver em atividade infratora relativa ao material ou atividade no Site; e</li>
    <li><span class="marker">III)</span>Após o período na Seção (D) (2) acima ter decorrido, reinserir ou reabilitar o material desativado a menos que um aviso de ação como definido na Seção (D) (2) acima tenha sido recebida ou que o material seja determinado pela smShare a seu exclusivo critério, como potencial infrator de quaisquer direitos de propriedade intelectual.</li>
  </ol>

  <div id="bottom">
    <p>Adequando-nos aos pedidos do DMCA, ainda que os requerimentos e remoções fujam dos exigidos por esta, estes serão arquivados e aqui mantidos com referenciações.</p>
    <p>De acordo com o DMCA, adotamos uma política de extermínio, em circunstâncias adequadas e no exclusivo critério da smShare, os Membros que são considerados infratores reincidentes de direitos autorais. Podemos também em nosso exclusivo critério limitar o acesso ao Site e/ou cancelar a conta de qualquer membro que infrinja quaisquer direitos de propriedade intelectual de terceiros, havendo ou não reincidência de infração.</p>
  </div>
</div>
