<!DOCTYPE html>
<html>
  <head>
    <meta
      content="text/html; charset=UTF-8"
      http-equiv="Content-Type"
    />
  </head>
  <body>
    <h1>Welcome to SMShare, <%= @user.name %>!</h1>
    <p>This is a placeholder message.</p>
    <p>So... bye</p>
  </body>
</html>
