<!DOCTYPE html>
<html>
  <head>
    <meta
    content="text/html; charset=UTF-8"
    http-equiv="Content-Type"
    />
  </head>
  <body>
    <center>
      <div style="margin:10px auto 10px auto;width:600px;font-family:&#39;Trebuchet MS&#39;,Arial,Helvetica,sans-serif;font-size:13px;color:#ec8d00;text-align:justify">
        <div style="background:url(&#39;http://www.aliancaproject.com.br/mail/top.png&#39;) no-repeat;min-height:200px;margin:0px;padding:0px">
          <div style="text-align:center;padding-top:135px"><b style="color:#3a7386;font-size:28px">Cadastros liberados!</b></div>
        </div>
        <div style="background:url(&#39;http://www.aliancaproject.com.br/mail/bg.jpg&#39;) repeat-y;padding:0px 36px 0px 36px">
          <b style="font-size:16px">Olá,</b><br><br>
          Informamos a todos que realizaram o pré-cadastro e também participaram do nosso closed beta, que todas as funcionalidades e serviços oferecidos pela
          <a style="font-weight:bold;text-decoration:underline" href="http://www.smshare.com.br" target="_blank">smShare</a> já estão disponíveis.<br><br>
          Os cadastros já estão abertos para o público, bem como nosso sistema de 2°Nível, o qual permite que você ganhe 20% extra de tudo que for gerado 
          pelos usuários indicados através de seu link de referência.<br><br>
          A <a style="font-weight:bold;text-decoration:underline" href="http://www.smshare.com.br" target="_blank">smShare</a> se orgulha em dizer que é
          uma empresa brasileira e que oferece em uma comparação
          mundial, a melhor remuneração para webmasters interessados em compartilhar seus arquivos, pagando a proporção de R$50,00 reais a cada 1.000 downloads
          e mais R$10,00 reais a cada 1.000 downloads de contas de referenciados de 2°Nível.<br>
          <br> Também pensando na comodidade do público de seus webmasters, a
          <a style="font-weight:bold;text-decoration:underline" href="http://www.smshare.com.br" target="_blank">smShare</a>
          apresenta uma nova ferramenta, chamada downBOX, através da qual é possível realizar o download diretamente de seu site, sem necessidade de redirecionar o usuário, o qual, em fileservers comuns, se depararia com anúncios indesejados, tempos de espera e velocidade limitada. A downBOX é inteiramente customizável, possibilitando-o que deixe-a com o mesmo design de sua página web.<br>
          <br> <a href="http://www.smshare.com.br" target="_blank"><img style="margin:0px 22px 5px 0px" src="http://www.aliancaproject.com.br/mail/ganhe.png" alt="" border="0" height="143" width="161"></a><a href="http://www.smshare.com.br" target="_blank"><img style="margin:0px 22px 5px 0px" src="http://www.aliancaproject.com.br/mail/indique.png" alt="" border="0" height="143" width="161"></a><a href="http://www.smshare.com.br" target="_blank"><img style="margin:0px 0px 5px 0px" src="http://www.aliancaproject.com.br/mail/compartilhe.png" alt="" border="0" height="143" width="161"></a><br>
          <br> Para maiores informações consulte nosso guia geral e nosso F.A.Q:<br><br>
          <a style="color:#242850;text-decoration:underline" href="http://www.smshare.com.br/guide" target="_blank">http://www.smshare.com.br/<WBR>guide</a>
                <a style="color:#242850;text-decoration:underline" href="http://www.smshare.com.br/faq" target="_blank">http://www.smshare.com.br/faq</a><br>
          <br>
        </div>
        <div style="background:url(&#39;http://www.aliancaproject.com.br/mail/bottom.png&#39;) no-repeat left bottom;text-align:center;margin-top:0px"><span style="color:#b4b4b4"><br> Uma empresa do grupo:</span> <br> <br><br><br>
          <br> <br>
          <div style="padding-bottom:30px"><span style="color:#54587b">Ovo Projetos Web Ltda.</span><br> Tel. 41 3045.2108</div>
        </div>
      </div>
    </center>
  </body>
</html>
