<% page "guide" %>
<% tab "about" %>
<div id="pag_container">
  <div id="pag_header">
    <div id="titulos_box">
      <div id="titulos_box">
        <div id="titulos_main">
          Guia geral
        </div>
        <div id="titulos_sub">
          Como tudo funciona
        </div>
     </div>
    </div>

    <p id="first">Bem vindo ao Guia do smShare, aqui você encontrará as informações essenciais de como o serviço smSharing funciona. Se possuir dúvidas mais específicas, acesse nossa página de <%= link_to "Perguntas Frequentes", "/faq/general" %> ou então a seção de <%= link_to "Ajuda e Tutoriais" %> onde você poderá entender tudo de forma descontraída e animada.</p>
  </div>
  <div id="content">
    <div class="column">
      <span id="compartilhar">Quero<span id="compartilhar-right">compartilhar</span></span>
      <ul class="items">
        <li class="guide-item">
          <div class="title left">
          <span>Criando</span> uma conta gratuita <div class="arrow"></div>
          </div>
          <p class="text">O primeiro passo para quem deseja compartilhar seus arquivos através do smShare é <%= link_to "Registrar-se gratuitamente", "/cadastro" %> em nosso site. Preencha todos os campos, e lembre-se que é muito importante informar um e-mail válido, pois em caso de esquecimento da senha de acesso, só será possível recuperá-la através do seu e-mail.</p>
        </li>
        <li class="guide-item">
          <div class="title left">
          <span>Enviando</span> os seus arquivos <div class="arrow"></div>
          </div>
          <p class="text">Após se identificar com seu nome de usuário (ou e-mail) e senha, você terá acesso ao seu painel de controle através do qual será possível administrar todos seus arquivos e ganhos, além de ter acesso a várias outras informações e estatísticas. Para enviar seu arquivo, logo na página inicial do painel, será necessário preencher os campos e procurar pelo arquivo que deseja compartilhar. Com a opção de "Enviar vários arquivos" você realiza essa tarefa com muito mais facilidade. Para receber maiores downloads e ter mais lucros, recomendamos que mantenha a opção "Arquivo público" marcada, podendo assim seu arquivo ser visualizado nos resultados de busca do smSearch! Para melhorar ainda mais suas estatísticas, preencha o campo de descrição e palavras chave com termos e textos relevantes e objetivos.</p>
        </li>
        <li class="guide-item">
          <div class="title left">
          <span>Organizando</span> os seus documentos <div class="arrow"></div>
          </div>
          <p class="text">Dentro do seu painel, na opção "Gerenciador de arquivos", você encontrará todas as opções necessárias para deixar seus documentos organizados, podendo renomeá-los, deletá-los, copiá-los, e separá-los em pastas. Além do Gerenciador, você poderá acompanhar as estatísticas de downloads de cada arquivo e descobrir qual faz mais sucesso!</p>
        </li>
        <li class="guide-item">
          <div class="title left">
            <span>Compartilhando</span> os seus arquivos <div class="arrow"></div>
          </div>
          <p class="text">
            São duas opções disponíveis para compartilhar seu arquivo. A primeira e mais simples, é através de um link que lhe é entregue ao final do envio de seus arquivos. Este link pode ser adicionado em seu site ou entregue diretamente para as pessoas com as quais deseja compartilhar seu arquivo. A segunda opção, também conhecida como downBOX, trata-se de um widget prático e conveniente tanto para o webmaster como para seus usuários. Para utilizá-lo, acesse a página "Ferramentas > downBox" em seu Painel de Controle, personalize seu widget, clique no link "Gerar Código" e siga os passos de implementação. Feito isso, basta selecionar a opção "downBOX" ao final do envio de seus arquivos, copiar o código que lhe é dado e utilizá-lo em seu site.
          </p>
        </li>
        <li class="guide-item">
          <div class="title left">
          <span>Lucrando</span> com os downloads <div class="arrow"></div>
          </div>
          <p class="text">
            Além de compartilhar seus arquivos com segurança, velocidade e praticidade, para cada download feito em seu arquivo, você receberá uma remuneração fixa que independe de metas ou região, visto que este é um serviço exclusivamente brasileiro. Para cada 1.000 downloads em seus arquivos, você ganha R$50, podendo lucrar ainda R$10 para cada 1.000 downloads recebidos em arquivos de usuários indicados por você. Através de seu Painel de Controle, você terá acesso aos relatórios detalhados acessando a página "Relatórios > Ganhos" e "Relatórios > Indicações".
          </p>
        </li>
        <li class="guide-item">
          <div class="title left">
          <span>Personalizando</span> sua downBOX <div class="arrow"></div>
          </div>
          <p class="text">
            Além de uma widget prática e conveniente, a downBOX é completamente personalizável, permitindo que os webmasters criem modelos que se adequem a suas próprias interfaces. Acessando em seu Painel de Controle a página "Ferramentas > downBOX", você poderá criar sua própria combinação de cores e imagens de fundo, ou simplesmente escolher uma dentre as dezenas de opções já disponíveis em nosso sistema. Se você possui mais de um site e deseja criar modelos diferentes, é possível gerar códigos específicos para cada um deles, sem necessidade de estabelecer um padrão único para sua conta.
          </p>
        </li>
        <li class="guide-item">
          <div class="title left">
          <span>Recebendo</span> seus ganhos <div class="arrow"></div>
          </div>
          <p class="text">
            Em seu painel de controle, na página "Minha Conta > Requisitar Pagamento", você terá acesso aos fechamentos mensais e aos históricos de pagamentos já realizados. Para requisitar o saldo disponível é muito simples, basta possuir uma conta PayPal e preencher seu email de identificação. A quantia mínima para pagamento é de R$50, e uma vez requisitada, será informado a data limite prevista para o pagamento.
          </p>
        </li>
      </ul>
    </div>

    <div class="column">
      <span id="baixar">Quero<span id="baixar-right">baixar</span></span>
      <ul class="items">
        <li class="guide-item">
          <div class="title right">
          <span>Requisitando</span> uma senha <div class="arrow"></div>
          </div>
          <p class="text">Para poder baixar o arquivo que deseja, você deverá enviar um SMS com a palavra SMXR para o número 49602. Assim que sua operadora indicar que você possui créditos necessários para baixar o arquivo, automaticamente você receberá uma mensagem de resposta com uma senha.</p>
        </li>
        <li class="guide-item">
          <div class="title right">
          <span>Baixando</span> o arquivo desejado <div class="arrow"></div>
          </div>

          <p class="text">Utilize a senha que recebeu por SMS para preencher o campo indicado e clique em "Download", aguarde carregar seu arquivo e pronto!</p>
        </li>
        <li class="guide-item">
          <div class="title right">
          <span>Buscando</span> arquivos específicos <div class="arrow"></div>
          </div>
          <p class="text">
            Através de nosso sistema interno de busca, o smSearch, é possível procurar por arquivos públicos enviados por nossos usuários. Assim, não será necessário procurar em diversos sites por arquivos de conteúdos distintos, podendo encontrá-los todos aqui, em um mesmo lugar.
          </p>
        </li>
        <li class="guide-item">
          <div class="title right">
          <span>Comentando</span> sobre os arquivos <div class="arrow"></div>
          </div>
          <p class="text">Sua opinião e participação são muito importantes para enriquecer cada dia mais o nosso serviço. Se você baixou um arquivo e gostou, comente sobre ele. Se já conhece o material que está sendo compartilhado, acrescente informações que acredita serem importantes, para isso basta acessar o link do arquivo que deseja comentar.</p>
        </li>
        <li class="guide-item">
          <div class="title right">
          <span>Avaliando</span> os arquivos <div class="arrow"></div>
          </div>
          <p class="text">
            Considerando que o smSearch não é responsável pela veracidade e qualidade dos arquivos compartilhados através de seu sistema, a participação dos usuários é essencial para construir uma rede de compartilhamento sólida e confiável. Além de comentar sobre os arquivos que baixou, é possível atribuir uma nota a ele, de forma que estas avaliações sejam parâmetros aos próximos usuários que estejam em dúvida com relação a procedência deste arquivo. Se desejar, é possível avaliar o conteúdo sem que haja necessidade de comentar, basta selecionar quantas estrelas deseja atribuir e então clicar no botão "Enviar".
          </p>
        </li>
        <li class="guide-item">
          <div class="title right">
          <span>Indicando</span> através de indicadores sociais <div src="/images/guia/arrow_down.png" class="arrow"></div>
          </div>
          <p class="text">
            Se você desejar indicar esse arquivo através de redes ou marcadores sociais, são disponibilizadas várias das principais opções, tais como Twitter, Facebook, Google+, Orkut, Blooger entre outros. Quanto mais compartilhamentos de conteúdo, maior nossa rede se torna e mais relevante se torna para todos vocês, usuários.
          </p>
        </li>
        <li class="guide-item">
          <div class="title right">
          <span>Participando</span> pelo twitter <div class="arrow"></div>
          </div>
          <p class="text">
            Gostaria de sugerir, reportar ou indicar algo para o grupo smShare? Siga-nos no twitter (@smSharing) e participe, essa é a maneira mais fácil rápida e sem burocracias para entrar em contato conosco e compartilhar com todos a sua opinião sobre o serviço smSharing.
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>


<div id="search" class="container">
  <%= render :partial => "layouts/search" %>
</div>
