<% page "guide" %>
<% tab "about" %>
<div id="guide-container">
  <div id="guide-header">
    <div id="guide-image">
      Guia geral
      <span id="guide-sub">
        Como tudo funciona
      </span>
    </div>
    
    <p>Bem vindo ao Guia do smShare, aqui você encontrará as informações essenciais de como o serviço smSharing funciona. Se possuir dúvidas mais específicas, acesse nossa página de <%= link_to "Perguntas Frequentes", "/faq/general" %> ou então a seção de <%= link_to "Ajuda e Tutoriais" %> onde você poderá entender tudo de forma descontraída e animada.</p>
  </div>
  <div id="content">
    <div class="column">
      <span id="compartilhar">Quero<span id="compartilhar-right">compartilhar</span></span>
      <ul class="items">
        <li class="guide-item">
          <div class="title left">
          <span>Criando</span> uma conta gratuita <div class="arrow"></div>
          </div>
          <p class="text">O primeiro passo para quem deseja compartilhar seus arquivos através do smShare é <%= link_to "Registrar-se gratuitamente", "/cadastro" %> em nosso site. Preencha todos os campos, e lembre-se que é muito importante informar um e-mail válido, pois em caso de esquecimento da senha de acesso, só será possível recuperá-la através do seu e-mail.</p>
        </li>
        <li class="guide-item">
          <div class="title left">
          <span>Enviando</span> os seus arquivos <div class="arrow"></div>
          </div>
          <p class="text">Após se identificar com seu nome de usuário (ou e-mail) e senha, você terá acesso ao seu painel de controle através do qual será possível administrar todos seus arquivos e ganhos, além de ter acesso a várias outras informações e estatísticas. Para enviar seu arquivo, logo na página inicial do painel, será necessário preencher os campos e procurar pelo arquivo que deseja compartilhar. Com a opção de "Enviar vários arquivos" você realiza essa tarefa com muito mais facilidade. Para receber maiores downloads e ter mais lucros, recomendamos que mantenha a opção "Arquivo público" marcada, podendo assim seu arquivo ser visualizado nos resultados de busca do smSearch! Para melhorar ainda mais suas estatísticas, preencha o campo de descrição e palavras chave com termos e textos relevantes e objetivos.</p>
        </li>
        <li class="guide-item">
          <div class="title left">
          <span>Organizando</span> os seus documentos <div class="arrow"></div>
          </div>
          <p class="text">Dentro do seu painel, na opção "Gerenciador de arquivos", você encontrará todas as opções necessárias para deixar seus documentos organizados, podendo renomeá-los, deletá-los, copiá-los, e separá-los em pastas. Além do Gerenciador, você poderá acompanhar as estatísticas de downloads de cada arquivo e descobrir qual faz mais sucesso!</p>
        </li>
        <li class="guide-item">
          <div class="title left">
          <span>Compartilhando</span> os seus arquivos <div class="arrow"></div>
          </div>
          <p class="text"></p>
        </li>
        <li class="guide-item">
          <div class="title left">
          <span>Lucrando</span> com os downloads <div class="arrow"></div>
          </div>
          <p class="text"></p>
        </li>
        <li class="guide-item">
          <div class="title left">
          <span>Aproveitando</span> outras vantagens <div class="arrow"></div>
          </div>
          <p class="text"></p>
        </li>
        <li class="guide-item">
          <div class="title left">
          <span>Personalizando</span> sua caixa de download <div class="arrow"></div>
          </div>
          <p class="text"></p>
        </li>
        <li class="guide-item">
          <div class="title left">
          <span>Recebendo</span> seus ganhos <div class="arrow"></div>
          </div>
          <p class="text"></p>
        </li>
      </ul>
    </div>
    
    <div class="column">
      <span id="baixar">Quero<span id="baixar-right">baixar</span></span>
      <ul class="items">
        <li class="guide-item">
          <div class="title right">
          <span>Requisitando</span> uma senha <div class="arrow"></div>
          </div>
          <p class="text">Para poder baixar o arquivo que deseja, você deverá enviar um SMS com a palavra SMSHARE para o número 49794. Assim que sua operadora indicar que você possui créditos necessários para baixar o arquivo, automaticamente você receberá uma mensagem de resposta com uma senha.</p>
        </li>
        <li class="guide-item">
          <div class="title right">
          <span>Baixando</span> o arquivo desejado <div class="arrow"></div>
          </div>
          
          <p class="text">Utilize a senha que recebeu por SMS para preencher o campo indicado e clique em "Download", aguarde carregar seu arquivo e pronto!</p>
        </li>
        <li class="guide-item">
          <div class="title right">
          <span>Buscando</span> arquivos específicos <div class="arrow"></div>
          </div>
          <p class="text"></p>
        </li>
        <li class="guide-item">
          <div class="title right">
          <span>Comentando</span> sobre os arquivos <div class="arrow"></div>
          </div>
          <p class="text">Sua opinião e participação são muito importantes para enriquecer cada dia mais o nosso serviço. Se você baixou um arquivo e gostou, comente sobre ele. Se já conhece o material que está sendo compartilhado, acrescente informações que acredita serem importantes, para isso basta acessar o link do arquivo que deseja comentar.</p>
        </li>
        <li class="guide-item">
          <div class="title right">
          <span>Avaliando</span> os arquivos <div class="arrow"></div>
          </div>
          <p class="text"></p>
        </li>
        <li class="guide-item">
          <div class="title right">
          <span>Indicando</span> através de marcadores sociais <div src="/images/guia/arrow_down.png" class="arrow"></div>
          </div>
          <p class="text"></p>
        </li>
        <li class="guide-item">
          <div class="title right">
          <span>Participando</span> pelo twitter <div class="arrow"></div>
          </div>
          <p class="text"></p>
        </li>
      </ul>
    </div>
  </div>
</div>


<div id="search" class="container">
  <%= render :partial => "layouts/search" %>
</div>
