<% faq_tab "downloading" %>
<ul id="questions">
  <li class="faq-item">
    <p class="question">
      Preciso criar uma conta para compartilhar meus arquivos?
    </p>
    <p class="answer">
      Sim, criar uma conta é o primeiro passo para poder enviar seus arquivos, no entanto, se deseja apenas baixar os arquivos, isso poderá ser feito sem a necessidade de uma conta.
    </p>
  </li>
  <li class="faq-item">
    <p class="question">
      É cobrado algo para se registrar no site?
    </p>
    <p class="answer">
      Não, a conta criada é gratuita e você ainda poderá ganhar com os downloads feitos nos arquivos que enviar para ela.
    </p>
  </li>
  <li class="faq-item">
    <p class="question">
      O que exatamente devo fazer para baixar os arquivos hospedados no smShare?
    </p>
    <p class="answer">
      São dois passos muito simples:<br/>
      1º Envie um SMS com a palavra SMSHARE para o número 49794<br/>
      2º Em alguns segundos você receberá uma SMS com uma senha, preencha o campo com essa senha e clique em Download.
    </p>
  </li>
</ul>
