<ul id="questions">
  <li>
    <p class="question">
      Preciso criar uma conta para compartilhar meus arquivos?
    </p>
    <p class="answer">
      Sim, criar uma conta é o primeiro passo para poder enviar seus arquivos.
    </p>
  </li>
  <li>
    <p class="question">
      Preciso criar uma conta para compartilhar meus arquivos?
    </p>
    <p class="answer">
      Sim, criar uma conta é o primeiro passo para poder enviar seus arquivos.
    </p>
  </li>
</ul>
