<%= link_to image_tag("layouts/logos/smshare.png"), root_path %>

<ul id="header-login">
  <li id="login-link"><%= link_to "Login", new_user_session_path %></li>
  <li id="signup-link"><%= link_to "Registrar Gratuitamente", new_user_registration_path %></li>
</ul>

<%= render :partial => "layouts/menus/header" %>