<div class="section" id="smshare-menu">
  <span class="title">sm<span class="special-s"><span>S</span></span>hare</span>
  <ul>
    <li class="active">Página principal</li>
    <li>Notícias</li>
    <li>Twitter</li>
    <li>Feed RSS</li>
    <li>Denunciar abuso</li>
  </ul>
</div>

<div class="section" id="webmasters-menu">
  <span class="title">Webmasters</span>
  <ul>
    <li>Envie seus arquivos</li>
    <li>Organize seus documentos</li>
    <li>Compartilhe seus arquivos</li>
    <li>Lucre com os downloads $$</li>
    <li>Tenha vantagens</li>
  </ul> 
</div>

<div class="section" id="smsearch-menu">
  <span class="title">sm<span class="special-s"><span>S</span></span>earch</span>
  <ul>
    <li>Procurar arquivos</li>
    <li>Todas as categorias</li>
    <li>Arquivos mais baixados</li>
    <li>Arquivos mais comentados</li>
    <li>Arquivos favoritos</li>
  </ul>
</div>

<div class="section" id="about-menu">
  <span class="title">Sobre</span>
  <ul>
    <li>Guia geral</li>
    <li>Perguntas frequentes (FAQ)</li>
    <li>Ajuda/Tutoriais</li>
  </ul>
</div>

<div class="section" id="institutional-menu">
  <span class="title">Institucional</span>  
  <ul>
    <li>Imprensa</li>
    <li>Trabalhe conosco</li>
    <li>A empresa</li>
    <li>Fale Conosco</li>
  </ul>
</div>
  
  